[2020-06-05 11:12] rnorth commented on #699
I've amended #1406 to reflect that it's not just image digests we need to load into our image name cache, it's also image IDs. That ought to prevent us from attempting to pull images in this kind of scenario.

[2020-06-05 12:09] bsideup commented on #2833
@skipidar glad to see that you got it solved.

FTR I would advice against any use of fixed ports (spoiler - not even because of the ports!):
https://bsideup.github.io/posts/testcontainers_fixed_ports/

[2020-06-05 12:31] britter commented on #699
Thanks @rnorth reading the original issue description again I think @mkobit was talking about SHA256 digests and not about image IDs. Thus I think the issue title should be rephrased.

[2020-06-05 13:03] TheOneAndOnlyAndreKempe opened #2838 ".withReuse(true) doesn't work for containers within a dedicated network"
Hej guys,

we're trying to get two containers within a dedicated network to work with the new reuse-capabilities. However to no avail. A new set of containers is started whenever the tests are being run. I reproduced the scenario using the network-example
[code]
Output of the first run:
[code]

Output of the second run:
[code]
When I remove the usage of the network, the containers are reused as ex

[2020-06-05 13:04] bsideup commented on #2838
As stated in https://github.com/testcontainers/testcontainers-java/pull/1781 , the networks are not supported yet.

Keep it mind that "Reusable Containers" is still WIP. There are some ideas how to support networks, but it requires quite some effort that will follow later.

[2020-06-05 13:04] #2838 closed

[2020-06-05 15:18] borisborowsky commented on #2837
Btw is there a way to use publish or detach, somehow with the library ?

[2020-06-05 15:53] bsideup commented on #2837
for publish see https://www.testcontainers.org/features/networking/#exposing-container-ports-to-the-host

detach - you don't really need it, since it is Docker CLI's feature (to start in background), while in Testcontainers everything is "started in background", if one can call it so

[2020-06-05 21:22] #2050 closed

[2020-06-06 21:37] #2368 closed

[2020-06-08 14:23] sm0g opened #2853 "Unable to start KafkaContainer: Unresolved address"
Hello everyone. I created SpringBoot app that uses Tescontainers. It works locally but fails at Jenkins side (Jenkins ver. 2.89.1)

**Configuration:**
Server Version: 1.13.1
API Version: 1.26
Operating System: Red Hat Enterprise Linux
Total Memory: 128637 MB

Testcontainers ver: 1.14.2
Kafka image: 5.3.1

**Container creation:**
`
KafkaContainerWrapper(Network network) {
        super("5.3.1");

[2020-06-08 15:56] borisborowsky opened #2854 "Can't use @Container in multiple tests classes (Spring-boot app)"
I have the following code in two test classes in spring-boot app. When I try to run one of them I got the error "java.lang.IllegalStateException: Mapped port can only be obtained after the container is started". The strange thing is if I comment out @Container in one of the test classes the error is gone. I have tried with Junit4 and @BeforeClass annotation, it's the same issue. Do i miss somethin

[2020-06-08 23:42] gAmUssA commented on #1816
@pancudaniel7 could you share a reproducer?
Thank you

[2020-06-08 23:57] #2853 closed

[2020-06-09 16:43] KraTos5589 commented on #2373
@bsideup @rnorth Can you guys please review the PR associated with this

[2020-06-09 18:15] daschl commented on #2802
If people read this and are interested in a "fix": couchbase server 6.6 and later is for the operations in question switching to a coarse clock which should bring back the cpu even if the source switches to HPET (https://issues.couchbase.com/browse/MB-39618)

[2020-06-09 18:17] daschl commented on #2802
@rnorth I know you don't like to bump container db versions, but it might make sense to bump once 6.6 is released to avoid this papercut (workaround would be to restart docker on mac, but if some virtualized environments run on HPET this might be the only way to work around it properly). Note that 6.6 is a bit out at this point, I can make a PR once it is released.

[2020-06-09 19:18] MrBuddyCasino opened #2855 "Allow remote execution"
I'd like to run Docker remotely on a beefy desktop machine, and run the IDE on my laptop. This works fine with docker-compose with a simple SSH session and port forwardings, but testcontainers use random ports.

I would like to have support for fixed ports, depending on a setting in `testcontainers.properties`. I could implemented it myself if you don't totally hate the idea.

Or maybe there is an

[2020-06-09 19:23] bsideup commented on #2855
Testcontainers already supports remote Docker execution (just make sure you're not using the file system binds).

Regarding the fixed ports, we do not like them in general. You will find some of the motivation in this blog post:
https://bsideup.github.io/posts/testcontainers_fixed_ports/

You may experiment with doing port forwarding, but some containers (like Kafka) simply won't work due to the w

[2020-06-09 19:40] MrBuddyCasino commented on #2855
I see there is `EnvironmentAndSystemPropertyClientProviderStrategy`, its even configurable via `docker-java.properties`, very nice!

I'm thinking that I could simply use a Tailscale VPN between my machines, that way I don't have to forward single ports. The problem with that is that the Windows Docker Desktop daemon port only listens to 127.0.0.1, if I could only make it listen on all interfaces o

[2020-06-09 20:05] rnorth commented on #2855
Yeah, I agree with @bsideup - fixed ports are such a false economy, and there's almost always a better solution to be found.

I definitely understand your pain and motivation though, as someone with an underpowered laptop 😁

That's a good idea - basically anything that lets you access any of the docker host's ports, but without the security downsides of opening it up to the world.

This is possibl

[2020-06-09 20:36] MrBuddyCasino commented on #2855
Alright, I think I've cracked it!
This is my setup for macOS as a client and Windows 10 as a docker host:

On the Mac:
`~/.testcontainers.properties`
docker.client.strategy=org.testcontainers.dockerclient.EnvironmentAndSystemPropertyClientProviderStrategy

`~/.docker-java.properties`
DOCKER_HOST=tcp://Tailscale IP:2375
DOCKER_TLS_VERIFY=0

On Windows:

Run in an elevated command prompt to forward

[2020-06-10 08:06] MrBuddyCasino commented on #2855
Posted this on SO, its easier to find there and and might reduce the number of GH issues opened by dudes like me: https://stackoverflow.com/questions/62298539/

[2020-06-10 08:06] #2855 closed

[2020-06-10 08:11] rnorth commented on #2855
Wow, that's really quite cool. Thanks for sharing your solution!

[2020-06-10 10:09] Aleksandr-Filichkin opened #2856 "Docker inside docker: InternalServerErrorException: {"message":"layer does not exist"}"
testcontainers.version 1.14.3

We have every second build the issue on our Jenkins(docker agent). Sometimes it works sometimes doesn't

[code]

[2020-06-10 10:11] bsideup commented on #2856
This error comes from Docker. I see that you're using a very old version of Docker:

Consider upgrading it. I doubt there is anything we can do on Testcontainers' side.

[2020-06-10 10:11] #2856 closed

[2020-06-10 10:22] Aleksandr-Filichkin commented on #2856
O, but in documentation, we have other requirements:
https://www.testcontainers.org/supported_docker_environment/
Can you update it?

[2020-06-10 10:24] bsideup commented on #2856
@Aleksandr-Filichkin as you said, it works, but not always. The nature of software kinda dictates that if you want it to be more stable, you need to keep it up-to-date :D

[2020-06-10 10:41] pawelebe opened #2857 "Make it possible to use build docker image using BuildKit"
As per Docker release `18.09` it is possible to mount cache (using BuildKit) [explained](https://docs.docker.com/develop/develop-images/build_enhancements/)

Example dockerfile
[code]

However when build such image, it is gives an error
[code]

Code to build:
[code]

I order to build such docker image from CLI, you need to set `DOCKER_BUILDKIT=1` in order to use buildkit.

While analyzing docker c

[2020-06-10 10:44] bsideup commented on #2857
AFAIK `BuildKit` isn't just a Docker API call, but a whole new API.

Given that even Docker's official Python library (that is used in Docker Compose) [have decided that it is easier to delegate it to an external binary](https://github.com/docker/docker-py/issues/2230), I am not sure there is much we can do here, unless we do the same (call `docker build` which will require Docker CLI).

/cc @rnor

[2020-06-10 16:49] MrBuddyCasino opened #2858 "MongoDBContainer doesn't use Network.SHARED"
This cost me quite some time to figure out.
I couldn't find the module, otherwise I'd made a PR.

[2020-06-10 16:50] #2858 closed, assigned to nobody

[2020-06-11 11:53] jayarjo opened #2859 "Use a checksum of Dockerfile as a name for the resulting image"
There's a functionality to create image from Dockerfile [on the fly](https://www.testcontainers.org/features/creating_images/), which is nice, but I quote:

Which is kind of a terrible idea. It's currently neutralized by the fact that:

However why not have an option to retain that image for later re-use, if dev so desires? And while there can be an option to enable such behavior, meanwhile why no

[2020-06-11 12:23] rnorth commented on #2859
Uhm, the name of the image (a tag) is just a label. The layers that make up the image are already uniquely identified by SHA256 checksums based upon their content (Dockerfile plus any files that are copied in, etc).

You already can retain an image for re-use - just use the `ImageFromDockerfile(String dockerImageName, boolean deleteOnExit)` constructor and pass in a sensible name as the first para

[2020-06-12 14:46] juwit opened #2860 "classes conflict when using docker-java for production code"
Hi there !

First, thank you for the great work. I use testcontainers since a few months, and it's great !

I have an issue in one of my app using :
* docker-java 3.2.2 for production code, with transport-zerodep
* testcontainers 1.14.3 for integration testing

This kind of code raises a `NoSuchMethodError` when executed in an integration test :
[code]
[code]

When digging a little, I found out th

[2020-06-12 15:43] saeed-aghaee commented on #2239
I' having the same issue with 1.14.3 and Jenkins.

{"message":"network bridge not found"}

[2020-06-12 19:14] bsideup commented on #2860
Hi @juwit,

First of all, thanks for upgrading to the latest version of `docker-java` and _especially_ for trying the `zerodep` (aka Apache HttpClient5) transport! :)

There is indeed an issue when both libraries are used. The history of it is full of hard decisions, where `docker-java`'s set of dependencies was so hard to have that we decided to re-shade it and include into Testcontainers' jar.

[2020-06-12 19:34] everlylfc commented on #2193
Having this would have saved me hours of research, so here is what I used for anyone who needs it:
[code]

This gives you a container to work with. You still need to set up the FDB cluster file and create the database and so on.

[2020-06-12 21:24] findepi opened #2863 "OutOfMemoryError when copyFileToContainer used on large file"
I want to copy a large installation archive into a container using `GenericContainer#withCopyFileToContainer`
Since the process runs with certain ("reasonable") `-Xmx`, it hits a limit:

[code]

[2020-06-13 07:45] #2385 closed

[2020-06-13 07:45] #2127 closed

[2020-06-13 12:36] juwit commented on #2860
Hi @bsideup

Thank you for your reply.

I upgraded to docker-java 3.2.2, and used okhttp-transport with this snippet :

[code]

I'll wait for the testcontainers 1.15 release to switch to the zerodep transport (couldn't make it work)

You're doing great work with docker-java, I may open a few issues, or maybe contribute to it if I can find the time to do so.

[2020-06-13 19:54] tdanylchuk commented on #2854
@igouss you may try https://github.com/testcontainers/testcontainers-spring-boot/tree/develop/embedded-redis with spring boot, should simplify your test code a bit

[2020-06-13 20:47] findepi commented on #2218
I agree with @cobexer that use of Lombok decreases "user experience" when stepping through the code, because sources do not match.

My experience is also that use of Lombok makes it harder for me to contribute to the project.

[2020-06-14 13:02] quincy commented on #2218
I also agree.  Lombok achieves a nice goal in the worst way possible.I have no problem working with projects which use [Immutables](https://immutables.github.io/) or [Autovalue](https://github.com/google/auto/tree/master/value), because these projects achieve similar results as Lombok through interfaces you control.  I feel that Lombok obfuscates code in order to reduce boilerplate.

[2020-06-14 13:48] findepi commented on #2218
@quincy i agree, but I think this is also subjective. I am sure @bsideup has no problem working with Lombok, otherwise Lombok would be gone already.
Let's focus on objective pros and cons of Lombok, leaving the final judgement to project maintainers.

For example: "Lombok makes it harder for me to contribute to the project" is an objective statement...  about myself (at least)
And "Lombok makes it

[2020-06-14 15:13] doctorpangloss opened #2876 "Allow users to specify a `mongo` database name"
https://github.com/testcontainers/testcontainers-java/blob/556659751849dfb06313f46a6560d5a194efd035/modules/mongodb/src/main/java/org/testcontainers/containers/MongoDBContainer.java#L22

[2020-06-14 19:45] pivovarit commented on #2876
Why do you need it?

You can just access/create a custom instance using `MongoClient#getDatabase()`

[2020-06-14 20:27] quincy commented on #2218
Lombok's code generation creates difficulties because it modifies the AST directly at compile time, (something which was supposed to be forbidden by annotation processors).  This results in methods which only exist at runtime and which have no interface declaring their existence.  Testing, refactoring, and reading are all harmed by this.

If you look at the Immutables library, it achieves similar

[2020-06-15 05:18] ganapathi004 commented on #2127
@aguibert Is this feature on the roadmap or is it being implemented in some other way?

[2020-06-15 07:28] #2393 closed

[2020-06-15 09:23] vmassol opened #2877 "The cleanup is missing between the startup attempts"
When `BrowserWebDriverContainer#containerIsStarted()` fails to construct the WebDriver object, TC tries to restart it, up to 3 times, leading to several containers running.

This is because `GenericContainer#doStart()`does:

[code]

And BrowserWebDriverContainer has a retry set to 3 (see https://github.com/testcontainers/testcontainers-java/blob/master/modules/selenium/src/main/java/org/testcontai

[2020-06-15 09:24] bsideup commented on #2877
After looking at the issue, I get a feeling that `setStartupAttempts` makes very little sense (or should be reworked and perform a cleanup between the attempts)

I've changed the scope of the issue to a broader one, about the startup attempts 👍

[2020-06-15 09:35] vmassol opened #2878 "MySQL container started message is misleading"
Hi,

Very regularly we see that the MySQL container fails to start under the default 2mn timeout (120s). We've even increased that to 4mn and still fails (I've now increased it to 15mn to see what happens).

Anyway the point is that TC tries issue a SQL query to verify it's started during the defined timeout and if it doesn't succeed it just says that the DB is started, with:

[code]

What happens

[2020-06-15 14:47] Mingela opened #2879 "Compose container waitingFor does not work"
Hello folks!

I faced the issue using testcontainers 1.10.2. waitingFor does not work. Totally.
I tried many approaches but the only successful one is to use the most recent version which is 1.14.3.

I used `.withLocalCompose(true)`

The next log output line (related to the test code) has appeared immediately after `Docker Compose has finished running`. I tried all of the relevant waiting strategi

[2020-06-15 16:29] vcvitaly commented on #2878
@bsideup I could take it

[2020-06-15 17:03] elijah-pl commented on #2493
@alex-arana Did you manage to find a workaround?

[2020-06-15 20:54] aguibert commented on #2127
not sure, I wanted to get feedback from maintainers before I spent the time to implement such a feature.

@bsideup do you have thoughts on this proposal?

[2020-06-16 04:26] rnorth commented on #2879
Hi @Mingela

1.10.2 is pretty far behind - it’s not all that surprising that there are bugs that have been fixed in later releases, and we can’t support old versions.

Please could you upgrade?

Newer versions do not allow use of `container_name` because it conflicts with providing isolation between test runs. There aren’t normally any strong reasons to set that value, so hopefully it’s something

[2020-06-16 04:26] #2879 closed

[2020-06-16 04:33] rnorth commented on #2114
Sorry @rashtao
Yes, if this is still an issue for you we’d accept a PR to add arbitrary headers to the HTTP wait strategy.

[2020-06-16 04:36] rnorth commented on #2193
Please avoid using FixedHostPortGenericContainer - it’s really risky in terms of port conflicts, and we will be moving to deprecate it.

[2020-06-16 04:39] rnorth commented on #2239
@SudhakarKonduru @saeed-aghaee
Yikes, I almost missed this (comments on closed issues tend not to get noticed). Please could you raise a new issue, as I think this is a new bug related to, but not the same as this one.

[2020-06-16 09:54] Mingela opened #2881 "LogMessageWaitStrategy does not work for compose based restarting containers"
Hello!

The case is following:
- docker-compose.yml with services A, B, C
- B depends on A
- C depends on B and A
- withLocalCompose(true)

A starts quite quickly, B start takes ~40 seconds
While B is unavailable C keeps restarting

- Tried Wait.forLogMessage() for A - works
- Tried Wait.forLogMessage() for B - works
- Tried Wait.forLogMessage() for C - `Timed out waiting for log output matching <

[2020-06-16 09:59] bsideup commented on #2860
@juwit thanks for your kind feedback :)

FYI I just submitted https://github.com/testcontainers/testcontainers-java/pull/2882 for that.

I will close this issue since it is a duplicate of #1113

[2020-06-16 09:59] #2860 closed

[2020-06-16 09:59] bsideup commented on #1113
https://github.com/testcontainers/testcontainers-java/pull/2882 submitted

[2020-06-16 14:17] vmassol opened #2884 "Docker volumes created by TC not being removed"
Hi, reporting what was discussed at https://testcontainers.slack.com/archives/C1SUBPZK6/p1590522616469300 about docker volumes not being cleaned on XWiki.

The issue is still present and there are hundreds more volumes added each day to your agents that are not cleaned.

Let me know if there's anything I can do to help debugging it.

Thanks

[2020-06-16 14:48] rnorth commented on #2884
Thanks - I think we'll have some work to do to reproduce.

If anyone else has this issue, please do comment, as to our knowledge this is not a common issue.

[2020-06-16 15:09] bsideup commented on #2884
FTR I checked our self-hosted Windows node that runs hundreds of builds per week and there wasn't a single dangling volume.

@vmassol do you explicitly create volumes in your tests?

[2020-06-16 15:14] vmassol commented on #2884
@bsideup we do https://github.com/xwiki/xwiki-platform/blob/eaced75f5a08b4131e36504fb5f6c71d6b392fa8/xwiki-platform-core/xwiki-platform-test/xwiki-platform-test-docker/src/main/java/org/xwiki/test/docker/internal/junit5/AbstractContainerExecutor.java#L78

[2020-06-16 15:14] vmassol commented on #2884
@bsideup Are we supposed to clean this up?

[2020-06-16 15:16] bsideup commented on #2884
@vmassol this does not create a volume. Even `withFileSystemBind` won't.

Could you please `docker inspect` some of the dangling volumes and post it here?

[2020-06-16 15:27] vmassol commented on #2884
Ok was going to ask since we use that.

It doesn't show much:

[code]

One thing to note and one idea: we use Jenkins with the Docker Cloud plugin which means that docker agents are provisioned as docker containers. It could be possible that it would be jenkins not cleaning the volumes I guess. It's started with 3 volumes mounted:

[code]

FTR I did a docker inspect on a running docker container f

[2020-06-16 15:29] bsideup commented on #2884
@vmassol we assign `org.testcontainers=true` volume to the containers we create, which should also assign it to the volumes.
`"Labels": null,` makes me think that your problem is completely unrelated to Testcontainers.

[2020-06-16 15:50] vmassol commented on #2884
@bsideup yes I agree. Sorry for this false alarm. It seems the issue is with Jenkins and not TC. I have just found that Jenkins has an option to remove volumes that is off by default. Will try it.

[2020-06-16 15:50] #2884 closed

[2020-06-17 08:55] Mingela opened #2886 "DockerComposeContainer withExposedService default wait strategy fails"
Hello again :)

Since I can't use `container_name` in my `docker-compose.yml` I have to dynamically set the configuration of a service via environment variables. To do so I call `.getServiceHost()` and `.getServicePort()` to retrieve the values. In order to be able to call them I need to add `.withExposedService()` to my `DockerComposeContainer` instance (that is already strange as I could just ha

[2020-06-17 13:28] pmpred opened #2887 "withMemory method of CreateContainerCmd deprecated"
Hi,

I try to limit the memory use by the container I want to launch following this url : https://www.testcontainers.org/features/advanced_options/

`val container = new ElasticsearchContainer("elastic/elasticsearch:7.7.0") // for icu related plugins
        .withCreateContainerCmdModifier(
          new Consumer[CreateContainerCmd]() {
            override def accept(t: CreateContainerCmd): Unit

[2020-06-17 13:28] bsideup commented on #2887
This is `docker-java`'s method. See https://github.com/docker-java/docker-java/issues/1281

[2020-06-17 13:28] #2887 closed

[2020-06-17 16:13] #2402 closed

[2020-06-19 09:00] #2369 closed

[2020-06-19 09:29] LionH commented on #675
I can see another use case.
In our case, we're using testContainers for integration test. For some cases, we want to spin up a mongodb container with a qa dump. A mongorestore takes long but if we were able to just mount the named volume to the MongoDBContainer, it would be almost instantaneous.
I'm not sure if it is the best approach, nevertheless. I'm open for discussion on alternative.
Thank yo

[2020-06-19 17:10] LionH commented on #675
For those trying to achieve what I was mentioning above:

    @ClassRule
    public static MongoDBContainer mongo = new MongoDBContainer()
        .withCreateContainerCmdModifier(cmd -> cmd
        .withBinds(Bind.parse("mongodb_data:/data/db")));

[2020-06-21 06:32] thomasreiser opened #2916 "Unable to fetch Selenium-Image (Chrome / Firefox)"
I started using Testcontainers for containerized Browser tests but the systems is unable to fetch the corresponding images (I am able to fetch Postgres and Redis images via Testcontainers without any problems):

[code]

It seems like Testcontainers is somehow receiving invalid (?) data from docker.io?

**Caused by: com.github.dockerjava.api.exception.InternalServerErrorException: {"message":"Get h

[2020-06-21 06:54] bsideup commented on #2916
@thomasreiser this error comes from Docker when it attempts to pull an image. Consider reporting it in Docker's issue tracker.

[2020-06-21 06:54] #2916 closed

[2020-06-21 09:24] #2102 closed

[2020-06-21 09:48] thomasreiser commented on #2916
@bsideup thank you, will do so. Seems to be an Docker For Windows problem.

[2020-06-22 05:07] Sammers21 opened #2917 "How to wait for container exit?"
There is no strategy for that at the moment.

[2020-06-22 14:41] Himanshurock opened #2920 "Is testcontainer support codefresh?"
I want to use testcontainer for Integration test in codefresh CI/CD pipeline. Is there is any way i can use this. As  codefresh just support service container for Integration test.

[2020-06-22 14:56] bsideup commented on #2920
Testcontainers works everywhere, as long as it can access a running Docker daemon. Please check codefresh's docs on the Docker support.

[2020-06-22 14:56] #2920 closed

[2020-06-22 21:42] SudhakarKonduru opened #2921 "On Jenkins test container throws network bridge not found"
I am using Postgesql/Mangodb test container for integration testing. And everything works fine in development setups.

Following is the error. I tied with 1.14.0, 1.14.3
[ERROR] Tests run: 1, Failures: 0, Errors: 1, Skipped: 0, Time elapsed: 0.068 s <<< FAILURE! - in package.DaoTCTest
[ERROR] package.ReadPlanDaoTCTest Time elapsed: 0.006 s <<< ERROR!
org.testcontainers.containers.ContainerLaunchEx

[2020-06-22 21:43] SudhakarKonduru commented on #2239
Thank you. Created new one: https://github.com/testcontainers/testcontainers-java/issues/2921

[2020-06-22 23:04] ekis opened #2923 "DockerComposeContainer strategy that waits on an endpoint in another container"
I am trying to understand if there is a way to configure a waiting strategy such that one container waits until another one returns an expected HTTP status code.

The containers are run as local compose containers and right now, I am using a curl script to do this check (one that I was hoping to eliminate by using this library).

Here is a code excerpt of how I imagine it would look like:

[code]

[2020-06-23 04:22] Ordiel commented on #1380
Is there a follow up enhancement/request for this?

[2020-06-23 05:36] bsideup commented on #1380
Unless someone volunteers {him,her}self to work on the ARM support across all features supported by the library - no, not yet. Note that it is not only about Ryuk, but **every** image _plus_ native libraries that are used (e.g. transports in `docker-java`)

[2020-06-23 11:44] #2421 closed

[2020-06-23 15:06] KyleAure commented on #1292
@kiview Now that oracle has an official container that anyone can easily build should we update the container wait strategy to look for the following output in logs?
[code]

If so let me know and I can work on delivering that.

[2020-06-23 15:46] Radomiej commented on #452
I struggle with this problem a lot in last time(I setup GitLab CI) and I found a one decent workaround:

[code]

for example:

[code]
you can also try with --network="host" in your container or similar configuration on host side, but this above should be enought

[2020-06-23 16:06] raynigon commented on #1158
Current State:
- [x] docs/modules/elasticsearch.md
- [ ] docs/modules/kafka.md **(PR open)**
- [ ] docs/modules/webdriver_containers.md **(PR open)**
- [ ] docs/test_framework_integration/spock.md **(PR open)**

[2020-06-23 17:55] jdelucaa commented on #2309
I'm using version 1.14.0 and I'm seeing the same issue.

I am investigating why sometimes my docker compose won't start my services. I am getting this generic error and I thought it could be related to not being able to pull (but the log doesn't say much):

[code]

I found these logs related to the error described in this issue:

[code]

But in the end, it seems to, sometimes, be able to pull:

[c

[2020-06-23 20:32] doctorpangloss commented on #554
This is a pretty serious issue, I can see a lot of people are trying to test `jaeger` based on the UDP port there, including me.

[2020-06-23 21:08] aguibert commented on #2395
@bsideup I recently hit this error and we are using JUnit 4 and are not using Startables.deepStart.

Here is how the container is defined:
[code]
Here is a link to the src with additional context:
https://github.com/OpenLiberty/open-liberty/blob/master/dev/com.ibm.ws.couchdb_fat/fat/src/com/ibm/ws/couchdb/fat/FATSuite.java#L37

And here is the complete stack trace (notice that it is all stemming f

[2020-06-23 21:19] aguibert commented on #2395
@bsideup so I guess my findings are sort of along the same lines as `Startables.deepStart`, because we have 2 things trying to potentially issue the docker image name at the same time?

I think that if we simply removed that log statement it would fix the issue, but maybe the code needs a more thorough review for `getDockerImageName()` kicking off a significant amount of work for the `ImageFromDoc

[2020-06-24 07:32] #2191 closed

[2020-06-24 08:14] leCandas commented on #2309
Hey @jdelucaa,
The logging part of testcontainers is not good.
To see what is happening under the hood you need to add some more loggers and these can be found from the source code of Testcontainers. Its pitty that there is no single type here.

I am using these loggers with logback to fetch more informationa about failure

`<logger name="🐳 [docker-compose]" level="${loglevel}" additivity="false">

[2020-06-24 09:41] bsideup commented on #2395
@aguibert FYI I just submitted https://github.com/testcontainers/testcontainers-java/pull/2930 that should fix eager resolve of `LazyFuture` from `RemoteDockerImage#toString` (that is triggered from `GenericContainer#toString`, for example).
It is unrelated to the Ryuk problem but seems to be a miss from #2558

BTW from the stacktrace, it looks like you're using a version that is older that 1.14.x

[2020-06-24 12:02] vcvitaly commented on #2917
Have you tried _Indefinite one-shot startup strategy_? That's what you want if I understood correctly.

https://www.testcontainers.org/features/startup_and_waits/

[2020-06-24 13:01] jdelucaa commented on #2309
Thanks @leCandas, I will probably do the same thing.
It will increase a little my build time, but will ensure I'll be using the correct versions.

[2020-06-24 14:45] aguibert commented on #2395
hmm, we're using 1.14.0, not the latest, but it is 1.14.X

[2020-06-24 20:39] ivangfr opened #2934 "KafkaContainer: fixed value for KAFKA_ADVERTISED_LISTENERS"
Hi,

Is there a way to inform the `KAFKA_ADVERTISED_LISTENERS` using something like
[code]
and this value doesn't be overwritten?

Thanks in advance!

[2020-06-25 09:09] bsideup commented on #2395
Okay, after looking at the code, I noticed that we were not caching Ryuk's failure: #2935

So, the actual problem was that `ResourceReaper` was failing to connect to started Ryuk container, but another attempt at getting a client would not know that and attempt to start it again.

This logs confirms that:
https://pastebin.com/pZHXKzRF

[2020-06-25 09:15] bseiller opened #2936 "singleton-container example does not work out-of-the-box with maven"
There are several issues with the file pom.xml in the example, which prevent it from being used out-of-the-box:
- none-existing parent artifact
- missing dependency org.testcontainers:testcontainers
- the names of the two test classes (BarConcreteTestClass, FooConcreteTestClass) don't follow the standard naming convention for tests: https://maven.apache.org/surefire/maven-surefire-plugin/test-mojo

[2020-06-25 09:17] bsideup commented on #2936
@bseiller thanks for reporting! the `pom.xml` file there is invalid since we use Gradle. I submitted https://github.com/testcontainers/testcontainers-java/pull/2937 to remove it.

[2020-06-25 09:22] bseiller commented on #2936
Not what I expected - but correct nevertheless :joy:

[2020-06-25 09:22] #2936 closed

[2020-06-25 10:03] bseiller opened #2939 "Using multiple JVM instances through forking prevents singleton containers from working as intended"
When using maven-surefire-plugin or maven-failsafe-plugin with activated forking (https://maven.apache.org/surefire/maven-surefire-plugin/test-mojo.html#forkCount + https://maven.apache.org/surefire/maven-surefire-plugin/test-mojo.html#reuseForks) a new JVM might be spawned for every test. This will prevent the pattern from working as intended as every JVM instance does its own classloading and th

[2020-06-25 10:40] rnorth commented on #2209
@bsideup is actively working on this - not stale!

[2020-06-25 10:42] rnorth opened #2940 "RabbitMQ unable to write configuration file"
Looks like there's a regression since version `3.7.26-management-alpine` was published. This affects our internal tests but is likely to affect users of the RabbitMQ container, hence posting this issue for visiblity:

[code]

Downgrading the image used from `3.7-management-alpine` to `3.7.25-management-alpine` seems to work around the issue for now. I'll raise a PR to do this.

[2020-06-25 10:56] rnorth commented on #2923
Hi @ekis
I'm afraid I think we're unlikely to do this - our intention is that the docker compose support should be able to reuse an existing working setup. If I understand this right, if the containers need to wait midway through the compose environment being `up`ped, then this is no longer a working standalone compose setup.

If that's the case, we'd encourage you to either do this purely inside

[2020-06-25 10:58] #2940 closed

[2020-06-25 20:51] bsideup commented on #2939
Not being able to reuse singletons between multiple JVM's is kinda obvious and applies to any static constant on JVM, not just the singleton containers.

If you need to reuse containers between JVMs (and their runs), you can try #1781. Other than that, there is nothing we can do to help here, really. There is no magic behind the "singleton containers", you just define it once as a static variable

[2020-06-25 20:51] #2939 closed

[2020-06-26 00:36] SudharakaP commented on #1453
Just to let you know for the past couple of months there was only one Couchbase failure; https://github.com/hipster-labs/jhipster-daily-builds/runs/764200230?check_suite_focus=true. So I think the latest version has improved things a lot. Thanks a lot for your work. :smile:

[2020-06-26 04:25] daschl commented on #1453
@SudharakaP I've been trying to spot the error in the log you pointed out but I could only see build warnings - can you point me to the test failure with stack trace/logs? then I can take a look :) thanks!

[2020-06-26 05:22] aguibert commented on #2395
great find @bsideup, I think this issue can be closed now that #2935 is in right? Or do you want to wait for users to verify?

[2020-06-26 07:21] Mickelback00 commented on #529
@rambrus, can you share more details about how you got this running?  For instance, when you mentioned TestContainer images running along side etc.  I'm just trying to fit the pieces together in our env.

[2020-06-26 07:26] Anuddeeph commented on #816
ERROR: Build step failed with exception
com.github.dockerjava.api.exception.DockerClientException: Could not build image: When using COPY with more than one source file, the destination must be a directory and end with a /
	at com.github.dockerjava.core.command.BuildImageResultCallback.getImageId(BuildImageResultCallback.java:79)
	at com.github.dockerjava.core.command.BuildImageResultCallback.awai

[2020-06-26 07:56] #2432 closed

[2020-06-26 08:20] rambrus commented on #529
@Mickelback00 you need to mount the host machine's docker socket in your *step* container and make it available as a unix socket, this way you can spin up containers by `TestContainers` "next to" your container, not inside that.

Please update your `.drone.yml` following these steps:
1./ Make the host's docker socket available as `volume`
[code]

2./ Mount the `dockersock` volume in your container

[2020-06-26 10:20] kmehltretter opened #2942 "ryuk does not work with rootless docker, due to hardcoded path in ResourceReaper.java"
I am trying to run testcontainers with rootless docker in Linux. The only problem now is that ryuk is not working, due to hardcoded path to the unix domain socket in ResourceReaper.java . The value from DOCKER_HOST environment variable should be used, if possible.

For example, in my case DOCKER_HOST=unix:///var/run/user/1000/docker.sock

By changing the line from
`binds.add(new Bind("/var/run/doc

[2020-06-26 10:31] bsideup opened #2943 "Rootless Docker support"
Open issues:
- [ ] #2942
- probably more :D

[2020-06-26 10:32] bsideup commented on #2942
@kmehltretter thanks for raising the issue! I did a (successful) experiment with rootless Docker and came across the same issue.

I added it to #2943 👍

[2020-06-26 14:52] bsideup commented on #2917
@Sammers21 we only have startup & wait strategies. You can inspect the container's state and wait for it to exit.

[2020-06-26 14:52] #2917 closed

[2020-06-26 14:53] yuraku opened #2944 "Process of creating an image from custom Dockerfile hags and never ended"
Based on the tutorial [https://www.testcontainers.org/features/creating_images/](url) I was trying to create custom docker image for my tests and looks like it hangs on creating the image process.

Code of the test:
[code]

when log level changed to `DEBUG` there're the logs for building the image:

[code]

while the image is created and it's visible by the command `docker images -a` but the next

[2020-06-26 20:24] SudharakaP commented on #1453
@daschl : I thought this one is a timeout. So the line is,

[code]
Notice that before two months ago (before we upgraded to the latest version) we had this kinda logs; they had minor differences; such as this one;

https://github.com/hipster-labs/jhipster-daily-builds/runs/610843718?check_suite_focus=true

which has the line,

[code]
before the timeout. Although I think this has greatly improved a

[2020-06-27 01:02] skorhone commented on #2088
Finally had some time to test this. There seems to be few issues with podman's current implementation:
* In podman created timestamp for image is a string ( 2020-06-23T11:06:02.096204727Z ) in docker it's an integer (long)
* Podman doesn't seem to support filters for images ( e.g. http://localhost/images/json?filter=testcontainersofficial%2Fryuk%3A0.3.0 )

I'll report these issues to containers/li

[2020-06-27 01:27] skorhone commented on #2088
#containers/libpod/6796
#containers/libpod/6797

[2020-06-27 01:29] skorhone commented on #2088
containers/libpod#6796
containers/libpod#6797

[2020-06-27 09:01] kiview commented on #2552
Hey @rmnbhm,
thanks for bringing this to our attention. I can confirm this and wonder why I didn't stumble upon this when I first tried out WSL2.
Your workaround of course works, but we should provide a better OOTB experience for users here.

[2020-06-27 10:40] skorhone commented on #2088
docker-java/docker-java#1424

[2020-06-27 13:06] kiview commented on #2878
I am not really sure what behaviour got observed in this issue. If the `MySQLContainer` would not launch with an active database, Testcontainers would throw an exception.

Since you were able to run exec commands against the container after startup, it seems startup wait strategy was successful and the container started successfully.

Or am I misunderstanding anything here?

[2020-06-27 14:02] skorhone commented on #2088
Patched docker-java locally and now it succeeds to pull ryuk image, but crashes when it starts to launch it. There's something wrong with podman service, when creating rootless containers (could be os specific).

Issue documented here: containers/libpod#6798

[2020-06-27 15:17] skorhone commented on #2088
Unfortunately there's yet another issue: containers/libpod#6799

My next thought was to disable ryuk for now. However that didn't get me much further. There also seems to be an issue related to polling of image pull status. I don't bother to report that before container create endpoint works as expected.

Something is also broken in testcontainers startup checks :-) While that checks be bypassed w

[2020-06-27 23:03] skorhone commented on #2088
Finally had time to set environment to work with a debugger. This speeds things up from my perspective.

Podman doesn't currently expose port information the same way that docker does: containers/libpod#6803

[2020-06-28 13:19] bseiller commented on #2939
Haha, yes that it absolutely true, actually I was debating with myself if I should add the word "obvious" to my already convoluted description. But as it had taken me quite some time to understand that the maven plugin was configured to do forking (by default there is no hint to that during the build process) the problem as a whole just didn't feel obvious any more.
A small hint along the lines of

[2020-06-28 15:23] Ordiel opened #2946 "Jenkins passing docker.sock to Docker Build Container spawning sibling (test)containers"
As the title reads, I am trying to get a Docker container that is used by Jenkins as a build node to run a java maven project using testcontainers to spawn a mysql DB, in order to get a functional docker environment to the container besides installing the cli, I am passing the socket and indicating the container the correct user and group to run as so that it does not conflict the permissions of t

[2020-06-28 17:17] ivangfr commented on #2934
Btw, I've found another way to solve my problem. I was having problems connecting Schema Registry to Kafka. Using `SCHEMA_REGISTRY_KAFKASTORE_BOOTSTRAP_SERVERS` environment variable solved my problem. Closing the issue.

[2020-06-28 17:17] #2934 closed

[2020-06-29 22:55] findepi opened #2955 "Fail when binding a non-existing file"
Mounting a non-existing file results in docker creating a directory. This is hardly an expected effect.
Library should fail fast instead.

[2020-06-29 23:01] findepi opened #2956 "Unexpected result when withCopyFileToContainer invoked multiple times for the same path"
[code]

expected:

both files created

observed:

only file2 created

[2020-06-29 23:03] findepi commented on #2955
i can offer a patch if desired so.

[2020-06-30 06:43] bsideup commented on #2955
Unfortunately this is Docker's behaviour - to create a directory.

What makes it harder is that you can't assume that everything runs on local Docker where you can check whether file is present or not. This is why we suggest the copy API where possible.

We _could_ start a container, mount the parent folder, check whether the mounted folder contains the file, and only then proceed, but this will a

[2020-06-30 10:02] FranckKe commented on #1689
I had trouble setting up testcontainers with private registry in Gitlab CI as well but ended up working.

What I tried:
* Configured `docker-java` through [sytem properties](https://github.com/docker-java/docker-java/blob/master/docs/getting_started.md#system-properties)
* Had issues with Ryuk, disabled it

But then `docker-java` or `testcontainer`, not sure which, tried to pull all images through

[2020-06-30 10:57] findepi commented on #2955
I am aware.

this i do not understand, likely because I am not proficient in all the possible run modes.

Anyway, I _assume_ that `hostPath` in  `Container#addFileSystemBind()` and `#withFileSystemBind` _typically_
refers to localhost and that it should be possible to validate the path int the _typical_ case.

[2020-06-30 11:26] bsideup commented on #2955
@findepi

There are a few deployment modes where your filesystem != Docker's:
1. docker-in-docker (or Docker wormhole). Although they run on the same machine, the paths will differ (unless you use `-v $PWD:$PWD`)
2. Remote Docker (e.g. over TCP)

refers to localhost and that it should be possible to validate the path int the typical case.

We _could_ add such check, but _only_ if we know _for sure

[2020-06-30 15:07] Mickelback00 commented on #529
@rambrus - that worked perfectly - thank you so much!!

[2020-06-30 15:37] rambrus commented on #529
@Mickelback00 cheers

[2020-07-01 06:57] cheese10yun opened #2959 "how to use MySQLContainer command"
[code]

I want to remove group by in SQL mode. So I proceeded in the same way as above but it doesn't work.

[code]

Docker compose was used as above.,I want to remove sql_mode group by.

[2020-07-01 10:43] ssureshraja opened #2960 "Unable to run testcontainer from Windows Server 2019 (LinuxKit installed)"
Unable to run containers from testcontainer in Windows Server 2019 (LinuxKit installed). Able to run any linux containers without any issues from docker cli commands. Facing issues only when tried to run any containers from testcontainer.

Error logs as below:
`2020-07-01 20:12:59.342 ERROR 4936 --- [           main] o.t.d.DockerClientProviderStrategy       : Could not find a valid Docker environm

[2020-07-01 11:59] kiview commented on #2960
Thanks for bringing this to our attention.
We don't have a Windows Server environment available for testing or debugging, so we are in kind of a blind spot here.

From the error log, we can infer, that Testcontainers was not able to communicate with the Docker daemon over the named pipe. From looking into the [Docker docs](https://success.docker.com/article/unable-to-connect-to-docker-engine-local

[2020-07-01 13:09] ssureshraja commented on #2960
@kiview Thank you very much for your response.
Tried to execute the command (various combinations of that URL as well) in powershell with no luck. Is that URL correct inside GetFiles command? Could you please help me out

Below is the error I receive on executing that command in powershell:
![image](https://user-images.githubusercontent.com/6394605/86247324-a3ecbb80-bbef-11ea-84e9-6af1fcf5d3df.png

[2020-07-01 14:12] kiview commented on #2960
TBH no idea if the URL is correct or not, this was simply copied from [Docker Enterprise docs](https://success.docker.com/article/unable-to-connect-to-docker-engine-locally-via-namedpipe). It also does not work on my Windows machine.

Maybe we can find another way to investigate if the named pipe is accessible.

I found another [blog post](https://dille.name/blog/2017/11/29/using-the-docker-named-

[2020-07-01 19:29] merikan opened #2961 "a reusable container is not unique without explicitly providing unique information"
Hi, I'm using the excellent `withReuse(Boolean)` function and it really speeds up my development process. Kudos for that.

However, when using 'withReuse(true)' the container is not unique without explicitly providing unique information, which means that if you have start two similar containers with the same setup they will have the same hash value.

In one of my current projects I use two MariaDB

[2020-07-01 21:52] ssureshraja commented on #2960
Thanks @kiview. It really helped to progress to next step. When running with Admin privileges, it fails with the below error in testcontainer: **windows is currently not supported**.

`2020-07-02 07:37:14.014  INFO 5816 --- [           main] o.t.d.NpipeSocketClientProviderStrategy  : Accessing docker with local Npipe socket (npipe:////./pipe/docker_engine)
2020-07-02 07:37:14.014  INFO 5816 --- [

[2020-07-01 21:54] kiview commented on #2960
So, Testcontainers sees the environment as a Windows container environment, I will need to investigate this in the sources.

Maybe the check is just overly cautious abd it would work from a technical standpoint.

[2020-07-01 21:56] ssureshraja commented on #2960
Thanks for looking into this @kiview . Will wait for your feedback

[2020-07-01 22:29] kiview commented on #2960
Ok, I found the problematic part in our code. We check the OS type as reported by the Docker client:
https://github.com/testcontainers/testcontainers-java/blob/780b8e33811f046e64c7cdf6a25b49fb0fe79ce8/core/src/main/java/org/testcontainers/dockerclient/DockerClientProviderStrategy.java#L258-L267

And your Docker daemon would indeed respond with `OSType: windows`. However, since you are running as L

[2020-07-02 01:47] Ordiel commented on #2946
Nevermind I managed to overcome it usng `--network host` to my args

[2020-07-02 01:48] #2946 closed

[2020-07-02 02:44] ssureshraja commented on #2960
Thanks @kiview. Apologies for the delay as I was behind a corporate proxy. Needed to sort that out first to use jitpack.

Your solution helped me progress further but getting errors with volume mount while starting a localstack container. I noticed few previously reported issues in testcontainer around volume mount but couldn't get it to work.

Could you please help @kiview

`org.testcontainers.co

[2020-07-02 06:22] bsideup commented on #2960
@ssureshraja when pasting stacktraces, please use triple backtick (` ``` `), so that it renders correctly.

[2020-07-02 07:27] kiview commented on #2960
The first error probably happens when we try to run Ryuk and mount the Docker socket. So there is no Docker socket to be mounted, which is very different to how Docker for Windows works on Windows 10 Pro (where Docker is running in a Linux VM and therefore can mount the socket).

You can [disable Ryuk](https://www.testcontainers.org/features/configuration/#disabling-ryuk), but I expect you to run

[2020-07-02 09:18] uraniumdawn commented on #1495
This issue is still relevant.

[2020-07-02 09:19] bsideup commented on #1495
Contributions are welcome! :)

[2020-07-02 10:01] ssureshraja commented on #2960
Thanks for all your help @kiview . For now, I'll switch to other option

[2020-07-02 10:22] kiview opened #2962 "Update Oracle module to be in line with the new official Oracle Dockerfiles"
This issue acts as kind of a meta issue, trying to consolidate currently open PRs and issue with regards to updating the `OracleContainer` implementation.

Many of the changes are motivated by the fact, that Oracle is now providing official Dockerfiles with Oracle XE [being available](https://twitter.com/geraldvenzl/status/1230673245193539585?s=21) under the "Oracle Free Use Terms and Conditions"

[2020-07-02 11:05] wilkinsona opened #2964 "Container start hangs intermittently during file transfer"
As discussed with @bsideup, I've seen a situation where starting a container hangs while transferring a file into it. Here's the stack of the hang:

[code]

[This is the test](https://github.com/spring-projects/spring-boot/blob/d64337013fb3628c8c5973556054aedb8a8ff3e7/spring-boot-tests/spring-boot-deployment-tests/src/intTest/java/sample/DeploymentIntegrationTests.java#L104) that's starting the co

[2020-07-02 16:44] wjglerum opened #2966 "MSSQL Container not working in 1.14.3"
We got the following error when upgrading to 1.14.3 for MSSQL testcontainer with DEBUG logging enabled:

[code]

This happens on my local machine and on our CI.

The container does get created, see:
[code]

We define the dependency as:
[code]

Any idea what is going wrong here? I'm happy to help or provide more information.

[2020-07-02 18:23] bsideup commented on #2966
You have an issue with the classpath. org.testcontainers:testcontainers dependency must also be updated to 1.14.3 (you should get it transitively)

[2020-07-02 18:23] #2966 closed

[2020-07-03 05:07] mjustin commented on #2512
I don't think it makes sense to close this as stale until the project owners have had a chance to review and weigh in on the feature request.

[2020-07-03 07:37] kirmandi commented on #2516
still open issue.
minimal example is provided.

[2020-07-03 08:02] rnorth commented on #2506
@bskinny sorry for letting this get stale. This was added in #2812, which we should be releasing very soon.

[2020-07-03 12:59] bskinny commented on #2506
Excellent. Thanks @rnorth

[2020-07-03 20:27] sHiniz0r commented on #554
Anyone working on this? Was it resolved?

[2020-07-03 21:09] kiview commented on #554
@sHiniz0r
There is currently no implementation for a dynamically mapped port for UDP. Are you interested in contributing this?

[2020-07-04 09:29] tlefevre opened #2968 "Spock @TestContainers missing inherited"
I see this has been fixed in one of the other modules, but the Spock module could use an upgrade along these same lines:

Juniper version:
https://github.com/testcontainers/testcontainers-java/blob/master/modules/junit-jupiter/src/main/java/org/testcontainers/junit/jupiter/Testcontainers.java

Spock version:
https://github.com/testcontainers/testcontainers-java/blob/master/modules/spock/src/main/g

[2020-07-04 16:32] ricardozanini commented on #2088
Looks like podman has good news: https://podman.io/blogs/2020/07/01/rest-versioning.html

[2020-07-04 16:44] skorhone commented on #2088
@ricardozanini Rest API is the one that I'm testing against 🙂

There's still few blockers, most notable are issues with container creation and exec endpoints. I was told that first one will be resolved by major refactoring that unifies code paths for libpod (podman) and compat (docker) API handlers for container creation. The issue with exec API was just recently posted, so that might take a while

[2020-07-04 17:09] #2208 closed

[2020-07-04 17:35] mkrzyw commented on #554
@kiview yes, I would like to try to contribute it.

[2020-07-04 21:26] kiview commented on #554
Great, feel free to ping me in Slack if you want discuss details or have questions.

I'd think implementation should be relatively straight forward, unless I overlooked something.

[2020-07-05 14:52] rnorth commented on #2521
Fixed in 8fd4c2081d3975473d430b81b08fa25c30d74199

[2020-07-05 14:52] #2521 closed

[2020-07-06 10:34] mikaelhg commented on #960
Where can I add an integration test of trying to use `com.github.docker-java:docker-java` in a project which includes testcontainers?

[2020-07-06 19:01] rnorth commented on #960
Not an integration test really, but https://github.com/testcontainers/testcontainers-java/blob/master/core/src/jarFileTest/java/org/testcontainers/JarFileShadingTest.java is for testing that the shaded JAR is well-formed. If there's something broken about the structure of the shaded JAR, this would probably be the place to create a failing test.

[2020-07-06 19:14] mikaelhg commented on #960
Is it by purpose that `testcontainers-1.14.3.jar` from Maven Central contains the `com/github/dockerjava` classes unshaded?

[2020-07-06 19:31] bsideup commented on #960
@mikaelhg yes. See https://github.com/testcontainers/testcontainers-java/issues/1113 for more context

[2020-07-07 09:29] Schwaller commented on #955
We have a very similar issue with a docker-compose based tests (using Testcontainers) hanging on Jenkins (ubuntu) but run fine locally (mac, windows). The same test runs successfully sometimes on the Jenkins then fails 10 times in a row (sporadic). Network seems ok - the slave is a freshly installed ubuntu slave without anything else running (physical pc, not a vm or circleCI env etc.). Pruning ev

[2020-07-07 09:52] bsideup commented on #955
@Schwaller we do _recommend_ using `GenericContainer`s and not Docker Compose as they are more reliable and provide better features. That said, there are no known issues with Docker Compose, not to mention blockers that would make us deprecate it any time soon. But you should always remember that Docker Compose integration delegates most of the things the Docker Compose binary which may behave wei

[2020-07-07 09:58] Schwaller commented on #955
@bsideup thx for the quick response! I understand that its not ideal that DNS seems to be not perfect but this never stopped any other process from working correctly. I can run the docker-compose file on that machine manually without any issues. Just as soon as testcontainers&docker-compose is involed chances are around 80% that within a month it will develop sporadic issues.
If you think it works

[2020-07-07 10:00] Schwaller commented on #955
BTW thx for creating/maintaining testcontainers! Great stuff!

[2020-07-08 07:24] silaev commented on #2876
When one uses Testcontainer’s reuse feature, a framework and a database per a test as a way to separate(isolate) data, then specifying a database might be helpful.
For instance, in the Spring Data MongoDB a database name is bind to the MongoTemplate/
ReactiveMongoTemplate and thus it’s a tedious process to change a database name for above-mentioned testing scenario.

Given that I’ll submit a PR to

[2020-07-08 07:24] hcguersoy opened #2979 "Maven - not all dependencies are resolved / downloaded then going offline"
Hi Folks,

I've a very simple example project to demonstrate some CD pipeline stuff and observed that using a `mvn dependency:go-offline` doesn't download all dependencies needed by testcontainers.

Some system information:

[code]

Part of the pom:

[code]

Running Maven to prepare offline mode:

[code]

After this, running a build:

[code]

Looks like that something is broken here (`jna-platform

[2020-07-08 08:28] Nicklas2751 opened #2981 "Socat failes after first testclass because it don'"
I have a application which I want to run selenium tests (JUnit 4). I start the application it's database and a elastic search service with a docker compose file. I also start a chrome or firefox browser container depending on a setting. For my first test class this works perfectly but after that the compose services getting restarted. This isn't a problem but it results in socat trying to connect

[2020-07-08 08:49] bsideup commented on #2979
This is clearly not an issue of Testcontainers. Consider reporting it to the Maven project.

[2020-07-08 08:49] #2979 closed

[2020-07-08 10:49] hcguersoy commented on #2979
Just for the records:

The version `4.5.2` for the JNA stuff was inherited from the Spring Boot parent, which sets in the `dependencyManagement` various versions for usual libraries, including for JNA.

And yes, finally this is a Maven issue, again.

Sorry taking your time.

[2020-07-08 21:46] lvorona opened #2982 "ElasticsearchContainer is not waiting for container being ready"
In /modules/elasticsearch/src/main/java/org/testcontainers/elasticsearch/ElasticsearchContainer.java#L55 the ElasticsearchContainer is waiting for either of two status codes:

[code]

But ES returning UNAUTHORIZED means that it is not 100% ready yet. Due to this, a simple test relying on the default `ElasticsearchContainer` without any changes and trying to use its API fails in about 10%-20% of in

[2020-07-09 03:15] lvorona commented on #2982
It is worth pointing out that this line was originally copy-pasted from Couchbase and allowing for the UNAUTHRIZED response here was not anything deliberate or stemming from ElasticSearch implementation details.

See the conversation which accompanied the change: https://github.com/testcontainers/testcontainers-java/pull/826#discussion_r219848059

[2020-07-09 03:29] pkrajanand commented on #1926
Hi @davismariotti : did you get a solution for the problem?

I have a similar requirement to run the test maven tests within the docker container, that uses elastic-search-test-container with the following error
[code]
It works fine when running from outside the docker, though(same as your experience) !!

[2020-07-09 06:47] rnorth commented on #1926
@pkrajanand that looks like a quite different problem (the stack trace is different)

By the looks of it, your Docker daemon inside your container is not responding. I’d suggest checking that - try replacing your Java build with a `docker ps` invocation, for example.

[2020-07-09 11:51] raynigon commented on #2982
@lvorona i think this will not work, if elasticsearch security is enabled. Best way would be to call the cluster health api with credentials.

[2020-07-09 11:55] skorhone commented on #2088
Exec issues were fixed with a simple patch. There is still some kind of issue with either connection management or connection tracking (podman connections counts show that there are active connections while netstat shows none)

Here's a first passing "test":

[code]

There is a pull request pending that is supposed to fix setCommand part, but for now it's mandatory to define command to prevent pod

[2020-07-09 15:52] #1113 closed

[2020-07-09 16:03] lvorona commented on #2982
The user who enables elasticsearch security can still override the defaults similar to the way I have posted in the initial comment. This is only to make the defaults to work.

Currently a user who has a simple single container test has to add extra code. It would make sense to change the defaults to work out of the box and document the changes needed when security is enabled.

Perhaps I could cha

[2020-07-09 16:21] nikos912000 opened #2984 "Mock Server doesn't start after updating to 5.11.0"
Hi folks!

I'm raising this here although it may be related to the [Mock Server](https://github.com/mock-server/mockserver). We're having issues when updating to the latest version of the Mock Server and its Java client (5.11.0) with Testcontainers.

## The Problem
We use Testcontainer's [MockServerContainer](https://github.com/testcontainers/testcontainers-java/blob/master/modules/mockserver/src/

[2020-07-09 21:40] skorhone commented on #2088
containers/podman#6835 fixed requirement to use setCommand. So now you need to look for containers/podman#6918 which fixes some leaks related to use of exec. There's currently no issue open for exposing ports - and unfortunately I will be soon off for summer holidays (4weeks) I did ping person that fixed setCommand and he might be able to fix issue with ports.

[2020-07-09 21:52] enote-kane commented on #2395
Desperately awaiting a release version with these fixes included (Jenkins here).

[2020-07-10 01:02] #2209 closed

[2020-07-10 01:12] Lewox commented on #2544
Seems this issue is still valid, it shouldn't be closed.

[2020-07-10 05:30] aaronjwhiteside opened #2986 "Containers started with withReuse(true) are killed when the JVM exits abruptly"
I start my containers from Spring Cloud @BootstrapConfiguration classes

When there is some bean/applicationcontext error and the JVM exists abruptly, any containers started before this point are killed. The withReuse(true) seems to be completely ignored...

If there is no bean/applicationcontext issue and the Spring Boot application starts sucessfully and I gracefully exit it, then the containers

[2020-07-10 06:50] bsideup commented on #2395
@enote-kane well, what was fixed won't fix your Jenkins issue. There is still an issue with "failed to connect to Ryuk" on your environment, just now it will be clear (before, it was hidden behind "container name already in use" because it was trying to make another attempt at starting Ryuk but it was already running (but failed to connect to it)

[2020-07-10 06:55] bsideup commented on #2986
@aaronjwhiteside the behaviour you described usually means that you `stop()` the container somewhere in your code. Calling `stop()` on a reusable container is valid, behaves the same as with regular containers and means "I don't need it anymore".

The easiest would be to override container's `stop()` method and check who is calling it.

[2020-07-10 06:55] #2986 closed

[2020-07-10 07:03] enote-kane commented on #2395
@bsideup Oh, that's bad. I was wondering why this is the case only on our EC2 Jenkins slaves running Ubuntu whereas we also have other Ubuntu clients where we where unable to reproduce this issue at all.
Is there another bug for the connect problem?

[2020-07-10 07:05] bsideup commented on #2395
@enote-kane there are no known bugs with Ryuk. Please check your network settings, firewall, debug connectivity, etc etc.

[2020-07-10 07:08] enote-kane commented on #2395
@bsideup Hm, I am confused as I wasn't able to spot any connectivity issues in my log output, but will try to have more debug logging.

[2020-07-10 07:25] enote-kane commented on #2395
OK, after looking again, I think you mean this, right?
[code]
But I don't get why this should be different when run by a Jenkins pipeline than any such other environment (docker-in-docker).

The actual command that is being executed is like this:
[code]
So the only thing I could think of is the standard `bridge` network that get's in the way here, right?

[2020-07-11 01:49] #2483 closed

[2020-07-11 01:49] #2487 closed

[2020-07-11 13:21] zhangguanzhang commented on #2088
https://github.com/containers/podman/pull/6835#issuecomment-656194612
@skorhone   Could you show the steps how to  to reproduce the error?

[2020-07-11 13:54] skorhone commented on #2088
@zhangguanzhang If you run testcase I posted few comments back and remove setPortBindings, you should be able to replicate behavior that I see. Be sure to disable that ryuk

I'm running podman in my testcontainers tests just like I've done in: https://github.com/skorhone/libpod-gitlab-it/blob/cirrus/.cirrus.yml . TCP binding makes it easier to capture API call. docker-java supports reading target

[2020-07-11 15:34] zhangguanzhang commented on #2088
I see this in ci:
[code]
could you retry test with run the make before the testing?

[2020-07-11 16:49] skorhone commented on #2088
@zhangguanzhang It wouldn't help. CI is currently running tasks in a container (docker) and it seems that podman doesn't behave too well there. I've plans to move this CI build to use vm instead. Just need to wait until I get back to my workstation (- 4weeks from now)

The bits that you can use for debugging testcontainers is the way that I start podman & use ngrep. Network captures help a lot whe

[2020-07-11 20:08] vcvitaly commented on #2984
I can reproduce it, the reason it fails is:

`OCI runtime exec failed: exec failed: container_linux.go:349: starting container process caused "exec: \"/bin/sh\": stat /bin/sh: no such file or directory": unknown`

On startup Testcontainers runs a command in container to verify the status and starting 5.11.0 Mockserver image doesn't contain `/bin/sh`.

It's also a good question why nothing is logge

[2020-07-11 22:33] ikosarim opened #2990 "Can't set startupTimeout"
In my tests I use org.testcontainers.containers.PostgreSQLContainer. I have docker postgres image which starts in 1 minute and 20 seconds. And I can't run tests because in default LogMessageWaitStrategy.waitUntilReady() I have default timeout 1 minute.
I try to override startupTimeout with help .withStartupTimeout(Duration.ofSeconds(120)) in builder of PostgreSQLContainer, but it use constructor v

[2020-07-13 19:07] rnorth commented on #2982
Thanks for the PR, @slovdahl. I'm not sure if the original line just a straight copy and paste from the Couchbase module (at least that's not my interpretation of https://github.com/testcontainers/testcontainers-java/pull/826#discussion_r219848059)

@dadoonet, could you perhaps lend your opinion on the suggested approach in this ticket and the PR (#2983)?

[2020-07-14 03:40] aaronjwhiteside opened #2993 "CouchbaseContainer does not actually wait until the query service is available"
It seems that even though the `CouchbaseContainer` checks the health of the `/admin/ping` endpoint for the query service, the query service is not actually available to handle queries yet.

If I `withReuse(true)` this container, and run the test a second time, it succeeds because it now seems the query service has had enough time to initialize and become available to handle queries.

[code]

[code

[2020-07-14 05:58] slovdahl commented on #2982
Just for the record, I did not submit the PR :smile: I just added a proper cross-reference.

[2020-07-14 11:07] PandarinDev commented on #2762
What you'd need is to be able to specify UID/GID just like you can do when running Docker from the CLI with the `--user` switch. This issue describes the use-case better: [Link](https://github.com/testcontainers/testcontainers-java/issues/2590). Unfortunately there is no support for this right now AFAIK.

[2020-07-14 11:09] PandarinDev commented on #2590
This would be a really useful addition as we want to be able to delete mapped files created by our test containers at the end of our tests. Unfortunately these files are currently left there with root permissions so we need to delete them manually which is a major pain. If we could configure UID and GID this problem would be solved.

[2020-07-14 11:12] bsideup commented on #2590
See https://www.testcontainers.org/features/advanced_options/#customizing-the-container. It allows customizing the low level `CreateContainerCmd` that is passed to Docker, including user/uid/gid.

[2020-07-14 11:12] #2590 closed

[2020-07-14 11:12] bsideup commented on #2762
There is, see my answer:
https://github.com/testcontainers/testcontainers-java/issues/2590#issuecomment-658120759

[2020-07-14 11:58] MarcelHeckel opened #2994 "JdbcDatabaseContainer ignores set WaitStrategy"
The `JdbcDatabaseContainer` overwirtes the method `waitUntilContainerStarted()` of  `GenericContainer` but does not call `super.waitUntilContainerStarted()`. So the `WaitStrategy` set via `waitingFor()` is not applied. This is really confusing because you wonder why the set `WaitStrategy` is not called.

Please add `super.waitUntilContainerStarted()` at the beginning of `waitUntilContainerStarted(

[2020-07-14 13:47] aaronjwhiteside commented on #2993
I have a feeling this might be a CB Java SDK issue now, I added extra checks (running some n1ql queries) to the CouchbaseContainer right after startup, the same checks I added to our integration tests pre test start.

They pass from CouchbaseContainer but fail for about 1-4 seconds from the integrationt tests.

I'll dig deeper into this, perhaps turn on client side debug in the CB Java SDK and see

[2020-07-14 20:22] lvorona commented on #2982
Thank you for fixing the PR.

I have pushed one more commit that points the HttpWaitStrategy at the dedicated ElasticSearch health endpoint [1]: `/_cluster/health`

It took me a while to figure out the container's behaviour, but I have tested with various settings and waiting for the 200 on the dedicated healthcheck endpoint behaved the best.

Some important notes:

- The 401 response mentioned in

[2020-07-14 20:40] lvorona commented on #2982
Actually, I was not enabling the authentication properly. The Cluster health check requires authentication, and I had to add the following clause for the test to pass:

[code]

I feel like this is still an improvement over the test being flacky. I could add this snippet to the documentation (https://www.testcontainers.org/modules/elasticsearch/), but I need help to know which repository to update

[2020-07-15 00:17] aaronjwhiteside commented on #2993
Yeah this appears to be an issue with the CB Java SDK.

But out of the box this prevents the use of the CouchbaseContainer for N1QL queries...

[code]

[2020-07-15 00:26] aaronjwhiteside commented on #2993
Created a CB support ticket #35272 to track this

[2020-07-15 06:15] bsideup commented on #2993
cc @daschl

[2020-07-15 06:24] daschl commented on #2993
@aaronjwhiteside would it be possible for you to enable TRACE level and supply those logs? The reason is the error you are seeing means that the config the client got from the server does not include query, and right now I have a hard time figuring out the timeline of events. If you could send the trace over, it should include the raw configs the client gets from the server and maybe this helps fi

[2020-07-15 09:18] dadoonet commented on #2982
Hey. I think this is what I'm bringing with #2320 hopefully.

[2020-07-15 11:02] aaronjwhiteside commented on #2993
@daschl here you go [client-trace.txt](https://github.com/testcontainers/testcontainers-java/files/4924700/client-trace.txt)

Thanks for looking into this!

[2020-07-15 11:11] aaronjwhiteside commented on #2993
@daschl this second trace includes more details, like when the server actually decides to push the config containing the query service.

[client-trace2.txt](https://github.com/testcontainers/testcontainers-java/files/4924762/client-trace2.txt)

[2020-07-15 12:14] #2943 closed

[2020-07-15 13:54] see-quick commented on #2774
I have fixed this issue instead of using executor use the dynamic creating the command and run inside the container
[code]

[2020-07-15 13:55] #2774 closed

[2020-07-15 13:58] daschl commented on #2993
@aaronjwhiteside thanks for sharing the log, I'll check it out and get back to you

[2020-07-15 22:20] dbveeva commented on #1442
I tried the java workaround but am getting an InvocationTargetException on this line:
      uri = new URI(localstack.getEndpointConfiguration(LocalStackContainer.Service.S3).getServiceEndpoint());

When will the fix committed by @rnorth be released? I am using v1.14.3.

[2020-07-16 03:45] aaronjwhiteside commented on #2986
thanks @bsideup, it was indeed that sometimes stop() was called on some containers and other times not.. due to https://github.com/spring-cloud/spring-cloud-commons/issues/752

I have another questions, under what concumstances does the container reaper ryuk reap containers? I haven't been able to find good documentation on it on the testcontainers.org site.. And in my experience sometimes it seem

[2020-07-16 06:14] bsideup commented on #2986
@aaronjwhiteside it should reap them unconditionally after the testing session. See https://github.com/testcontainers/moby-ryuk

Have you observed "dangling" containers?

[2020-07-16 09:15] malfter opened #2999 "out"

[2020-07-16 09:15] #2999 closed

[2020-07-16 09:16] malfter commented on #2999
Created by mistake

[2020-07-16 09:35] rdoepke opened #3000 "Attach to StdIn"
Hi everyone,

i am currently working on performing integration tests using an OpenSSL container. Therefore, i have to perform a "s_client" connect, wait for the connection to be established reading the log, and then send my plain commands via StdIn.

I've already managed to get this working using plain "docker-java" and Apache HttpClient 5. However, I would like to use the testcontainers API as fa

[2020-07-16 09:37] bsideup commented on #3000
@rdoepke consider starting a container with a dummy command and using `execInContainer` (or `exec{Create,Start}Cmd`)

[2020-07-16 09:51] rdoepke commented on #3000
Wow, fast reaction :+1:

I've already tinked with execInContainer. However, i cannot manage to get this working with a "oneshot" command, as I have to wait for successful (mail-)connection and then send my commands to the connected machine. Reconnecting to the execInContainer is not possible to my understanding.

[2020-07-16 16:38] daschl commented on #2993
@aaronjwhiteside this is really interesting. 2 bucket configs arrive at the client, the first one does not have the query service enabled but the second one does. I'm not sure why this is the case, because the container code enables all services before it starts creating a bucket.

Can you post your code and how you are using it so I can give it a try to reproduce? Also, which SDK version are you

[2020-07-16 18:48] vcvitaly commented on #2984
@bsideup I described the issue in the PR, could you please advice if such improvement would make sense? It's a rare case.

@nikos912000 I'm not sure, but there seems to be a problem with 5.11.0 image, trying to connect to container causes:
`OCI runtime exec failed: exec failed: container_linux.go:349: starting container process caused "exec: \"/bin/sh\": stat /bin/sh: no such file or directory": u

[2020-07-16 23:07] aaronjwhiteside commented on #2993
Java SDK 2.7.11, with Spring Data Couchbase 3.1.2 which modifications. I've also tried with CB 6.0.3, 6.5.0 and 6.5.1 there is no difference between them.

Our setup is fairly custom/esoteric both in terms of TestContainers and the way we configure Spring Data Couchbase... so it's not easy to provide the code. I'll work on trying to provide a minimum test case that reproduces the issue..

[2020-07-16 23:38] aaronjwhiteside commented on #2993
@daschl Ok turns out to be really simple to reproduce..

[code]

[code]

[2020-07-17 06:40] daschl commented on #2993
@aaronjwhiteside pr #3003 should fix the issue. I think as a workaround in the meantime you can either sleep or re-enable the primary index building which will also "take some time" which increases the chance the config is in the state the client needs.

[2020-07-17 08:34] aaronjwhiteside opened #3004 "CouchbaseContainer does not support configuring the memory quotas"
CouchbaseContainer does not currently support configuring memory quotas for the various enabled services.

It would be nice to be able to configure this, we have quite a large number of indices we create during testing and the default 512mb sometimes causes issues.

I actually have this locally and would be willing to contribute it upstream.

[2020-07-17 08:34] aaronjwhiteside commented on #2795
I actually have this support locally, and would be willing to contribute it.

[2020-07-17 08:36] daschl commented on #2795
@aaronjwhiteside if you come up with a PR I'm happy to review and provide feedback!

[2020-07-17 08:38] aaronjwhiteside commented on #2794
Any comments on the proposed solution/approach? I could open a PR for this..

Note: I wouldn't actually suggest pushing the changes to the configure() method upstream.

[2020-07-17 09:17] daschl commented on #2794
@aaronjwhiteside one thing we can try is just sending the credentials along with every http request - I haven't tried it for sure, but maybe the server ignores it if it's not needed and then it will "just work"?

[2020-07-17 09:30] daschl commented on #3004
I think that would be a valuable addition, let me know where I can be of help!

[2020-07-17 11:02] artjomka commented on #512
Is this issue up for taking ? Could try to dig in into it

[2020-07-17 15:27] borisborowsky opened #3005 "Unable to run test container(docker compose) config on windows that is working on mac os"
I have a docker-compose file which I am using with DockerComposeContainer from test.containers version 1.14.3. I can run the project from mac os successfully but it doesn't work from another machine with windows. It fails with the following stack trace:
[code]
The docker compose file is working from the windows machine when I run it from the console. Can you help me with this issue ? The error is

[2020-07-18 05:51] #2497 closed

[2020-07-18 05:51] #2508 closed

[2020-07-18 05:51] #2510 closed

[2020-07-18 15:56] rnorth commented on #2510
This was merged, we just forgot to close the issue.

[2020-07-19 09:25] #2532 closed

[2020-07-19 09:30] mkrzywanski commented on #2532
I think this is covered by this [PR](https://github.com/testcontainers/testcontainers-java/pull/2989)

[2020-07-19 10:44] #2799 closed

[2020-07-19 10:46] rnorth commented on #2506
#2812 was merged, so I'll close the ticket. We're looking to release this weekend.

[2020-07-19 10:46] #2506 closed

[2020-07-19 11:15] aaronjwhiteside commented on #3004
@daschl please take a look at PR #3008

[2020-07-19 11:16] aaronjwhiteside commented on #2795
@daschl please take a look at PR #3007

[2020-07-20 13:05] vcvitaly commented on #2990
@ikosarim

 .withStartupTimeout() overrides the value after the construction of an object, it's not a builder pattern but a [fluent interface](https://en.wikipedia.org/wiki/Fluent_interface).

[2020-07-20 15:00] frankkoornstra opened #3009 "NPE when calling dockerInfo.getMemTotal()"
Using 1.15.0-rc1 I'm runing into an NPE at
https://github.com/testcontainers/testcontainers-java/blob/dd0d21837e7062762969dac3c25207f445b70e0d/core/src/main/java/org/testcontainers/DockerClientFactory.java#L189

When firing up the debugger, it seems that all properties inside `dockerInfo` and `version` are `null`.

**Stacktrace**
[code]

[2020-07-20 18:16] #2535 closed

[2020-07-20 20:23] JordiGarcL commented on #2710
I actually believed this too. I don't think mentioning would make any harm. What about just putting an hyperlink to [maven](https://search.maven.org/search?q=mockserver-client-java) on the MockServerClient word?

[2020-07-20 21:37] m-rossini commented on #1524
Is there any decisions/updates on this issue?

[2020-07-21 14:51] danblack opened #3010 "Confusing error "Can't get Docker image: XXX" with message "invalid reference format""
I got a confusing message that didn't reveal a real cause of the problem.
There was an incorrect address of additional containers specified in testcontainers.properties
but the exception's stack trace and its message hide the real cause printing out information about problems with my main docker image.

Here is my stack trace
[code]
Here is a repository (https://github.com/danblack/testcontainers-

[2020-07-21 14:52] bsideup commented on #3010
Hey @danblack,

Could you please try Testcontainers 1.15.0-rc1?

[2020-07-21 15:02] danblack commented on #3010
Almost nothing changed
[code]

[2020-07-22 09:44] oidrissi-ch opened #3011 "Error when starting a GenericContainer."
Hi everyone!
I started using testcontainers tool and I begun with writing the following simple code to test it:

[code]

It gives me the following stacktrace :
[code]
PS : This code working for `redis:latest` image and is not working for any other docker image.

Please help me to understand and solve this problem.

[2020-07-22 12:28] yevtsy opened #3012 "Add logstash module"
I want to have the ability to use [Logstash docker](https://hub.docker.com/_/logstash) image in the container for test purposes.
The use case is to test Kafka -> Logstash -> Elastic configuration

[2020-07-22 15:10] frankkoornstra commented on #3009
Should be solved when this is sorted: https://github.com/bmuschko/gradle-docker-plugin/issues/954

[2020-07-22 15:31] bsideup commented on #3009
I am closing this issue since the problem is caused by another project.

[2020-07-22 15:31] #3009 closed

[2020-07-22 20:00] rnorth commented on #3011
Hi
This looks quite straightforward: you're launching an alpine container (which has no default command), not giving it a command to run, and asking Testcontainers to wait for the container to start serving HTTP requests.

Since there's no command specified, the container is not going to be running anything capable of serving http. In fact, the container will terminate immediately because it has n

[2020-07-22 20:00] #3011 closed

[2020-07-23 01:10] aaronjwhiteside opened #3013 "Improve logging when withReuse() is specified and a container cannot be reused."
I would like to see a warning logged everytime a container is started withReuse(true) and the hash does not match.

Ideally the warning should contain details of the existing running containers, their container ids and mismatched hashes.

And if possible it would be REALLY helpful to have some details about why the hash didn't match. I realize from reading the code that this isn't possible current

[2020-07-23 08:33] vcvitaly commented on #3012
@yevtsy You can use any image with a `GenericContainer`, would something like this work for you? I do not imply here that a separate module is not required, but such decision is up to maintainers.

[2020-07-24 09:17] britter commented on #1406
@rnorth we're still blocked by this from upgrading past 0.12.3. Any chance to get a fix for this?

[2020-07-24 09:50] bsideup commented on #1406
@britter have you considered contributing a fix? You should have the most knowledge of the problem and how to fix it :)

[2020-07-24 09:57] vcvitaly opened #3016 "Loggers provided by DockerLoggerFactory inherit from root logger instead of custom loggers"
Example configuration from modules/mysql/src/test/resources/logback-test.xml:
[code]

However DockerLoggerFactory provides names that either start with 🐳 or "docker" and they go under the root hierarchy.
So effectively any logging level lower (ex. "DEBUG") than one declared in root ("INFO" in this case) is swallowed.

[2020-07-25 04:53] #2544 closed

[2020-07-25 04:53] #2234 closed

[2020-07-25 13:46] vab2048 opened #3020 "Exposing a random port which is the same on the host and container?"
I am trying to allow for VisualVM to connect to running containers from testcontainers whilst debugging.

Unfortunately the host ->container port mapping must be the same port.

From https://forums.docker.com/t/exposing-mapped-jmx-ports-from-multiple-containers/5287:

This makes it problematic for me to create containers using testcontainers unless we use fixed exposed ports. But I do not care par

[2020-07-26 17:30] derTobsch opened #3022 "Spring Boot Application with BrowserWebDriverContainer"
Hey ho,
I tried to get the BrowserWebDriverContainer with a Spring Boot Application to run but I cannot find an working example to get my test to run. First of all what ip/dns should I use to define the application running on my host? I tried it with these examples https://robintegg.com/2019/02/24/testing-spring-boot-applications-with-testcontainers-and-selenium-webdriver-part-three.html and https

[2020-07-26 21:31] muirandy commented on #1897
This is still an issue.

[2020-07-27 10:26] britter commented on #1406
@bsideup I had a look when I reported this initially and it was not clear to me how to fix this. I might have some time look at this again this week and come up with some more concrete questions.

[2020-07-27 12:03] alexandrujieanu opened #3049 "VNC Recording high CPU usage"
Hi,

Is there any possibility to customize the parameters passed to the vnc recorder so that we decrease CPU usage? It's really high, fully utilizing 2 vCPU cores.

`flvrec.py` used in the [Dockerfile](https://hub.docker.com/r/testcontainersofficial/vnc-recorder/dockerfile) allows for framerate (and other options) customization.

The tools is called [here](https://github.com/testcontainers/testcon

[2020-07-27 12:05] findepi commented on #2246
.

[2020-07-27 13:13] raynigon commented on #1158
Hi @rnorth @bsideup,

since the junit_4 docs dont have a coresponding module, what would you suggest would be the best way to store the sourcode?

[2020-07-27 13:26] volphy commented on #3005
Any ideas?

I can see the same issue in my environment.

My environment:

- OS: MS Windows 10 (version 1809)
- JDK:  Amazon Corretto 11.08.8 (x64)
- Build tool: Apache Maven 3.6.3
- Integration tests framework: Apache Maven Failsafe plugin: 3.0.0-M5
- Docker: Docker Desktop 2.3.0.3 (Docker Engine 19.03.8)
- Test containers: 1.14.3

I can see the same error messages regardless of disabling TLS on D

[2020-07-27 13:27] ykoasanto opened #3051 "Running different version of elasticsearch"
Is there a way to run elasticsearch module with a different version than the one hardcoded in the `ElasticsearchContainer.java`? I can fork the branch and change it, but it would be nice if there is a way to change it dynamically? May be can be passed in as an annotation argument from the test class?

[2020-07-27 15:04] raynigon commented on #3051
See https://github.com/testcontainers/testcontainers-java/blob/master/modules/elasticsearch/src/test/java/org/testcontainers/elasticsearch/ElasticsearchContainerTest.java#L87

Simply use the constructor and pass the image with the version you want

[2020-07-27 16:15] danblack opened #3053 "Whitespaces are not trimmed for the values in the testcontainers.properties"
If there is a whitespace at the end of the last line of the testcontainers.properties, a test will fail with an error's text shown below
**Library version: 1.14.3**

**testcontainers.properties**
[code]
**error**
[code]

[2020-07-27 17:02] psakar commented on #2088
Blocked by https://github.com/containers/podman/issues/6015

[2020-07-27 18:56] acanda opened #3054 "DateTimeParseException when trying to launch container"
When Testcontainers is refreshing its local image cache, it is using the command "inspect image" and parses the timestamp of the attribute "created". If this timestamp contains a time zone offset, then the following exception is thrown and Testcontainers fails to launch the container.
[code]
This happend with Docker version 18.06.3 on Linux.

[2020-07-27 20:57] rnorth commented on #3051
Thanks for answering @raynigon - that's the answer!

[2020-07-28 07:25] Chr3is opened #3056 "Why is the reuse property only evaluated from the environment properties and not additionally from the classpath file"
In `org.testcontainers.utility.TestContainersConfiguration#environmentSupportsReuse` the environment properties (.testcontainer.properties in user's home directory) are used for the evaluation of `testcontainers.reuse.enable` . Why don't we use the merged properties from environment AND `testcontainers.properties` from classpath (https://www.testcontainers.org/features/configuration/)

Version: 1.

[2020-07-28 08:21] alexandrujieanu commented on #3049
Chrome it's actually causing the high CPU usage, closing the issue.

[2020-07-28 08:21] #3049 closed

[2020-07-28 08:22] bsideup commented on #3056
See #1781 (comment)

[2020-07-28 08:22] #3056 closed

[2020-07-28 10:29] lukaseder opened #3057 "Consider making the org.jetbrains:annotations dependency optional"
I'm assuming the `org.jetbrains:annotations` dependency is part of testcontainers because it improves Kotlin interoperability.

I've discovered a rather annoying Eclipse IDE feature, where type annotations are always produced in generated code when using the IDE "quick fix" feature:
https://bugs.eclipse.org/bugs/show_bug.cgi?id=565463

This is hardly ever useful or idiomatic in Java code. A workar

[2020-07-28 13:10] ykoasanto commented on #3051
Thanks @raynigon! Somehow missed that one constructor... I am all set

[2020-07-28 13:10] #3051 closed

[2020-07-29 09:56] marcelomorgado opened #3058 "How to properly setup singleton container with flyway?"
Hi there,

I have a question about that, The container itself (startup/destruction) is running with great performance among test cases but in my case, I have to prepare the DB with migrations scripts before be able to run each test case and it's slowing me down a bit. I want to have DB cleaned (new container+fresh migrations) before each test case to keep them isolated. Is there a way to run flywa

[2020-07-29 12:43] vipulnewaskar7 opened #3059 "Include name of service (which is failed to start within timeout) in the error message"
When service (say my-service) running on original port 80 mapped with 32803 port fails to start, testcontainer throws below error :

Since 32803 port is assigned by TestContainers, the end-user is unaware of that and may not be meaningful for him.
We should return the service name (i.e my-service) in addition to the original error message??

[2020-07-29 12:48] vipulnewaskar7 opened #3060 "Handle the interdependency among the containers"
Containers in DockerComposeContainers should start only after the "parent" container is started.
e.g.
containers A and B
B depends on A
Though the docker-compose file contains the "depends_on" feature, it's not sufficient because B does not wait until A is up.
But we can bring this feature to TestContainers.
We can use WaitStrategy itself

[2020-07-29 13:31] psimms-r7 commented on #2921
We are seeing the same issue when running a maven build inside a k8 pod.  Is there anything on the networking side we need to configure in order to support testcontainers inside a k8 pod?

[2020-07-29 16:36] yevtsy commented on #3012
The reason for this feature request is to be able to use it later in the project https://github.com/testcontainers/testcontainers-spring-boot. See the example issue: https://github.com/testcontainers/testcontainers-spring-boot/issues/278

It will allow to easily auto-configure logstash for testing in spring-boot-based projects

[2020-07-30 08:53] bsideup commented on #3060
We can't intercept Docker Compose's start process, it is a black box.

If you want more features (such as waiting for the wait strategies), consider using `GenericContainer` and `Network` instead of Docker Compose.

[2020-07-30 08:53] #3060 closed

[2020-07-30 08:55] bsideup commented on #3057
@lukaseder thanks for reporting! We should definitely remove it as `compile` dependency and it is a long overdue, actually.

[2020-07-30 09:04] bsideup commented on #3020
@vab2048 have a look at https://github.com/testcontainers/testcontainers-java/pull/2192#issuecomment-567909070

[2020-07-30 09:42] artjomka commented on #3053
Is it free for taking ? Then I would like to look into it

[2020-07-30 11:03] bsideup commented on #3053
@artjomka sure, it is yours! 👍

[2020-07-30 13:54] marcelomorgado commented on #3058
An update here, I've tried to append all my migration scripts to the `init.sql` script to get it executed once but I've same the same issue as https://github.com/testcontainers/testcontainers-java/issues/2814#issuecomment-635914455

[2020-07-31 00:20] aaronjwhiteside opened #3061 "addFileSystemBind() resolves a different hostPath depending if the hostPath already exists or not"
So this issue was one that I have been strugging with for a while now.. seemingly randomly if I mount the same folder into my container, usinf `withReuse(true)`, sometimes the container would be reused other times not..

I finally tracked down the cause...

When `addFindSystemBind("/path/to/directory/that/does/not/exist", ...);` is called..

internally:
`MountableFile.forHostPath(hostPath).getReso

[2020-07-31 03:29] AshanthaLahiru commented on #3010
I'm also getting following error when running maven test goal. But same test class is working fine in intelliJ IDE.

[code]

Is there any workaround for this?

[2020-08-01 08:59] #2584 closed

[2020-08-01 15:20] blaluc opened #3066 "MongoDBContainer fails to start when passing an initdb script"
A container initialized as follows, fails to start:
[code]
Not sure but probably because the docker-entrypoint.sh, in case of presence of init-db scripts, does a shutdown and a restart of the process after executing them:
[code]

[2020-08-01 20:15] derTobsch commented on #3022
Found my mistake, I have not configured the rendering engine correctly in the test application properties.

[2020-08-01 20:15] #3022 closed

[2020-08-02 17:55] #2598 closed

[2020-08-03 15:42] cemkayan commented on #1816
I am also getting same exception. I am using 'KafkaTemplate' with 'executeInTransaction'

[code]

This is how I call Kafka template:
[code]
This is what I receive

[code]

[2020-08-03 16:51] psakar commented on #2088
Most probably caused by https://github.com/containers/podman/issues/5260 + https://github.com/containers/podman/issues/7196

[2020-08-03 21:42] remal opened #3077 "MongoDBContainer fails to start when using tag 4.4"
Testcontainers version: 1.14.3.

A container initialized as follows, fails to start with this error: `ContainerLaunchException: Timed out waiting for log output matching '.*waiting for connections on port.*'`
[code]

I suppose it happens because `MongoDBContainer` waits a message that matches `waiting for connections on port` to appear in logs.

However, Mongo 4.4 logs contain only this message: `

[2020-08-04 11:03] BenedictAdamson commented on #3077
Also, note the capital W in "Waiting for connections".

Naturally, this problem also affects use of the `mongo:4` image.

[2020-08-04 19:06] cwebbtw commented on #2921
Are you running on EKS? I suspect this has something to do with the bridge network being removed on EKS, see https://github.com/awslabs/amazon-eks-ami/issues/183

[2020-08-04 22:17] cwebbtw commented on #2921
I can reproduce this error on EKS, and have a work around. Referencing this  post from @micahhausler seen at https://github.com/awslabs/amazon-eks-ami/issues/183#issuecomment-463875360

As above, in the link that I referenced, the docker bridge is disabled; this can be enabled (and is the workaround). To enable the docker bridge on EKS, add the `--enable-docker-bridge true` flag to the EC2 userdat

[2020-08-05 07:32] bsideup commented on #2921
FYI it is now possible to override the auto-detected gateway by setting `TESTCONTAINERS_HOST_OVERRIDE` env variable:
https://www.testcontainers.org/features/configuration/#customizing-docker-host-detection

[2020-08-05 12:49] zhukovheorhii opened #3078 "OCI runtime create failed"
OS: macOS 10.15.6
Docker version 19.03.12, build 48a66213fe

gradle dependency:
 testImplementation("org.testcontainers:testcontainers:1.14.3")

I am trying to create GenericContainer

`class IgniteContainer(containerName: String) : GenericContainer<IgniteContainer>(containerName) {

    constructor() : this("apacheignite/ignite:2.8.1") {
        val filePath = "https://raw.githubusercontent.com/a

[2020-08-05 13:43] negadras commented on #2311
hi @bsideup I have kind of similar setup (with 4 modules in a project) and I tried the above suggestion but did not work for me

test.module/src/test/java/com/bonial/cdp/user/task/common/SpringBase.java
[code]
main.module/src/main/resources/application.yml

[code]

Logs

[code]

[2020-08-05 13:56] vcvitaly commented on #3078
That doesn't seem to be related to Testcontainers. The cause ex was thrown at:
`at com.github.dockerjava.okhttp.OkHttpInvocationBuilder.execute(OkHttpInvocationBuilder.java:283)`

Testcontainers uses docker-java under that hood, and it uses docker daemon as I understand. Is docker set up properly and docker binary file available on your PATH?

[2020-08-05 14:02] zhukovheorhii commented on #3078
When I'm running same image via terminal all is fine. When using testcontainers - it fails.

[2020-08-05 14:13] vcvitaly commented on #3077
The log format has been changed in 4.4 indeed.

@bsideup @rnorth @kiview
The similar issue was described in https://github.com/testcontainers/testcontainers-java/issues/2984 where the latest image failed as well for _mock-server_.

I see that many tests are using static tags. Do you think tests should be ran against the 'latest' tag?

[2020-08-05 14:54] vcvitaly commented on #3066
Is it something that should be raised with https://github.com/docker-library/mongo ?

[2020-08-05 17:02] kiview commented on #3066
This is indeed somewhat related to #3077, but more in the way, that `MongoDBContainer` uses a `LogMessageWaitStrategy` that has certain expectations about the logs.

You can solve this by configuring your own appropriate `LogMessageWaitStrategy`.

[2020-08-05 17:10] kiview commented on #3077
@vcvitaly is correct, this is about the change in the log format (which we actually already briefly discussed in Slack).

Besides from the JSON log format, now contains the following string (note the capital `W`):
[code]

The regex should probably be changed to
[code]
in order to support both versions. Can you try this out @remal? If it works, feel free to submit a PR to fix this use.

@vcvitaly

[2020-08-05 20:35] bsideup commented on #3078
the error is self descriptive, no? By using `withCommand("-e", "...")` you're saying: "Hey, I wan to run container where the command will be `-e`". Imagine running "-e CONFIG_URL=bla" in your shell.

I am pretty sure the following will fail as well:
[code]

Also, if you need to set an environment variable, you do it by customizing the container (e.g. `withEnv`). `-e` is Docker's flag that sets the

[2020-08-05 20:35] #3078 closed

[2020-08-05 20:36] bsideup commented on #2311
@negadras please see the big orange warning here:
https://www.testcontainers.org/modules/databases/jdbc/#database-containers-launched-via-jdbc-url-scheme

[2020-08-06 07:36] marvinosswald opened #3079 "MSSQL Server throws Prelogin Warning but then works."
i get prelogin warning messages after container boot, but it eventually stops and my sql import script runs just fine.
Afterwards the rest of my test runs perfectly, i'd just like to know how i could wait for something or improve this behaviour in anyway.

WARNING: ConnectionID:1 ClientConnectionId: e4e44c35-9473-4c70-ab46-24f526599b5c Prelogin error: host localhost port 32787 Unexpected end of pr

[2020-08-06 09:02] RemiBou opened #3080 "getHost() not returning the good IP"
Hi,

I have this Jenkins setup where my build are executed in docker (locally everything is fine). When I get the ip address of my container I get "172.17.0.1" which results in connection error.

If I execute docker commands when the startup check is running I get

From this information it seems that the IP "172.17.0.4" would be better right ?

[2020-08-07 03:23] torrespro commented on #2496
I'm trying to add MSSQL Server to testcontainers spring-boot and noticed that the docs about the acceptLicense() in MSSQL Server: https://www.testcontainers.org/modules/databases/mssqlserver/ are a little bit ahead of the release ;-)
acceptLicense() is not included yet in 1.14.3, correct? I see the merge of @KyleAure PR has been done but it's for the incoming 1.15.X I believe...

[2020-08-07 09:19] marcinmilewski93 commented on #2661
It seems like an update of EKS resolved above issue and now I am facing issue from:
https://github.com/testcontainers/testcontainers-java/issues/2921

[2020-08-07 09:19] #2661 closed

[2020-08-07 09:55] Tillerino opened #3081 "Make (containers with) networks reusable"
I am loving the reusable containers. They can speed up development so much when repeating individual tests locally or when tests are run in several JVMs _successively_ in the CI.

Currently, I am working with containers that are additionally connected through a network. These cannot be reused since the name of the network will be a random UUID each time. The hash of the containers to be reused is

[2020-08-07 14:13] knutwannheden commented on #1802
AFAICT this issue can now be closed.

[2020-08-07 18:08] ykoasanto opened #3082 "Need to use localstack ELASTICSEARCH and ELASTICSEARCH_SERVICE"
Is there a reason why the two services being commented out? Here are the lines:

https://github.com/testcontainers/testcontainers-java/blob/master/modules/localstack/src/main/java/org/testcontainers/containers/localstack/LocalStackContainer.java#L303-L304

https://github.com/testcontainers/testcontainers-java/blob/master/modules/localstack/src/main/java/org/testcontainers/containers/localstack/Loc

[2020-08-08 08:07] #2606 closed

[2020-08-08 12:05] membersound commented on #2627
I still think this is relevant and should not be closed by a bot.

[2020-08-08 16:15] rnorth commented on #2627
Agreed, thanks @membersound

[2020-08-09 09:53] #2626 closed

[2020-08-10 10:20] bsideup commented on #3080
@RemiBou `getHost` returns the host on which the containers are _exposed_ (usually with random ports), not the container's host. `172.17.0.1` should be correct here, as long as you're using the mapped port values and your firewall is configured correctly and allows traffic from containers to the host.

[2020-08-10 10:20] #3080 closed

[2020-08-11 05:32] #2629 closed

[2020-08-11 11:07] longstone commented on #570
We're facing this issue with testcontainers-java and Postgres 11.4.
It works fine with11.8.
Is there a workaround so that we can test as we run it in production?

[2020-08-11 12:31] tlefevre commented on #2968
Ping?

[2020-08-12 16:25] leonard84 commented on #512
@artjomka well https://github.com/testcontainers/vnc-recorder/issues/3 is marked with help wanted and if you fixed that, then this should be fixed as well.

[2020-08-12 17:05] K-You commented on #1926
Hi @davismariotti, I have the same issue, if you have resolved it i'm interested 😁

Running from a docker, I have a timeout error when trying to reach the elastic container :

[code]

But when I run a `docker ps` in the meantime, I can see that the container is running

[code]

And I can curl the container without problem

[code]

I don't understand why the waitStrategy cannot reach the container,

[2020-08-12 18:53] marcelomorgado opened #3092 "Testcontainers not working (Gitlab)"
Hi there, I've spent the last few days trying to solve the issue below but I couldn't, can you help me?

My `.gitlab-ci.yml` file:
[code]

My test superclass:
[code]

Exception received:
[code]

Note: I'm using `postgres` as Gitlab service because it's used by `jOOQ` to build the table classes.

Thanks

[2020-08-12 23:13] twoodhouse opened #3093 "ImageFromDockerfile: Pass through build logs"
Currently, when using ImageFromDockerfile, it is possible to see log messages about which line in the dockerfile is failing, but that appears to be all. There is no way to output the actual logs that occur when running the docker build.

My team's use-case, however, requires that we see all logs output during the docker build process within testcontainers.

Is there a way to do this? If not, is th

[2020-08-12 23:21] twoodhouse commented on #3093
This seems similar to the request here, but it was never resolved: https://github.com/testcontainers/testcontainers-java/issues/2629

[2020-08-14 09:13] rnorth opened #3099 "Docker Hub pull rate limits"
N.B. This issue description will be updated as new information becomes available.

As of 2020-08-13, Docker have updated their [terms of service](https://www.docker.com/legal/docker-terms-service) and [pricing page](https://www.docker.com/pricing), indicating that:

* unauthenticated pulls will be rate limited to 100 per 6h
* authenticated pulls will be rate limited to 200 per 6h

The [page on rat

[2020-08-14 13:24] vcvitaly commented on #3058
@marcelomorgado
It's possible to create a static field with a container in a super class and it will be loaded only once for all tests.
After that you can just perform a clean up after each test case without recreating the whole schema.

Is that something you were looking for?

[2020-08-14 13:47] vcvitaly commented on #3092
If it's still relevant, could you attach more logs?

[2020-08-14 14:05] vcvitaly commented on #3059
**Testcontainers** usually includes container name in log messages, for ex:
`17:02:45.399 INFO    [mysql:5.7.22]`

If an error is logged, you should see such message above. Is that what you meant?

[2020-08-14 14:31] pkubowicz opened #3101 "Remove JUnit 4 dependency"
Testcontainers does not run if JUnit 4 is not present on classpath because GenericContainer implements JUnit 4 TestRule.

[Spring Boot 2.4 will remove JUnit 4 from classpath](https://github.com/spring-projects/spring-boot/wiki/Spring-Boot-2.4.0-M1-Release-Notes#junit-5s-vintage-engine-removed-from-spring-boot-starter-test). Having both versions of JUnit on classpath is inconvenient for authoring t

[2020-08-14 14:32] bsideup commented on #3101
Duplicate of #970

[2020-08-14 14:32] #3101 closed

[2020-08-14 14:34] rnorth commented on #3099
One idea: for fork builds on GitHub Actions, we could look at using GitHub Packages as a cache for required images. Images pushed to GitHub Packages should be readable on forks, so the main (automatable) work would be:
* to ensure that an OSS project's docker dependencies are published to GitHub Packages
* to ensure that image substitution is performed to rewrite references to the original image n

[2020-08-14 19:08] vlsi commented on #3099
AFAIK, GitHub registry requires API token even for image pulls from public repositories, so I'm not sure forks would be readable on forks.

[2020-08-15 07:56] rnorth commented on #3099
@vlsi you might be right, so I'd like to do some investigation before putting a lot of effort in. My understanding of the docs was that forks can access a `GITHUB_API_TOKEN` secret which is a different, read-only, token. It's quite possible that I'm wrong.

[2020-08-15 15:10] WtfJoke commented on #3099
@vlsi, @rnorth is correct the github token provided by github action has read only access on forked repos.

See https://docs.github.com/en/actions/configuring-and-managing-workflows/authenticating-with-the-github_token#permissions-for-the-github_token

[2020-08-15 19:07] asafm commented on #606
What happened to this issue - did you end up adding restart command to GenericContainer? I can't seem to find one.

[2020-08-15 19:12] bsideup commented on #606
@asafm since restarting the container [would cause it to re-assign the ports](https://github.com/testcontainers/testcontainers-java/pull/939#issuecomment-490218654) and a few other things, we decided to not have this functionality for now.

What's your use case?

[2020-08-16 19:34] #2640 closed

[2020-08-16 19:34] #2617 closed

[2020-08-16 20:52] asafm commented on #606
Well, I have a small java-agent I wrote couple of years ago - jmx2graphite - which spits out the MBeans to Graphite. It had a known issue I wanted to fix but couldn't find the time: When ever Graphite server got restarted, writes after a while started failing on Broken pipe. So I wanted to simulate it, by restarting the Graphite container:
[code]

Unfortunately, it didn't work, since I couldn't ge

[2020-08-17 02:06] Macrame opened #3103 "ElasticsearchContainer does not expose the expected port"
I used testcontainer for unit tests and hoped to expose the standard port 9200 and 9300.
[code]
There was the log:
[code]
And I checked the containers:
[code]
Finally, the unit test failed.
[code]
How to specify the correct mapped port? I hope it runs as `0.0.0.0:9200->9200/tcp, 0.0.0.0:9200->9300/tcp` instead of `0.0.0.0:32824->9200/tcp, 0.0.0.0:32823->9300/tcp`

[2020-08-17 07:23] bsideup commented on #3103
Hi @Macrame,

Please see https://www.testcontainers.org/features/networking/ and  https://bsideup.github.io/posts/testcontainers_fixed_ports/.

tl;dr: to avoid port conflicts and due to the host not always being `localhost`, the ports are randomized that we expose two methods, `getHost` + `getMappedPort` to obtain the actual values.

[2020-08-17 07:23] #3103 closed

[2020-08-17 07:24] bsideup commented on #3103
Also see the Elasticsearch module's docs:
https://www.testcontainers.org/modules/elasticsearch/

[2020-08-17 07:29] Macrame commented on #3103
I don't want to obtain the actual values. I have to use 0.0.0.0:9200 in my scene.

[2020-08-17 07:31] bsideup commented on #3103
I see that you're using Spring Framework. It is very easy to wire the actual values in Spring:
https://spring.io/blog/2020/03/27/dynamicpropertysource-in-spring-framework-5-2-5-and-spring-boot-2-2-6

[2020-08-17 07:36] Macrame commented on #3103
Ok, got it. Thanks very much.

[2020-08-17 13:34] marcelomorgado commented on #3058
Hmmm, I wouldn't like to do so to avoid having to write clean up code. I was looking for a way to optimize the execution a bit more, actually, the time that it's taking isn't too bad.

[2020-08-17 13:34] marcelomorgado commented on #3092
Would be nice if you can reproduce the same scenario (what I've shared is enough?).

[2020-08-18 06:40] jj-vicente opened #3121 "Failed to start component [/manager]"
Hi,

I have installed pinpoint web 2.0.3 into  Apache Tomcat/7.0.72. Then renamed pinpoint-web-2.0.3.war to ROOT.war and it was deployed successfully without error. But after checking my Collector logs which is also running on different tomcat instance on the same server I got below error. Is anyone encounter these error?

Aug 18, 2020 8:33:28 AM org.apache.catalina.startup.TldConfig execute
INFO:

[2020-08-18 07:08] #3121 closed

[2020-08-18 07:09] jj-vicente commented on #3121
add deployXML="true" to the Host element in server.xml

[2020-08-18 10:59] mvillafuertem opened #3122 "Testcontainers hanging when using docker-compose on GitHub actions"
Hi There. I came here from https://github.com/testcontainers/testcontainers-scala/issues/129.

I don't know why the o.testcontainers.DockerClientFactory class tries to download 12GB. The test ends due to lack of memory.

[code]

I have tested by manually launching the docker-compose command and everything works correctly. Here you can see the result.

https://github.com/mvillafuertem/testcontainer

[2020-08-18 13:30] nikos912000 commented on #2984
Thanks @vcvitaly and apologies for not coming back.

I had a look at this today and the issue has to do with the wait strategy. The default wait strategy worked until 5.10.0 but for 5.11.0 I needed to provide a WaitStrategy that's based on an HTTP endpoint.
[code]

As regards the `MOCKSERVER_LIVENESS_HTTP_GET_PATH`, by default Mock Server exposes a PUT health/live check and so I provided a custom

[2020-08-19 06:16] carstenartur opened #3123 "MockServerContainer should allow to set sockettimeout"
see
org.mockserver.client.SocketCommunicationException: Response was not received from MockServer after 20000 milliseconds, to wait longer please use "mockserver.maxSocketTimeout" system property or ConfigurationProperties.maxSocketTimeout(long milliseconds)
	at org.mockserver.client.NettyHttpClient.sendRequest(NettyHttpClient.java:91)
	at org.mockserver.client.MockServerClient.sendRequest(MockSer

[2020-08-19 07:02] bedla opened #3124 "dockerClientStrategyClassName cannot be set from env/system variable"
Hi,
I found that `docker.client.strategy` can be set only by `.testcointaners.properties` file. For my usecase (setting it as system property during surefire configuration) I would prefer to be able to set it by environment variable or system property.
Is it intened behavior?
Thx,
Ivos

[2020-08-19 07:18] bsideup commented on #3124
Hi @bedla,

This property is set by Testcontainers itself and is used as a "cache" value. It is not intended to be set by the end user.
Why do you need to force some value?

[2020-08-19 07:40] adutra commented on #2768
Please don't close this. There is a PR for this issue: #2830.

[2020-08-19 07:44] bedla commented on #3124
I want to have deterministic configuration (customized by same ENV variables) for local development and when run on CI. This means that I want configuration for `DOCKER_HOST`.

[2020-08-19 09:15] NilukaSripalim opened #3125 "Testing with different Operating system"
Is there any way to handle test with different OS / and do we have Operating system(OS) containers for the testing purpose

[2020-08-19 12:31] sirAlexanderT opened #3126 "Testcontainers with SpringBoot 2.3.3 Junit 5 "MySQLR2DBCDatabaseContainer" Example"
@rnorth @chibenwa Is there anyone here who can point me on how to wire up and use "org.testcontainers.containers.MySQLR2DBCDatabaseContainer" in a springboot test.
Hopefully something along what has been demonstrated here: https://rieckpil.de/howto-write-spring-boot-integration-tests-with-a-real-database/

Thanks

[2020-08-19 12:43] artjomka commented on #3126
You can try using `MySQLR2DBCDatabaseContainer` instead of `PostgreSQLContainer` in above mentioned article or use this approach -
https://www.testcontainers.org/modules/databases/jdbc/

[2020-08-19 13:45] sirAlexanderT commented on #3126
@artjomka I have done that. Maybe I wasn't clear with my question. After attempting the same thing with `MySQLR2DBCDatabaseContainer` I still can;t get it working and was wondering if there was an example somewhere showing how to add the `DynamicPropertyRegistry` values

[2020-08-19 13:47] artjomka commented on #3126
There is example how to add those on spring blog -
https://spring.io/blog/2020/03/27/dynamicpropertysource-in-spring-framework-5-2-5-and-spring-boot-2-2-6
maybe that could help

[2020-08-20 06:06] wlad commented on #2383
still broken 😞

[2020-08-20 06:08] wlad opened #3129 "Dead link in documentation"
here https://www.testcontainers.org/supported_docker_environment/

![image](https://user-images.githubusercontent.com/64201310/90722993-2de60600-e2bc-11ea-957b-4eeaa4dcc81f.png)

[2020-08-20 06:12] wlad commented on #3129
this may be helpful for anybody who tries to open the broken link

https://github.com/testcontainers/testcontainers-java/blob/master/docs/supported_docker_environment/continuous_integration/circle_ci.md

[2020-08-20 07:23] #3053 closed

[2020-08-20 07:50] bsideup commented on #3126
@artjomka thanks for your help!

@sirAlexanderT I will close this issue as it seems to not be an issue per se but just a question.

As @rieckpil [already pointed out in your duplicating issue](https://github.com/rieckpil/blog-tutorials/issues/19#issuecomment-676960369), consider using Stack Overflow, Gitter or Slack for such questions.

[2020-08-20 07:50] #3126 closed

[2020-08-20 07:54] bsideup commented on #3129
Hey @wlad,

I just marked the issue as "good first issue" in case someone is looking to contribute to the project.

[2020-08-20 09:48] ghahramani commented on #970
Any updates on this? It is really causing our team to struggle as there are junit 4 annotation but they don't work

[2020-08-20 10:05] tomqwpl commented on #1763
I also see this. The OutputFrames passed to ToStringConsumer already have newlines on the end.

[2020-08-20 16:59] saturnism commented on #2633
for record, this being implemented by @eddumelendez in #2690

[2020-08-23 09:16] raderio opened #3135 "Start Solr in standalone mode"
Currently the container stats Solr in cloud mode.
Add possibility to stat Solr in standalone mode.

[2020-08-23 19:45] ksawerykarwacki opened #3136 "Add option to disable Ryuk from code"
I know that there is a way to disable this with env variable. But for my scenario I don't need Ryuk to be spawn every time I run test containers (I have separate gradle tasks to setup and destroy containers which summons Ryuk when it is needed). Currently I have to use really janky hacks to inject env variable form code. Other option is to set env variable on every machine for our gradle build to

[2020-08-23 20:10] bsideup commented on #3136
Have you considered the reusable containers feature introduced in #1781?

[2020-08-24 14:06] frankjkelly commented on #2290
This is an important issue - any chance it might have been fixed or addressed in a more recent release
I am seeing it with
SpringBoot 2.3.0
TestContainers 1.14.3

using both
1) ```PostgreSQLContainer```
2) ```DockerComposeContainer```

[2020-08-25 17:25] fongie commented on #3099
just fyi, this started happening for us today in aws codebuild in our pipeline, tests fail because limit exceeded on docker hub, so some sort of rates are being enforced already (not waiting until november)

[2020-08-25 20:38] rnorth commented on #3099
@fongie that's alarming and disappointing - my understanding was that this was not being applied yet.

Based on a test branch (#3098) I get the impression that GitHub Actions and CircleCI might not be getting rate limited yet.

The advice would remain the same - to use an authenticated account for pulling or to use a mirror/copy in another registry. I'm saddened that we've not had time to release

[2020-08-25 20:50] rnorth commented on #3099
Updated above with link to https://www.docker.com/blog/scaling-docker-to-serve-millions-more-developers-network-egress/ which clarifies:

* that pulls will be based on image pulls, not layers.
* an open source project plan will be available and Docker have an application form here: https://forms.gle/vvKURDTYwok7Pc4r5

From my perspective, two major topics remain unresolved:

* for open source proj

[2020-08-25 20:52] TylerJaacks commented on #1442
Is this issue solved because I am on 15 and it seems to still be an issue.

[2020-08-26 08:18] wpanas commented on #3129
Hi @bsideup, I can take this one!

[2020-08-26 10:29] fongie commented on #3099
Great! Sorry for not being more specific last post, I was busy trying to get our release out hehe

This is the error message we got:
`Caused by: com.github.dockerjava.api.exception.DockerClientException: Could not pull image: error pulling image configuration: toomanyrequests: Too Many Requests. Please see https://docs.docker.com/docker-hub/download-rate-limit/`

in AWS CodeBuild, trying to pull '

[2020-08-26 12:58] atrifyllis opened #3158 "DockerComposeContainer and reuse"
Would it be possible to have a reuse option in DockerComposeContainer so that the containers are not stopped between runs?

[2020-08-27 08:18] typik89 opened #3160 "conflicting options: port publishing and the container type network mode"
I want to use an option "--net=container:<container_id>". It's necessary to collect traffic from <container_id> container.
But when I try to do it, the container doesn't start:
Caused by: com.github.dockerjava.api.exception.BadRequestException: {"message":"conflicting options: port publishing and the container type network mode"}

Why it happens? I don't publish any port:
    @Container
    Generi

[2020-08-27 08:18] bert-laverman commented on #1135
Kubernetes support will be very important once k8s 1.18 becomes mainstream because it will by default no longer support docker access to the underlying container platform. Instead, it will go directly to contained. So any build platform in k8s will not be able to easily run Maven jobs depending on testcontainers.

[2020-08-27 09:18] vmassol opened #3161 "Add ability to increase default timeout for BrowserWebDriverContainer when checking if it's started"
Hi, seems that on some slow agents we might be hitting the 30s hardcoded timeout. While we can extend BrowserWebDriverContainer to override `containerIsStarted()` (it's not perfect though since we cannot just copy paste the default content as it uses some private variables), it would be even nicer if the timeout could be configurable.

I'm referring to:

[code]

What I did FTR:

[code]

[2020-08-27 14:36] stormobile commented on #1135
The problem with testcontainers and K8s is that TCs give developers an easy way to couple deployment entities together when there is no actual need or requirement to do so. It puts quite a lot of strain on infrastructure/ops teams as TCs adoption forces them to deploy larger VMs/Workers that cost more and are harder to achieve best resource utilization with. For example some of our teams run the t

[2020-08-28 09:38] ralph089 commented on #1135
I have found an interesting project that addresses this problem. Has anyone tried this out yet? https://github.com/JeanBaptisteWATENBERG/junit5-kubernetes

[2020-08-28 10:40] rnorth commented on #1135
Allowing Testcontainers to work atop a Kubernetes or Docker backend has long been something we would quite like to be able to do.

The question is time. We have a huge amount of other work that we need to do, and Kubernetes support is only a benefit to a subset of users. @bsideup, @kiview and I work on this almost entirely in our personal time, which is limited.

The extent of changes would be so

[2020-08-28 11:18] jzabroski commented on #1135
2. Kafka
3. Oracle

So... in your example, if you're using GitLan or GitHub, how do you spin up a CI build that launches Oracle, Kafka and your java service? I didn't understand how Kubernetes support solves your problem.

[2020-08-28 11:26] stormobile commented on #1135
We have to run big workers in CI, but testcontainers could provide the abstraction layer to specify how to spawn services in a target K8s cluster (much like how it is done with compose). All this could be done in CI itself with dynamic environment preparation (with yaml, helm and all other possible K8s deployment options) but the thing about Testcontainers approach is that all the same stuff is do

[2020-08-28 16:24] sazzer opened #3166 ""Can not connect to Ryuk" on macOS with Docker for Mac 2.4.0.0"
I've seen this exact error come and go a fair bit on here, but it's just today started happening for me.

I'm using testcontainers-java 1.12.0, but updating to the latest version has no impact at all.

When running my test, I get the following:
[code]

And then a seemingly infinite amount of the following:
[code]

This is running with Java 1.8.0_222 from Amazon Corretto, running on macOS 10.15.6.

[2020-08-28 16:50] jzabroski commented on #1135
Is the k8s cluster a virtual setup within the CI build server, or are you deploying the CI build to a k8s cluster with physical nodes? Based on your answer, you didn't answer my question. It matters in terms of who the customers are for your feature request. If the issue is truly that you can't properly integrate everything in the same CI build, then that's "Enterprise solution" territory and not

[2020-08-29 08:52] #2726 closed

[2020-08-31 19:19] raulvc opened #3178 "Add a property for Localstack SQS queue prefix"
I just spent a few hours trying to work around a misleading error saying a SQS consume request was wrong
 when actually it was a `/queue` missing from localstack endpoint:

[code]

[2020-08-31 20:38] hatrixdamjan opened #3179 "Docker compose with Citus images fails to start"
I run integration tests within a Spring Boot and have a defined docker-compose file:

`
version: '3'

services:
  master:
    image: 'citusdata/citus:9.4.0'
    labels: ['com.citusdata.role=Master']
    environment: &AUTH
      POSTGRES_USER: "aequus"
      POSTGRES_PASSWORD: "aequus"
      PGUSER: "aequus"
      PGPASSWORD: "aequus"
      POSTGRES_HOST_AUTH_METHOD: "trust"
    ports:
      - "543

[2020-08-31 20:52] hatrixdamjan commented on #2981
up

[2020-09-01 06:19] vcvitaly commented on #3178
@raulvc Testcontainers contains modules contributed by different people, so it's better to describe the context, ie what the endpoint was and what it should be. Also a stack trace would be handy.

[2020-09-01 06:33] vcvitaly commented on #3179
I just looked at the code, but it's hard to tell anything since the exception messages are swallowed in your output. Are you running gradle test from console?

Anyway, a full stack trace would be helpful.

[2020-09-01 07:53] rnorth commented on #3099
@fongie sorry for the slow response. If you log in to Docker Hub then Testcontainers will be able to use that hub account for pulling.

If you log in to another docker registry (e.g. ECR) then that does not help directly, but it could be made to work. ECR does not function as a pull-through cache (AFAIK), so you'd have to copy the required image into ECR and use `new PostgreSQLContainer("your.ecr.

[2020-09-01 07:53] rnorth commented on #3099
For GitHub Actions users, this issue looks worth following: https://github.com/actions/virtual-environments/issues/1445

[2020-09-01 10:51] rnorth commented on #3057
Fixed in #3157

[2020-09-01 10:51] #3057 closed

[2020-09-01 13:01] diegolovison opened #3183 "ResourceReaper::start can hang forever"
The following Socket doesn't have a timeout
https://github.com/testcontainers/testcontainers-java/blob/master/core/src/main/java/org/testcontainers/utility/ResourceReaper.java#L133

Thread dump
[code]

[2020-09-01 14:30] etiennestuder opened #3184 "Missing constructor PostgreSQLContainer(@NonNull final Future<String> image)"
The super classes of `PostgreSQLContainer` have a constructor with argument `Future<String> image` which allows to pass in an `ImageFromDockerfile` instance. This is currently not possible on the `PostgreSQLContainer` class.

The workaround is to instantiate `PostgreSQLContainer`, and then call the inherited setter `org.testcontainers.containers.GenericContainer#setImage`.

[2020-09-02 06:58] deroffal commented on #2408
Please re-open.

It would be great if you could remove this hardcoded configuration, or at least update the doc 😉

https://www.testcontainers.org/modules/localstack/

[2020-09-02 11:38] rnorth commented on #2768
Reopening, and labelling so that it won't be closed automatically.

[2020-09-02 11:39] Asgoret commented on #1135
Hi to all!
It may be little out of scope, so I'm sorry for that ;D
My developers come with a problem that TC can't connect to `docker.socket` due security restrict. We have vanilla Jenkins as a CI\CD tool and using DinD on bare-metal slaves, also we move to generated slaves in OKD|K8S cluster. Is there any opportunity to use TS in secure mode? Without given high privileges to TC containers.

cc @r

[2020-09-02 11:39] rnorth commented on #2408
Reopening - sorry this was closed automatically.

[2020-09-02 11:40] rnorth commented on #2769
Let's keep this open.

[2020-09-02 11:49] rnorth commented on #1135
@Asgoret it's not an out of scope question - that's the topic of this issue 😄 . Basically, Testcontainers requires a docker daemon in order to be able to launch containers. We don't have a way to launch containers unless you can provide some kind of docker daemon.

[2020-09-02 13:40] bsofiato opened #3185 "Allow user to customize sid on OracleContainer"
Hi guys,

How you guys feel about adding the ability to set the sid on the OracleContainer?  I am thinking about using the same method as the username and password (i.e., adding a "withSid" method). If you guys think it is worth it, I can submit a PR for that.

[2020-09-02 16:07] KyleAure commented on #3185
I believe as of right now testcontainers only supports the express (XE) versions of oracle as they are the only "lightweight" versions available as docker images.  I use lightweight in quotes because they still end up being ~10GB, production level oracle images are even larger.  It would not make sense to support bringing up a production oracle image for testing.

As such, the only SID available w

[2020-09-02 16:24] bsofiato commented on #3185
We were able to run an oracle image (standard version) with test containers without any problem (we had only to change the share memory). It was a legacy system on which we had a test fixture already in place on this particular version. Nonetheless, I feel that ours is a corner case.

In the meantime, I will take a look at the issue you mentioned.

Thanks for the reply

P.S. I don't know if it is

[2020-09-02 16:32] Asgoret commented on #1135
@rnorth Well... I've read a thread with one eye and can suggest several options:
1) [Through jenkins DSL language](https://www.jenkins.io/doc/book/pipeline/docker/#running-sidecar-containers) (I think other CI\CD tools can provide familiar features)
2) Through integration plugins (e.g. [jenkins kubernetes plugin](https://plugins.jenkins.io/kubernetes/)) for getting sidecar containers [example](htt

[2020-09-02 18:10] vcvitaly commented on #2769
I can take it.

[2020-09-02 20:55] wlad commented on #2833
I'm in a similar situation as @skipidar   I've indroduced testcontainers into our build obviously to have a 1:1 reproduceable build on CI and locally. But know some people do not like the idea of docker magic happening in the background when they build locally.

Is there a way to deactivate testcontainers via commandline similar to `java -jar ... -dSkipTests` ? i.e. `-dSkipTestcontainers` or `-dNo

[2020-09-02 21:17] wlad commented on #343
There may be another use case to consider as well: someone wants to (maybe just temporary) deactivate testcontainers in his build

see --> https://github.com/testcontainers/testcontainers-java/issues/2833#issue-630565097
and --> https://github.com/testcontainers/testcontainers-java/issues/2833#issuecomment-685992783

[2020-09-02 21:29] wlad commented on #922
the docs could point out to not confuse the two things 😆

[2020-09-03 08:51] Asgoret commented on #1135
@rnorth @bsideup is there any opportunity that TC will support CRI (Container Runtime Interface) and will be enabled to use OCI (Open Container Initiative) compatible runtimes (e.g. rkt|cri-o|containerD|Kata containers|etc)?

[2020-09-03 09:22] QazerLab opened #3186 "LogMessageWaitStrategy misses the required log lines when multiple containers are started"
I start a custom database container and then I run a second container which executes a bunch of SQL scripts to initialize the database (these scripts usually run in less than a second) and exits. For both of these containers I use `LogMessageWaitStrategy` to check that (a) the database is ready; (b) the initialization scripts finished running and the initialization was successful.

The problem: th

[2020-09-03 13:46] goncalonsp opened #3187 "Bad KAFKA_ADVERTISED_LISTENERS when exposing host ports to the container"
This issue relates to the Kafka module.

When using the testcontainers utility to expose host ports to all containers (see https://www.testcontainers.org/features/networking/#exposing-host-ports-to-the-container), `KafkaContainer` faills to start Kafka due to an internal misconfiguration.

The error seen from the Kafka container logs is the following:
[code]

From my analysis, it seems that, when

[2020-09-03 14:44] KyleAure commented on #3185
I believe you should be able to close the issue since you authored it.  I am just a contributor so I am unable to do so.

[2020-09-04 07:13] wpanas commented on #3184
If maintainers agree, I can do it. I can check other JdbcDatabaseContainer implementations and fix them too.

[2020-09-04 13:57] KyleAure commented on #3184
+1 I think it would be good to have all JDBCDatabaseContainers have a consistent set of constructors where applicable.

[2020-09-05 23:06] #2791 closed

[2020-09-06 16:22] wlad opened #3189 "Is it possible to deactivate testcontainers via command-line (i.e. mvn verify -DskipTestcontainers)?"
I've introduced testcontainers into our build to have a 1:1 reproduceable build on CI and locally. But some people do not like the idea of docker magic happening in the background when they build locally (weird! I know. Don't ask 😄)

I've read about `@Testcontainers(disabledWithoutDocker = true)` but that's not what is needed in my case, since it would skip the tests as well. But I don't want to s

[2020-09-06 18:09] kmos commented on #3189
Hi,

I don't know if there is something in the container test library and maybe you already know it, but you can configure this type of stuff on maven build section, in particular you can use the `maven-failsafe-plugin`. You can rename tests containers in something like `UserRepositoryContainerTest.java` and use this configuration in your `pom.xml`

[code]

and run only test container using profil

[2020-09-06 18:37] wlad commented on #3189
Hey @kmos, thanks for the input. Do I understand correctly that you suggest to rename the test class(es)?

In my case it's only this one class: https://github.com/ehrbase/fhir-bridge/blob/develop/src/test/java/org/ehrbase/fhirbridge/FhirBridgeApplicationTestIT.java#L49   So if I exlude it I will have no tests. The issue is that it's the same test that I want be able to run with OR without testcont

[2020-09-06 19:09] kmos commented on #3189
Yes, my suggestion was to split tests by type using a convention on names like `UserRepositoryUnitTest, UserRepositoryIntegrationTest,  UserRepositoryContainerTest` and execute the right category with maven profiles. Obviously, I forgot to mention that in the default configuration of `maven-failsafe-plugin` you should configure the tests that you want to execute always (like unit test).

Anyway, i

[2020-09-06 20:05] wlad commented on #3189
yep exactly 😃

I guess if there is not something that is as easy as `mvn verify -DskiptTestcontainers` I'll have to ask our team if they feel it's worth the effort to implement something to make testcontainers optional. On the CI pipeline I actually don't really need testcontainers.

[2020-09-07 07:12] mpschaeuble commented on #3166
@sazzer Have you found a solution in the meantime? I have the same issue after updating Docker Engine today.

[2020-09-07 07:59] gesellix commented on #3166
For Docker Desktop _Edge_ Releases on macOS, see #3159.

[2020-09-07 16:02] flacombe opened #3218 "Container from dockerfile won't build over missing file for copy"
Dear maintainers

Following instruction from https://www.testcontainers.org/features/creating_images/, the following code won't produce a valid docker image
[code]
Log states

while ```dockerfile``` path points to a directory containing ./load

I don't get any message showing that content is sent to docker build context, why .withFileFromPath(".", dockerfile) isn't catching anything?
What am I doi

[2020-09-08 23:12] aferodriguez commented on #1773
Good Evening, Currently Im having what looks like the same problem, but using adoptopenjdk12, please could you help me?

` [tcp-unix-proxy-accept-thread] DEBUG org.rnorth.tcpunixsocketproxy.ProxyPump - Accepting incoming connection from /127.0.0.1:65434
Exception in thread "tcp-unix-proxy-accept-thread" java.lang.ExceptionInInitializerError
	at org.newsclub.net.unix.AFUNIXSocket.<init>(AFUNIXSocke

[2020-09-09 14:07] slominskir opened #3221 "execInContainer hangs if executed more than once on Docker Desktop Windows"
Running Docker Desktop Windows 2.1.0.5 and using JUnit 4 with annotations BeforeClass and AfterClass to setup a container that multiple Test cases can be run against.   Each test case does an execInContainer.   Each test works if run separately.    If entire Test class is run then whatever the second execInContainer that is run will hang.   Using docker command line tools I can exec a shell to the

[2020-09-09 18:13] aheritier opened #3222 "@Testcontainers isn't failing by default if docker isn't available"
Hi team,

When using the annotation @Testcontainers for JUnit 5 if docker isn't available the tests are all ignored.

I have such kind of result:

[code]

My code (Spring Boot app) is doing something something like

[code]

My understanding from `Testcontainers#disabledWithoutDocker` ( https://github.com/testcontainers/testcontainers-java/blob/master/modules/junit-jupiter/src/main/java/org/testcon

[2020-09-09 19:41] bsideup commented on #3222
@aheritier this does not look `@Testcontainers`-related.
If `disabledWithoutDocker` is set to `false`, it won't ignore anything and just let the test run (so that it fails later).

Make sure that you're using the correct JUnit runner and that it discovers the tests correctly.

[2020-09-09 19:45] bsideup commented on #3222
I just created a project with https://start.spring.io/#!type=maven-project&language=java&platformVersion=2.3.3.RELEASE&packaging=jar&jvmVersion=11&groupId=com.example&artifactId=demo&name=demo&description=Demo%20project%20for%20Spring%20Boot&packageName=com.example.demo&dependencies=testcontainers,postgresql,webflux and the following test fails when Docker is not available:
[code]

Feel free to re

[2020-09-09 19:45] #3222 closed

[2020-09-10 00:55] alex-arana commented on #2493
This issue is related to #2290 which has been automatically marked as stale. There is no viable workaround except to remove ```@TestInstance(TestInstance.Lifecycle.PER_CLASS)``` from the Test.

[2020-09-10 07:04] wpanas commented on #3129
This issue can be closed

[2020-09-10 08:27] aheritier commented on #3222
thanks @bsideup I will verify on my side and reopen if necessary

[2020-09-10 12:31] alex-arana commented on #2493
I've verified that the test succeeds when using `TestInstance.Lifecycle.PER_METHOD` (default):

[code]

[2020-09-11 06:24] findepi commented on #2863
.

[2020-09-11 07:00] wpanas commented on #3123
You can set it up using environment variable MOCKSERVER_MAX_SOCKET_TIMEOUT according to https://mock-server.com/mock_server/configuration_properties.html

[2020-09-11 09:07] wlad commented on #3129
@wpanas thank you ❤️

FYI: If you use special keywords like `fixes [link to issue]` (i.e. fixes https://github.com/testcontainers/testcontainers-java/issues/3129) in your PR description when the related issue is closed automatically when your PR is accepted and merged.

check [this ](https://docs.github.com/en/enterprise/2.16/user/github/managing-your-work-on-github/closing-issues-using-keywords)f

[2020-09-11 09:07] #3129 closed

[2020-09-11 10:00] snicoll opened #3224 "Provide an out-of-the-box WaitStrategy that validates Cassandra's CqlSession is available"
We're using testcontainers with Cassandra and we need to make sure that the `CqlSession` is available as things happen asynchronously.

We ended up, with the help of the Cassandra team, with [this code](https://github.com/spring-projects/spring-boot/blob/26daf3714e34060a2451d4a203fd524729fc3cfd/spring-boot-project/spring-boot-autoconfigure/src/test/java/org/springframework/boot/autoconfigure/cassa

[2020-09-11 11:34] dlgroves-ch opened #3225 "Cannot use DockerComposeContainer if a remote Docker daemon is specified"
A ContainerLaunchException with the following message is thrown by ContainerisedDockerCompose on startup if a remote Docker daemon is used:

[code]

To reproduce:

1. Create a test case that uses DockerComposeContainer (as described in https://www.testcontainers.org/modules/docker_compose/).
2. Set the DOCKER_HOST environment variable to the location of a remote Docker daemon.
3. Ensure docker.cli

[2020-09-11 13:24] wpanas commented on #3129
@wlad thanks for feedback 👍

[2020-09-11 16:20] vcvitaly commented on #3221
@slominskir Have you fixed that? I tried running the test and it failed on `testUnresponsiveCode60()`.

[2020-09-11 17:27] dlgroves-ch commented on #3225
The issue seems to occur as ContainerisedDockerCompose adds Docker compose files using a bind mount - which is not supported when using a remote Docker daemon:

https://github.com/testcontainers/testcontainers-java/blob/63692d3d84d2c5e46788d0dea28acc33f4dc1d92/core/src/main/java/org/testcontainers/containers/DockerComposeContainer.java#L605

[2020-09-11 20:08] #3185 closed

[2020-09-12 09:41] #2764 closed

[2020-09-12 09:41] #2796 closed

[2020-09-12 09:41] #2614 closed

[2020-09-13 03:46] vinchauhan opened #3228 "Database containers launched via JDBC URL scheme using custom registry"
Database containers launched via JDBC URL cannot be pulled from custom registry, the JDBC URL defaults the image to be pulled from docker hub.

There should be a feature to parse the JDBC url even from custom registry like

jdbc:tc:custom.docker.registry.com/images/postgresql:9.6.8:///databasename

[2020-09-13 07:23] FpyrypT opened #3229 "Customize docker.client.strategy through classpathProperties instead of environmentProperties"
I think it could be a convenient feature to customize docker.client.strategy also through classpathProperties instead of environmentProperties only. Would you like to rollback
`return (String) properties.get("docker.client.strategy");`
instead of
`return (String) environmentProperties.get("docker.client.strategy");`
at this line?
https://github.com/testcontainers/testcontainers-java/blob/9b3c87eb2

[2020-09-13 15:31] bsideup commented on #3229
The value stored in the file is a "cache" and is not supposed to be manually set.

Also, client strategies is a property of an environment. It does not make sense to force the Unix Socket strategy, for example, because it will fail on Windows.

[2020-09-13 15:32] #3229 closed

[2020-09-14 07:56] wilkinsona commented on #2614
This is still a problem for us with the workaround being necessary for two of the four timeouts and the other two remaining, as far as I can tell, unconfigurable. Given that the issue is assigned, I had assumed that it was being worked on and that any PR would duplicate effort. Can this issue please be opened and addressed? If it's not being worked on by anyone, please let me know and I'll see if

[2020-09-14 09:01] bsideup commented on #3228
Duplicate of #4

[2020-09-14 09:01] #3228 closed

[2020-09-14 12:42] vcvitaly commented on #2769
@rnorth is it still relevant? The change is straightforward, it looked and the code, it will take a little time to implement it, but the `DockerMachineClientProviderStrategy` class is deprecated.

[2020-09-14 18:33] bademux commented on #2994
It is definitely the bug. It should either throw "Unimplemented" exception on JdbcDatabaseContainer#waitingFor or take into account custom wait strategy

Meanwhile I use hackfix below
[code]

[2020-09-14 19:53] slominskir commented on #3221
How did it fail?   I worked around this issue by simply not having more than one execInContainer invocation between container restarts.  Not a great fix though.

[2020-09-15 06:20] lionchi opened #3236 "Container won't start"
java.util.ServiceConfigurationError: org.testcontainers.dockerclient.DockerClientProviderStrategy: Provider org.testcontainers.dockerclient.EnvironmentAndSystemPropertyClientProviderStrategy could not be instantiated
	at java.base/java.util.ServiceLoader.fail(ServiceLoader.java:584)
	at java.base/java.util.ServiceLoader$ProviderImpl.newInstance(ServiceLoader.java:806)
	at java.base/java.util.Servi

[2020-09-15 08:53] danberindei commented on #2276
I forgot about this issue, because I had modified our tests to ignore any `tc-okhttp-stream-.*` thread leaks.

The good news first: upgrading to testcontainers 1.15.0-rc1 (which includes `docker-java` 3.2.5) fixed the leak.

The bad news is that there is still a thread leak, with a new thread name pattern: `docker-java-stream--.*`. It appears because calling `DockerClientFactory.instance().client(

[2020-09-15 09:15] bsideup commented on #2276
@danberindei Thanks for the update! I re-opened the issue so that we remember to investigate Ryuk's leak 👍

[2020-09-15 10:11] vcvitaly commented on #307
I can take it.

[2020-09-15 15:59] vcvitaly commented on #3221
I tried `./gradlew test` and it failed with:
[code]
It didn't hang though, so I could't reproduce the issue.

[2020-09-16 11:07] AB-xdev opened #3238 "Unable to pre-fetch an image when using build-args in FROM"
We are using the following:
[code]
Dockerfile
[code]

This throws an exception, as it trys to pre-fetch an image:
[code]

It would be nice
* if the code which pre-fetches/pulls the dependencies would automatically consider the use of args and either uses them to download the image or simply ignores it
* OR if there is an option to disable the pre-fetching/pulling

[2020-09-16 13:39] slominskir commented on #3221
@vcvitaly Did you run git pull first?  Are you at revision 89c4d08?   All tests pass for me.   I ran:

[code]

I'm on Windows 10 if that matters?   The test in question disables the network interface in the test container in an attempt to trigger an "unresponsive" error code - maybe different OS stacks have an effect, though I wouldn't think so because I'm testing an application level timeout.

[2020-09-17 16:19] jakobbraun commented on #1442
I'am also experiencing issues with version 1.14.3, when using AWS SDK v2:

[code]

The reason for that error is, that the localstack testconainers module internally still uses the AWS SDK v1. While that would be no problem, the issue is, that it declares it as [compileOnly](https://blog.gradle.org/introducing-compile-only-dependencies) dependency (see [build.gradle](https://github.com/testcontaine

[2020-09-18 09:51] rolintoucour opened #3239 "Restart the tc_initscript before each test"
Hi,

I successfully set up TestContainers in a quarkus application with this kind of configuration:

`%test.quarkus.datasource.url=jdbc:tc:postgresql:11:///dbname?TC_INITSCRIPT=file:src/test/resources/init.sql`

However in some tests I delete rows; and I'd like that each test start with the same database state.

Is there any way to force TestContainers to re-run the initscript before each test, or

[2020-09-18 10:53] survivant opened #3240 "Cannot construct instance of `com.github.dockerjava.api.model.Binds`, problem: Error parsing Bind"
PS  ( I rollback to Docker Desktop Community 2.3.6.2 and the problem is gone)

Docker for Windows : 2.3.7.0
Docker version 19.03.13-beta2, build ff3fbc9d55
[code]

[code]

[2020-09-18 11:27] bsideup commented on #3240
Hi @survivant,

Please report it in http://github.com/docker-java/docker-java

[2020-09-18 11:27] #3240 closed

[2020-09-19 12:33] sharath2106 commented on #1341
Is the issue resolved? I still face issues with video recording after test execution. I'm using TestNG instead of JUnit.

`public BrowserWebDriverContainer chrome =
      new BrowserWebDriverContainer()
          .withCapabilities(new ChromeOptions().addArguments("--start-maximized"))
          .withRecordingMode(RECORD_ALL, new File("./target/"));

  @Override
  protected void createDriver() {

[2020-09-19 19:18] joao-dantas opened #3241 "Can not connect to Ryuk at localhost:32768 issue on Docker Edge"
I'm getting this error while trying to run tests with Test Containers in Docker 2.3.7.0 Edge.
Version: 1.14.3

`Sep 19, 2020 4:13:41 PM org.testcontainers.utility.ResourceReaper lambda$null$1
WARN: Can not connect to Ryuk at localhost:32768
java.net.ConnectException: Connection refused (Connection refused)
        at java.base/java.net.PlainSocketImpl.socketConnect(Native Method)
        at java.b

[2020-09-19 20:18] joerg-pfruender commented on #1341
The Issue is solved.

Your BrowserWebdriverContainer must be a field in the test, annotated with @Container to work with videos.

You should not start/stop the container in your code. That is done by hooks initialized by the @Testcontainers annotation. It scans for fields annotated with @Container and executes their start/stop methods. If you do not put your BrowserWebdriverContainer into a @Conta

[2020-09-20 07:39] bsideup commented on #1341
@sharath2106 the feature is implemented for JUnit 5. If you're using an unsupported framework (like TestNG), you need to handle the test lifecycle yourself (see `TestLifecycleAware` interface)

[2020-09-20 07:39] bsideup commented on #3241
fixed in #3159

[2020-09-20 07:39] #3241 closed

[2020-09-20 15:14] joao-dantas commented on #3241
Nice. @bsideup where I can find details about release plan?

[2020-09-21 08:58] bsideup commented on #3241
@joao-dantas we plan to release a new RC that includes that PR later this week. For now, consider switching back the stable channel of Docker

[2020-09-21 12:33] NoelOmo opened #3258 "Cannot Enable x-delayed-message plugin on RabbitMQ Container"
I am trying to start a rabbitMQ test container to be used in my tests with the following pom.xml:

`        <dependency>
            <groupId>org.testcontainers</groupId>
            <artifactId>rabbitmq</artifactId>
            <version>1.14.3</version>
            <scope>test</scope>
        </dependency>
`

Then the class rule is as follows:

`    @ClassRule
    public static RabbitMQContainer

[2020-09-22 17:32] dengliming opened #3259 "java.nio.file.InvalidPathException: Illegal char <"> at index 0"
[code]

windows10（Home）+Docker Desktop

[2020-09-22 20:04] rnorth commented on #512
Reopening this, because the released version for https://github.com/testcontainers/vnc-recorder/pull/4 still needs to be trickled through to the default tag used by Testcontainers.

The released tag of the image will be: `testcontainers/vnc-recorder:1.2.0`
Build is underway and should be completed shortly.

[2020-09-22 20:11] rnorth commented on #512
Published: https://hub.docker.com/layers/testcontainers/vnc-recorder/1.2.0/images/sha256-1e14fc21b1dd7c28978f82f90008e4a603cc62744631cd299d3f846a08821ea9?context=repo

[2020-09-23 04:37] phixMe opened #3260 "Multiple databases on a container instance"
I am using the [PostgreSQLContainer](https://github.com/locationlabs/testcontainers-java/blob/master/modules/postgresql/src/main/java/org/testcontainers/containers/PostgreSQLContainer.java), but I expect this applies more generally.

The class file contains the following getter which only will create a single database on the image. It would be great to be able to configure more than one database h

[2020-09-23 07:15] #3259 closed

[2020-09-23 09:01] bountin commented on #3260
How about starting two container instances each configured to the individual needs?

[2020-09-24 09:44] dharezlak opened #3263 "Cannot mix public and private remote docker registries in one run"
I am using testcontainers to setup a mix of containers coming from our private docker registry (application images) as well as from the main docker registry (services like PostgreSQL and Kafka). Our private registry is password protected so I am setting the user name and password with `registry.username` and `registry.password` system properties. As soon as I launch the whole thing I am getting to

[2020-09-24 21:36] dustinla commented on #3077
With 4.4.1 this worked for me:
`waitingFor(
                        Wait.forLogMessage(".*Waiting for connections*.*", 1)
                )`

[2020-09-24 22:28] phixMe commented on #3260
Sure, that makes sense. Thanks for your quick feedback. I feel comfortable closing this since it looks like a major rewrite to support multiple databases on a single container instance.

[2020-09-25 12:33] eastlondoner opened #3264 "TestContainers won't allow copying files from stopped containers - but it is possible."
According to the docker docs container statuses are:
`created, restarting, running, removing, paused, exited, or dead`

I believe that it is possible with docker to copy files from all of these states except, perhaps `removing`.

However testContainers will only allow copying files from containers that are `created` or `running`.

In `ContainerState#copyFileFromContainer` there is a check `isCreat

[2020-09-25 12:57] eastlondoner commented on #3264
The docker docs on cp says for copy:

https://docs.docker.com/engine/reference/commandline/cp/

I think that the solution is either to change the `isCreated()` method to be less picky about the container status OR to change the check that is used in the `copyFileFromContainer` method to something more permissive.

I wonder if having a containerId is sufficient?

[2020-09-25 13:07] oknozor opened #3265 "KafkaContainer broker listener port with external zookeper should be reserved before starting the container"
In `KafkaContainer` when `.withExternalZookeper(...)` is used broker address is not properly exposed to the host :

## Reproduce

1. deploy the kafka container with external zookeeper :
[code]

2. run a test producer :
[code]

When sending some message with the producer we can see `localhost/127.0.0.1:32784` is not registered as an advertised listener in kafka container config.

[code]

on 795f62e

[2020-09-25 13:41] bsideup commented on #3265
@oknozor there is `getBootstrapServers()` method on `KafkaContainer` that you should be using instead of `"localhost:"+ KafkaResource.kafka.getMappedPort(9092)`.

Also, does not seem to be dependant on whether ZooKeeper is internal or external.

[2020-09-25 13:41] #3265 closed

[2020-09-25 14:05] oknozor commented on #3265
Sorry but it does not work :

[code]

Mapped port :
[code]
Kafka logs :
[code]
`getBootstrapServers()` output :
[code]

Producer config :
[code]

[2020-09-25 14:07] bsideup commented on #3265
@oknozor I am pretty sure it does:
https://github.com/testcontainers/testcontainers-java/blob/53932d9988e8e09db45c8ccea0f39d0da7a24dc5/modules/kafka/src/test/java/org/testcontainers/containers/KafkaContainerTest.java#L87

Also note that the schema registry have exited, so maybe your producer does not work because of it, not because of Kafka

[2020-09-25 14:08] bsideup commented on #3265
Also note that you're not using `withExternalZookeeper` so it starts an internal one

[2020-09-25 14:16] oknozor commented on #3265
Sorry I messed up reverting to Kafkacontainer. I tried to add `withExternalZookeeper("zookeeper:2181")` I am still getting this :
[code]

Here is the test consumer config :
[code]
I am  a bit lost here.

[2020-09-26 11:16] Cory00 opened #3270 "Testcontainers create two containers in a multi module project"
Hello,

I am trying to use testcontainers for integration tests with postgres in a multi module project.
Here is the scenario:
Module A is a library and contains the services, repositories and entities (I am using JPA). The entitymanager factory and datasource are configured in a @configuration class.
Module B is a spring boot application that contains the controller and a dependency to module A t

[2020-09-27 08:06] #2854 closed

[2020-09-27 08:06] #2859 closed

[2020-09-27 08:06] #2373 closed

[2020-09-27 18:46] vab2048 opened #3272 "Add 'internal' flag for NetworkImpl"
The current `Network` definition has the following fields:

[code]

Could an additional field be added: `private Boolean internal;` which has its corresponding value effect the final `CreateNetworkCmd` which is used in the `create()` method:

[code]

This will allow us to easily create `internal` networks.

[2020-09-27 20:45] bsideup commented on #3270
It is currently not possible to "share" a container between multiple JVMs unless you're using something like [the reusable containers](https://github.com/testcontainers/testcontainers-java/pull/1781), although it would keep the container running even after Module B.

Regarding the 2nd solution, it seems that you have a misconfigured test setup because Testcontainers always randomizes the ports and

[2020-09-27 20:45] #3270 closed

[2020-09-27 20:47] bsideup commented on #3272
Given the presence of `createNetworkCmdModifiers` and that the internal flag is rarely used, I'd say we should not overcomplicate our public API. @rnorth @kiview WDYT?

[2020-09-28 06:35] Mingela commented on #2886
Would be good to grab some attention from devs

[2020-09-28 06:35] Mingela commented on #2881
Would be good to grab some attention from devs

[2020-09-28 14:38] amolskh opened #3286 "Testconainter dosent parse initi script if column name is having special names"
I am using cassandra testcontainer with init type where my column/udt name is haiving **start** as field name

Init script fails to run even though cassandra same script run fine
create type A (
start bigint,
...
)

Is there any other workaround to execute init script ?

[2020-09-29 09:14] maver1ck opened #3288 "Cannot use testcontainers with Confluent Kafka 6.0.0"
Hi,
I tried to create Confluent Kafka 6.0.0 container.
As a result I'm getting exception:
[code]

[2020-09-29 09:18] maver1ck commented on #1816
Same problem here :(

[2020-09-29 09:19] bsideup commented on #1816
@maver1ck the transactions are not enabled by default, see @gAmUssA's answer:
https://github.com/testcontainers/testcontainers-java/issues/1816#issuecomment-529992060

[2020-09-29 09:22] maver1ck commented on #1816
@bsideup checking this

[2020-09-29 14:04] odidev opened #3289 "Update to MockServer version 5.11.1"
Hi,

MockServer version [5.11.1](https://mvnrepository.com/artifact/org.mock-server/mockserver-core/5.11.1) is available and it is using netty (4.0.50.Final), which includes both security fixes and AArch64 performance improvements. Refer release notes for detail:
https://netty.io/news/2020/05/13/4-1-50-Final.html

Currently, MockServer version 5.5.4 is being used by testcontainers. So, is there an

[2020-09-29 14:06] bsideup commented on #3289
Hi @odidev,

I noticed that you submit quite a lot of issues/PRs to various projects mentioning some minor dependency updates (especially the Netty one).

May I kindly ask you to not submit them to Testcontainers/docker-java? We have Dependabot to automatically update our dependencies and perform the updates regularly when it makes sense.

Feel free to update the dependency in your project and/or

[2020-09-29 14:06] #3289 closed

[2020-09-30 00:31] andreoss opened #3290 "Conditional annotations for Junit 5"
It would be nice to have conditional annotations in order to skip test on non-Docker host

For example:
[code]

A possible implementation which uses https://github.com/testcontainers/testcontainers-java/blob/master/core/src/main/java/org/testcontainers/DockerClientFactory.java#L114:
[code]

[2020-09-30 04:01] #2193 closed

[2020-09-30 10:02] bsideup commented on #3290
Already supported by `@Testcontainers` annotation:
https://github.com/testcontainers/testcontainers-java/blob/1e597ccd4fa1a7113d3077599e0b13237c1fef51/modules/junit-jupiter/src/main/java/org/testcontainers/junit/jupiter/Testcontainers.java#L66

[2020-09-30 10:02] #3290 closed

[2020-09-30 11:54] gAmUssA commented on #3288
@maver1ck  kindly provide steps to reproduce.
Thanks

[2020-09-30 12:17] findepi commented on #2956
.

[2020-09-30 12:17] findepi commented on #2955
.

[2020-09-30 12:21] maver1ck commented on #3288
@gAmUssA

Code:
[code]

Full test logs:
[code]

With Kafka 5.5.1 everything is working properly.

[code]

[2020-09-30 12:54] tvolkov opened #3291 "Unable to run tests with latest docker for mac"
Hi

I have installed latest docker for mac and after that my local tests started to fail with the following error:
[code]

The latest docker version I tried was:
[code]

I had to downgrade docker to this one to get it working:
[code]

[2020-09-30 14:32] bastoker commented on #3291
I ran into the same issue. Solution for me was to disable "Use gRPC FUSE for file sharing" in Preferences.

[2020-09-30 14:45] bsideup commented on #3291
Fixed in #3159 and released in 1.15.0-rc2

[2020-09-30 14:45] #3291 closed

[2020-09-30 17:29] bugflux opened #3292 "Unable to run testcontainers with Docker for Mac 2.4.0.0 on MacOS"
The container can be created properly, but then it fails to start (the tests timeout trying to connect, because the container never starts)

I captured the events from the startup, not sure if they will be helpful. Rolling back to 2.3.0.5 works again.

This happens with 1.12.4 as well as 1.14.3.

[code]

[2020-09-30 19:35] eastlondoner commented on #2276
I am seeing this issue as well

[2020-09-30 19:50] bsideup commented on #3292
Fixed in #3159 and released in 1.15.0-rc2

[2020-09-30 19:50] #3292 closed

[2020-09-30 22:05] gaggarwal21 opened #3294 "Cannot use KMS GenerateDataKeyPair command with localstack"
I am using localstack for mocking KMS locally to test my APIs and I need to generate data key pairs. When calling generateDataKeyPair(), I get the following exception. Is it not supported currently?

    com.amazonaws.services.kms.model.AWSKMSException: null (Service: AWSKMS; Status Code: 501; Error Code: null; Request ID: null; Proxy: null)
        at com.amazonaws.http.AmazonHttpClient$RequestEx

[2020-10-01 00:08] BHSDuncan commented on #3166
I'm on MacOS 10.14.6 (Mojave).

Both TestContainers v1.12.3 and the latest (v1.14.3) have ceased to work with the latest update of Docker that I received today. The exact same symptoms as the OP happen.

Version 2.4.0.0 (48506) from the "stable" Channel.

Engine is: 19.03.13

Anyone found this and/or have a workaround, short of downgrading/rolling back the version of Docker Desktop (Community)?

[2020-10-01 00:13] benlei-gfm commented on #3166
I'm also experiencing the same issue

[2020-10-01 05:19] karuppiah7890 commented on #3166
Same issue. 🙋

Docker Desktop Community - Version: 2.4.0.0 (48506). Channel: stable.

[code]

[code]

[2020-10-01 06:42] bsideup commented on #3288
Submitted https://github.com/testcontainers/testcontainers-java/pull/3293

[2020-10-01 07:10] rnorth commented on #3166
Docker for Mac 2.4.0.0 was released yesterday, pushing this issue into the stable version.

We released [1.15.0-rc2](https://github.com/testcontainers/testcontainers-java/releases/tag/1.15.0-rc2) which includes a fix (#3159) for compatibility - please upgrade.

[2020-10-01 08:49] rnorth commented on #3294
I'm afraid I'll have to bounce you over to the Localstack project. Testcontainers just uses the Docker image they provide, so if there's a limitation in what they support you'd need to ask them: https://github.com/localstack/localstack

[2020-10-01 08:49] #3294 closed

[2020-10-01 08:50] telapo commented on #3166
No-one has asked me, but I confirm that 1.15.0-rc2 works ;-)

[2020-10-01 08:53] #3077 closed

[2020-10-01 08:57] tmohme commented on #3166
Same here: 1.15.0-rc2 solves the problem.
Thanks for the fast reaction 👍

[2020-10-01 10:09] jonckvanderkogel commented on #3166
Thanks @rnorth it does indeed fix one issue it seems. However, I'm now facing a different issue that used to work before this.

I'm creating a PostgreSQLContainer based on a postgis container like this:

[code]

Before I updated my Docker Desktop this used to work but now I'm getting this error:
[code]

[2020-10-01 10:48] jkroepke commented on #3166
I have the same issue.

As workaround I set the environment variable `TESTCONTAINERS_RYUK_DISABLED=true` to disable ryuk. Tests are running, but sometimes containers can be left over.

https://github.com/testcontainers/testcontainers-java/blob/50c778fa39c8adab5b0ee078ee47b074482112ac/docs/features/configuration.md#disabling-ryuk

[2020-10-01 10:53] schophil commented on #3166
1.15.0-rc2 works for me to.
When will  1.15.0 be released?

[2020-10-01 11:04] jkroepke commented on #3166
Containers will not terminated.

[2020-10-01 11:39] tensberg opened #3295 "UnixSocketClientProviderStrategy cannot be instantiated because class JsonMerge is not found"
After I updated Testcontainers from 1.10.6 to 1.15.0-rc2, the `UnixSocketClientProviderStrategy` fails to load because of a `Root cause ClassNotFoundException (com.fasterxml.jackson.annotation.JsonMerge)`:

    DEBUG ....DockerClientProviderStrategy - UnixSocketClientProviderStrategy: failed with exception NoClassDefFoundError (com/fasterxml/jackson/annotation/JsonMerge). Root cause ClassNotFoundE

[2020-10-01 11:43] bsideup commented on #3295
Testcontainers depends on `docker-java` which depends on `jackson-annotations` version that includes `JsonMerge`.
Since updating the dependency seems to fix the problem, this does not sound like Testcontainers' issue, so I will close it.

[2020-10-01 11:43] #3295 closed

[2020-10-01 11:50] tonymurphy commented on #3166
Having issues launching servers using 1.15.0-rc2 and Docker 2.4.0.0 on MacOS

`12:42:35.588 [main] INFO  o.t.d.DockerMachineClientProviderStrategy - docker-machine executable was not found on PATH ([/usr/bin, /bin, /usr/sbin, /sbin])
12:42:36.026 [main] ERROR o.t.d.DockerClientProviderStrategy - Could not find a valid Docker environment. Please check configuration. Attempted configurations were:
1

[2020-10-01 11:51] bsideup commented on #3166
@tonymurphy please make sure that you're not forcing an old version of `jackson-annotations`.

[2020-10-01 11:54] tensberg commented on #3295
Thanks for the fast response. Is it intentional that Testcontainers now depends on `docker-java`? Because the testcontainers.org homepage states this:

[2020-10-01 11:55] bsideup commented on #3295
@tensberg it always has been depending on `docker-java`, just we were including it into our jar (due to shading issues), but we no longer do.

Once 1.15.0, we should update the docs, too :)

[2020-10-01 12:04] tonymurphy commented on #3166
Thanks @bsideup , much appreciated. Fixed the problem

[2020-10-01 13:45] meridsa opened #3296 "Failing to create docker test-containers in bitbucket pipelines using 1.15.0-rc2"
Recently updated to 1.15.0-rc2 from 1.14.3 due to #3166, however now our bitbucket pipelines we are getting the following errors:

`Caused by: org.testcontainers.containers.ContainerFetchException: Can't get Docker image: RemoteDockerImage(imageName=docker.elastic.co/elasticsearch/elasticsearch-oss:6.8.3, imagePullPolicy=DefaultPullPolicy())
Caused by: com.github.dockerjava.api.exception.DockerExc

[2020-10-01 14:26] rnorth commented on #3296
Ergh - there's not much to go on, but [this post (final para)](https://medium.com/@Fayeza_Aslam/run-dockerized-arquillian-tests-in-bitbucket-pipelines-9c6c37969c0b) suggests that there's an incompatibility between docker-java and Bitbucket pipelines.

I wonder why we've not heard about this previously.

It's pretty odd that this issue is apparently only occurring with Bitbucket Pipelines, but I th

[2020-10-01 14:28] bsideup commented on #3296
@rnorth I think we do send the content-length header in docker-java where possible, but I can have a look. @meridsa could you please report an issue to the docker-java project?

[2020-10-01 14:52] meridsa commented on #3296
Hi, should probably add the rest of the stack-trace to aid in the debugging. Reporting the issue to the docker-java project.

[code]

[2020-10-02 08:36] rnorth commented on #3291
Also, this is a duplicate of #3166

[2020-10-02 08:41] rnorth commented on #3166
@schophil

Very soon - we mainly want to get #3102 over the line and into the 1.15.0 final release, as part of mitigation for the upcoming Docker Hub rate limits (#3099)

Ryuk does final cleanup of containers that might have escaped being killed. Testcontainers code tries its best, but in case of a sudden JVM termination or a bug there's a limit to what the Java code can do. Ryuk is external to th

[2020-10-02 09:05] matkluska commented on #3166
I'm still having a problem on 1.15.0-rc2 and Docker 2.4.0.0 on MacOS :( Below error in the logs:
[code]
Any ideas?

[2020-10-02 10:13] vinay-thakkar commented on #3166
Have tried following  and run out of options to keep running with things meanwhile.
- tried to upgrade the `1.15.0-rc1` however the springbootTest containers don't work with it
[code]
exception I get is
[code]
* tried disabling the RYUK `TESTCONTAINERS_RYUK_DISABLED`
   - but due to lingering containers tests interfere with each other and fails
   - and soon the lingering docker networks  start th

[2020-10-02 10:15] bsideup commented on #3166
@vinay-thakkar there are 3 options:
1. stop using `testcontainers-spring-boot` and migrate to Spring Boot's built-in support: https://docs.spring.io/spring-boot/docs/2.3.4.RELEASE/reference/htmlsingle/#howto-testcontainers
2. Disable gRPC FUSE in Docker for Mac 2.4.0 until fix their deprecated usages of `com.github.dockerjava.core` as was advised quite some time ago
3. Downgrade to Docker for Mac

[2020-10-02 10:16] vinay-thakkar commented on #3166
thanks will try those out.

[2020-10-02 10:39] vinay-thakkar commented on #3166
![image](https://user-images.githubusercontent.com/59938096/94914814-a20eee80-04a3-11eb-9ccb-6484a2932a42.png)
Ok just to confirm the `flick of a gRPC switch` has worked for now until all the libraries come back to their synergy.

[2020-10-02 12:02] unalsurmeli commented on #3166
@vinay-thakkar The same problem came to me when I updated the docker version. Does this problem occur only for the desktop?

[2020-10-02 12:42] vinay-thakkar commented on #3166
Not sure about other env. For me it occurred only for 'Docker for Mac'. Our circle CI pipelines are pinned to older versions of socket so no idea there. And don't have windows machine in team to confirm.

[2020-10-02 12:45] AndreasEK commented on #1623
I'm seeing this issue again on Docker Desktop for Mac v2.4.0.0 and Catalina 10.15.7 - anybody else or is it just me?

[code]

[2020-10-02 12:46] bsideup commented on #1623
@AndreasEK see https://github.com/testcontainers/testcontainers-java/issues/3166

[2020-10-02 12:56] AndreasEK commented on #1623
ok, upgrading testcontainers to 1.15.0-rc2 solved the issue, 1.14.3 still showed it.

[2020-10-02 19:11] rnorth commented on #3166
@unalsurmeli yes this problem is limited to Docker for Mac, and should not happen on Linux or Docker for Windows.

[2020-10-02 23:44] enak commented on #3166
Since I am using spring boot, I updated the version in my pom.xml by overriding the `testcontainers.version` property.

- [ ] remove the override when spring boot is ready

[code]

[2020-10-03 05:54] javaHelena commented on #3291
Thank you for this! Coudl you please explain to me what this setting is and why it had affect on this problem?

[2020-10-03 06:49] membersound commented on #1495
@stale I think this is still relevant.

[2020-10-03 09:50] rnorth commented on #3291
@javaHelena please see #3166!

[2020-10-03 09:51] rnorth commented on #3291
I'm going to lock this issue and refer people to look at #3166, as it's confusing to have conversation spread across multiple tickets

[2020-10-03 10:59] PakhomovAlexander commented on #3189
Hi @wlad !

I have absolutely the same case. I solved this problem. Oracle case:

1) Use test-containtrs-springboot https://github.com/testcontainers/testcontainers-spring-boot for running needed container
2) Configure application.yml for CI case.
`application-testcontainers.yml`
[code]
And `bootstrap.yml`
[code]
This is the configuration for CI and it works without any specific flags.
3) For loca

[2020-10-04 15:33] DarrenForsythe commented on #3258
Have you tried moving to the latest version of Testcontainers? I couldn't re-create this with your sample.

[2020-10-04 17:01] vab2048 commented on #3272
I'll close this issue because you are right - it is very easy to use `createNetworkCmdModifiers` like so to achieve the same effect:

[code]

[2020-10-04 17:01] #3272 closed

[2020-10-04 18:00] jkroepke commented on #1763
Any workarounds?

[2020-10-05 00:36] skibrianski commented on #3166
@rnorth We are seeing this issue on linux as well.

[2020-10-05 06:26] tomqwpl commented on #1763
I just wrote my own log consumer to do it how I wanted to.

[2020-10-05 07:39] ReuDa commented on #1854
We see line breaks again in version 1.15.0-rc2. (Tested with Docker/Mac 2.3.0.5 and 2.4.0.0)

Testcase:

[code]

[2020-10-05 09:44] manosbatsis opened #3306 "@Container(s) should support arbitrary containers"
My use-case required for the JUnit5 `TestcontainersExtension` to scan a test for arbitrary (number of) containers, i.e. something like:

[code]
In the end i had to clone and customize my own equivalents of `@Testcontainers`, `@Container` and  `TestcontainersExtension` from scratch, especially due a number of methods in the latter being private. It works just fine, but it's annoyingly redundant.

C

[2020-10-05 09:59] jschnasse opened #3307 "Quickstart Jupiter Docu does not work."
The jupiter quickstart example on testcontainers.org refers to version 1.14.3 but runs only with release candidate of 1.15.0

This has the potential to slow down the quickstart....

See also:

https://stackoverflow.com/questions/64204602/testcontainers-quickstart-example-does-not-work

[2020-10-05 10:16] bangbv commented on #3166
This solution worked

[2020-10-05 13:08] tomikmar commented on #1135
Until this is implemented (if ever), do we have some alternatives to run Testcontainers without DinD (--privileged mode) or DooD (/var/run/docker.sock) ?

[2020-10-05 13:18] kamkie commented on #1135
one alternative is podman https://github.com/testcontainers/testcontainers-java/issues/2088

it is getting better

[2020-10-05 13:19] bsideup commented on #1135
Or Rootless Docker that you can use already today, does not require learning a new tool and 100% API compatible with the regular one 😉
https://bsideup.github.io/posts/rootless_docker/

[2020-10-05 13:42] bsideup commented on #2088
Given that the work is being done on Podman's side, I am wondering whether it makes sense to have this issue open.

Perhaps "Testcontainers support" in Podman's issue tracker is a better idea?

[2020-10-05 13:49] gastaldi commented on #2088
I think it would be nice to keep this one open until Podman's related issues are fixed, but I'll leave it for you to decide :wink:

[2020-10-05 14:03] bsideup commented on #2088
The problem is that there is no visibility in this issue other than the issues that @kamkie posted. So it is unclear what's the status of Podman's Docker compatibility (that affects Testcontainers). And we can't make Podman's team always refer this (Testcontainers') issue every time they make progress towards a full support :)

[2020-10-05 14:21] rnorth commented on #2088
Yep, I agree with @bsideup.

There's no action for the Testcontainers team to take - we're all waiting on Podman to support a sufficiently broad portion of the Docker API. When that's available, it should just work.

I'll close, and we'll hope that GitHub points people to this issue if they're looking to find out about using Testcontainers with Podman.

[2020-10-05 14:21] #2088 closed

[2020-10-05 14:47] rnorth commented on #1135
@Asgoret sorry for the slow response, and thanks for those suggestions, but I really think paras 2-4 of [my earlier comment](https://github.com/testcontainers/testcontainers-java/issues/1135#issuecomment-682456506) would apply!

[2020-10-05 14:57] baude commented on #2088
the two issues mentioned seemed to have podman prs merged. how do we (podman) know if there are more issues?

[2020-10-05 15:27] psakar commented on #2088
@baude Issue https://github.com/containers/podman/issues/7235 is definitely not fixed although marked as such. You can test yourself - there is reproducer described in the description.
I plan to open new issue, until know I have not found the time yet, sorry

[2020-10-05 15:37] bsideup commented on #3307
Duplicate of #3166

[2020-10-05 15:37] #3307 closed

[2020-10-05 15:39] bsideup commented on #3306
`@Container` works on any `Startable` (+`TestLifecycleAware` when implemented) - just implement the interface(s) and you're good to go.

[2020-10-05 15:39] #3306 closed

[2020-10-05 17:18] gesellix opened #3308 "Dependency conflict for jna (with testcontainers:1.15.0-rc2)"
Using the current testcontainers-core release candidate triggers the following dependency conflict:

[code]

I'm unsure whether the fix should be in `docker-java-transport-zerodep` to not expose `jna` or if `jna` should be excluded for `visible-assertions`. Maybe you have even better solutions. So this time no instant pull request, but I'm happy to create one for however and wherever you prefer th

[2020-10-05 17:26] gesellix commented on #3308
The change in #2882 seems to be the relevant bit: https://github.com/testcontainers/testcontainers-java/commit/1c97b978ac6ccfba0119986c22e4ac6d9ac955fa#diff-26fb43127aab27a5a6df14164a6f424aR173

[2020-10-05 18:15] rocketraman commented on #2088
It would be great if someone on the Podman side created a "tracking" issue for TestContainers support, because otherwise as users we have no easy way to know whether testcontainers will work on Podman or not without trolling through tens of issues.

[2020-10-05 18:17] gastaldi commented on #2088
I'll do it in the podman issue tracker and reference in this issue

[2020-10-05 19:14] bsideup commented on #3308
@gesellix since docker-java knows nothing about `visible-assertions`, I'd say the fix should go to Testcontainers. Although I'd prefer to see the fix coming together with some check that will verify such issues in future, because that's not something we were caring before (since it doesn't break anything), but if people _need_ such alignment then let's do it :)

[2020-10-05 19:14] bsideup commented on #2088
@gastaldi thank you! 👍

[2020-10-06 07:52] patown opened #3309 "withInitScript accepts an initscript array besides initScriptPath"
current:
    public SELF withInitScript(String initScriptPath) {
        this.initScriptPath = initScriptPath;
        return self();
    }
expected:
public SELF withInitScript(String[] initScriptPaths)

[2020-10-06 12:33] jyrno commented on #4
This is how we solved it for postgres:
Added `docker.registry.url=my.custom.registry` to src/test/resources/testcontainers.properties
Extended testcontainers postgres container with external registry support that handles our custom `postgresqlext` db types:
[code]

[code]
Added that container class to src\test\resources\META-INF\services\org.testcontainers.containers.JdbcDatabaseContainerProvider

[2020-10-06 12:35] bsideup commented on #4
@jyrno FYI something like that soon will be natively supported by Testcontainers. See #2599 for an example of how it is proposed to be done for R2DBC

[2020-10-06 15:49] ThomasVitale commented on #3166
Using version 1.15.0-rc2 fixed the problem for me.

macOS Catalina (10.15.3)
Docker Desktop for Mac 2.4.0.0 (48506) - Channel: stable
Docker Engine 19.03.13
gRPC FUSE enabled for file sharing

(Tested from Spring Boot 2.3.4 with the 'org.testcontainers:postgresql' dependency)

[2020-10-07 10:59] iNikem opened #3310 "Testcontainers downloads too much images"
I have the following code in my Spock test:

[code]

It used to work fine. Recently I upgraded testcontainers to version `1.15.0-rc2` and my GitHub action started to fail. It turns out that test has download ALL versions of `otel/opentelemetry-collector-dev` that are available. All 200+ of them.

I am able to reproduce this issue locally as well. I removed all local `otel/opentelemetry-collector-d

[2020-10-07 11:01] bsideup commented on #3310
@iNikem could you please share which version you used before `1.15.0-rc2`? Perhaps you can find out which version introduced this (obviously faulty) behaviour?

[2020-10-07 11:02] iNikem commented on #3310
`1.14.3`

[2020-10-07 13:13] piotr-nctech opened #3311 "PostGIS docker image tag is not passed on from method argument"
When I upgraded to last released version 1.15.0-rc2 (due to Mac docker issue) I noticed that version tag on PostGIS is not respected and always is used PostGIS in version 12-3.0 when I use 'org.testcontainers.jdbc.ContainerDatabaseDriver' in Spring Boot application to define database in my tests.

I checked code and looks argument from method is not passed on and instead of it is used constant val

[2020-10-07 13:34] astubbs commented on #3166
Should this issue not now be closed?

[2020-10-07 14:18] nastra commented on #984
According to the docs from [here](https://www.testcontainers.org/features/advanced_options/) and in the context of TestContainers, specifying `sysctl` settings should be possible via `withCreateContainerCmdModifier(..)`:
[code]

[2020-10-07 16:39] avaz commented on #3166
Just an update.

Updating to 1.5.0-rc2 solved the issue for me. However running JUnit5 tests in a gradle project from IntelliJ end up in no container being cleaned.

[2020-10-07 19:33] rnorth commented on #3310
Ouch, sorry for this. I think I know what this is likely to be caused by, and will look into it ASAP.

As a workaround, if you want the latest image, please could you explicitly include `:latest` in the image name?

[2020-10-08 04:42] iNikem commented on #3310
Yes, it works nicely when adding `:latest`

[2020-10-08 08:50] bsideup commented on #3166
@astubbs we will close it when 1.15.0 is out :)

@avaz perhaps you disabled Ryuk to workaround the issue and forgot to enable it back?

[2020-10-08 08:54] bsideup commented on #984
@nastra precisely! Thanks for posting an example 👍

[2020-10-08 10:35] avaz commented on #3166
@bsideup you were right, my mistake, sorry for the inconvenience. Thanks!

[2020-10-08 14:18] gabrielhao opened #3314 "Document: quickstart code cannot compile"
quickstart https://www.testcontainers.org/quickstart/junit_4_quickstart/ uses code in version 1.15.0, however dependency is 1.14.3.

there is compile error on DockerImageName.parse(). This method is only added in version 1.15.0.

The document needs to update the dependency version to1.15.0-rc2.

[2020-10-08 14:19] gabrielhao opened #3315 "Document update: code in quickstart cannot compile"
quickstart https://www.testcontainers.org/quickstart/junit_4_quickstart/ uses code in version 1.15.0, however dependency is 1.14.3.

there is compile error on DockerImageName.parse(). This method is only added in version 1.15.0.

The document needs to update the dependency version to1.15.0-rc2.

[2020-10-08 14:40] bsideup commented on #3315
duplicate of #3314

[2020-10-08 14:40] #3315 closed

[2020-10-09 04:40] mgaidamak opened #3316 "MySQL Script execution failed if LOOP statement at PROCEDURE used"
I'm trying to test PROCEDURE at MySQL testcontainers. This is an example from https://dev.mysql.com/doc/refman/5.7/en/statement-labels.html

Add this to testcontainers-java/modules/mysql/src/test/resources/somepath/init_mysql.sql
[code]
And run org.testcontainers.jdbc.mysql.MySQLJDBCDriverTest
It wil be failed
[code]
Than i run
[code]
It works fine
[code]
Can you explain me what is wrong?
Or why i

[2020-10-09 07:30] mgaidamak commented on #3316
I think org.testcontainers.ext.ScriptUtils#splitSqlScript can't process END of LOOP statements correctly. trying to fix it with ScriptSplittingTest
[code]

[2020-10-09 11:17] rottenha commented on #914
This is actually a bug in the testcontainers implementation in general, checking 1.14.3 and 1.15-rc2, that it almost always never explicitly sets the file permission on resources copied from the host system into a container, but instead relies on the file permissions being correctly set on the host system. This is a major problem, affecting multiple containers when trying to run the test suites.

[2020-10-11 06:05] #3310 closed

[2020-10-11 08:54] rnorth opened #3317 "InternalCommandPortListeningCheck always fails for containers built without `/bin/sh`"
Relates to #2984

I'm surprised we've not come across this earlier, but the default TCP port listening detector `InternalCommandPortListeningCheck` does not work for containers that do not have `/bin/sh` included.

This predominantly affects images built upon `scratch`.

The workaround/solution is to use a more application specific `WaitStrategy` - e.g. an HTTP wait strategy.

However the log mess

[2020-10-11 08:57] rnorth commented on #1770
This was tackled in #2985, so can be closed

[2020-10-11 08:57] #1770 closed

[2020-10-11 10:35] springfan opened #3318 "NoSuchMethodError: 'java.lang.String org.testcontainers.containers.localstack.LocalStackContainer.getHost()'"
Trying to spin up a Localstack container:
[code]

dependencies
[code]

Stack trace
[code]

[2020-10-11 11:01] springfan commented on #3318
Forgot the core dependency

[2020-10-11 11:01] #3318 closed

[2020-10-11 16:32] silaev commented on #2876
Updated a corresponding [PR](https://github.com/testcontainers/testcontainers-java/pull/2980)

[2020-10-11 23:00] #2923 closed

[2020-10-11 23:00] #2944 closed

[2020-10-12 02:01] naderghanbari opened #3320 "Add a keycloak module"
[Keycloak](https://github.com/keycloak/keycloak) as an open source identity and access management
solution is widely used. Setting it up is pretty straightforward as a [docker image](https://hub.docker.com/r/jboss/keycloak/)
but getting anything useful out of it, such as adding test users and identity providers,
is pretty tedious and needs a lot of context.

I think supporting it as a module makes

[2020-10-12 09:41] bsideup commented on #3320
It is already available and actively maintained by @dasniko:
https://github.com/dasniko/testcontainers-keycloak

Have you tried it? :)

[2020-10-12 10:15] dasniko commented on #3320
@bsideup Thanks for mentioning.
Should we come up with a page listing worthy community modules? WDYT?

@naderghanbari You're welcome to give my module a try and to leave some thoughts and ideas in https://github.com/dasniko/testcontainers-keycloak/issues.
PRs with new features are also appreciated, but we should discuss them before!

[2020-10-12 15:43] fknittel commented on #2877
We appear to be running into this issue. In case many tests fail to bring up their browser, we end up with many docker containers using up resources. This in turn causes our ephemeral docker host to grind to a halt. As this failure mode is slow, the feedback we get is quite delayed and the follow-up errors due to the resource starved environment further muddy the water.

Of course the problem only

[2020-10-12 21:23] naderghanbari commented on #3320
Very nice! Thanks. @dasniko I gave it a quick try and works like a charm. I like the simplicity of importing a realm as a JOSN.
I am about to give it a try in our actual projects as well.

@bsideup Thanks, please feel free to close this issue.

[2020-10-13 07:35] Aleksandr04 opened #3341 "Release 1.15.0-rc2 contains conflicts with another lib"
_Fixed in #3159 and released in 1.15.0-rc2_

There are conflicts with **org.jetbrains.annotations** lib. Version: **20.1.0**

![image](https://user-images.githubusercontent.com/17809594/95830135-e7eb7280-0d3f-11eb-8c92-a7ce0ef4d22d.png)

After move back version of testcontainers to 1.14.3 - everything is ok.

[2020-10-13 07:42] #3320 closed

[2020-10-13 07:44] bsideup commented on #3341
It does not seem to "conflict". The library is now `compileOnly`, which is absolutely valid since, on JVM, the class will load fine even if some of the annotations are missing on classpath.

[2020-10-13 08:10] Aleksandr04 commented on #3341
Thanks for the fast support.
I've made some workaround for the jetbrains lib, but now I catch the following error with initialization:
![image](https://user-images.githubusercontent.com/17809594/95832659-423a0280-0d43-11eb-8361-e3614efa6d08.png)
![image](https://user-images.githubusercontent.com/17809594/95832678-4cf49780-0d43-11eb-976c-50a27fe0068d.png)

Full error message:

   DockerImageName my

[2020-10-13 13:21] eyalkoren commented on #3166
When trying out 1.15.0-rc2 through Maven's dependency management on IntelliJ, `org.jetbrains.annotations` cannot be resolved anymore. Do you know why that might be?

[2020-10-13 14:38] schowave commented on #1982
Hey @Asisranjan : How did you solve the problem?

[2020-10-13 15:30] Asisranjan commented on #1982
Hi @schowave

In test code, i could able to manage to write mapped port of jacoco agent to properties file. Then from build code using command, able to dump exec.

sample build code (used gradle)

task integrationTest(type: Test) {

    useJUnitPlatform() {
        includeTags 'Integration'
    }

    doLast{
        ext{
            file("/tmp/config.properties").withReader {
                Prop

[2020-10-13 19:07] eddumelendez commented on #2633
#2690 is merged!

[2020-10-13 19:07] #2633 closed

[2020-10-13 19:40] Freeongoo commented on #2278
please fix it

[2020-10-13 23:14] nathanburrell commented on #3296
Hello,
I made a comment on our BCLOUD ticket as to why we dont support transfer encoding chunked Ill link to it here and also replicate its contents.

Unfortunately we cant just add support for Transfer-Encoding: Chunked as the issue itself isnt with the transfer-encoding directly.

We run an authorization plugin attached to every steps docker in docker daemon that inspects the payloads of all the

[2020-10-14 08:57] Aleksandr04 commented on #3341
Resolved manually via an added workaround: network_mode: host to docker-compose file.

[2020-10-14 08:57] #3341 closed

[2020-10-14 12:04] nachevn commented on #2209
@bsideup any updates here?

Thanks
Nikolay

[2020-10-14 12:55] schowave commented on #1982
Thanks @Asisranjan for that code snipped!

I managed to get this to be running, but right after the connection is established from the jacococli, the socket closes unexpectedly. I have a microshed test running with a sharedcontainerconfig:

`@MicroShedTest
@SharedContainerConfig(IntegrationTestContainer.class)
public class TestIT {..}`

This is the container:
`  @Container
  public static Applicat

[2020-10-14 13:38] nitinbodke commented on #613
I am following article https://www.baeldung.com/docker-test-containers for Docker Compose Module.
My test class: https://github.com/eugenp/tutorials/blob/master/testing-modules/test-containers/src/test/java/com/baeldung/testconainers/DockerComposeContainerLiveTest.java
Docker file: https://github.com/eugenp/tutorials/blob/master/testing-modules/test-containers/src/test/resources/test-compose.yml
*

[2020-10-14 13:51] HaMatthias commented on #1689
Having similiar issues by using a private registry.

I want to pull the images like ryuk from our private registry, by customizing the image in the `testcontainers.properties`. This isn't a problem at all. Testcontainers is pulling those images from our private registry.

Furthermore, I want to avoid using the path `/home/user/.docker/config.json` for my config.json and put it in a custom location

[2020-10-14 15:49] nitinbodke opened #3345 "Could not find a valid Docker environment exception"
I am following article https://www.baeldung.com/docker-test-containers for Docker Compose Module.
My test class: https://github.com/eugenp/tutorials/blob/master/testing-modules/test-containers/src/test/java/com/baeldung/testconainers/DockerComposeContainerLiveTest.java
Docker file: https://github.com/eugenp/tutorials/blob/master/testing-modules/test-containers/src/test/resources/test-compose.yml
*

[2020-10-14 16:26] #2769 closed

[2020-10-15 03:57] aaborschenko commented on #3166
Worx perfectly

[2020-10-15 09:56] bsideup commented on #3345
Duplicate of #3166

[2020-10-15 09:56] #3345 closed

[2020-10-15 11:14] bsideup commented on #2209
@nachevn good question! Any updates? Is it still reproducible with the latest Testcontainers that depends on docker-java 3.2.x? :)

[2020-10-15 13:41] nikk0 commented on #3186
Unfortunately, this bug also occurs with tescontainers 1.15.0-rc2.
BR.

[2020-10-15 15:41] nitinbodke commented on #3345
@bsideup I do faced issue reported at #3166
It was fixed by upgrading to version '1.15.0-rc2'.
After this, I faced above issue. Is this being fixed?

[2020-10-16 01:41] xuesongxs opened #3348 "Add RocketMQ module"
Add RocketMQ module in testcontainers.

[2020-10-16 08:35] bsideup commented on #3348
Hi @xuesongxs,

Is there any trouble using RocketMQ with `GenericContainer`? If so, consider contributing a module as per https://www.testcontainers.org/contributing/#contributing-new-modules

[2020-10-16 08:58] xuesongxs commented on #3348
I want to use RocketMQ in testcontainers, but testcontainers doesn't have this feature.

[2020-10-16 15:13] andrus opened #3352 "Mirroring settings ignored since 1.15.0-rc1"
Environment: Bamboo CI, Linux, Java 11, Docker 19.03.13. DockerHub is blocked on the CI agent network, and instead mirroring is setup to use a local registry.

Have a build that worked fine on TC "1.14.3". Upgraded to "1.15.0-rc2" to address MacOS build issue (#3166), and the builds started failing. Same failure on either "1.15.0-rc1" or "1.15.0-rc2". Looks like the new version attempts to connect

[2020-10-16 15:15] bsideup commented on #3352
@andrus are you referring to `registry-mirrors` in Docker?

[2020-10-16 15:27] bsideup commented on #3352
@andrus are you confident that the issue is with Testcontainers? Because it is transparent to Testcontainers and we don't have a special handling for `registry-mirrors` /cc @rnorth

[2020-10-16 15:30] andrus commented on #3352
Appears to be so. I take the same code, and change TC version in the pom.xml:

* 1.15.0-rc1 - failure
* 1.15.0-rc2 - failure
* 1.14.3 - success

Perhaps 1.15.x added some explicit calls to the registry?

[2020-10-16 15:48] andrus commented on #3352
Ok, found it! A colleague from the ops team pointed to [this change](https://github.com/testcontainers/testcontainers-java/pull/2850/files/34edbe519a709f7980abda5c3f4b552fd4377aa1)  - switch to "testcontainers" prefix from "testcontainersofficial". Turns out our mirror had explicit prefix matching for images to avoid untrusted sources. Changed that, and everything works. Perhaps something to menti

[2020-10-16 15:48] #3352 closed

[2020-10-16 15:50] bsideup commented on #3352
@andrus thanks for reporting back! I am glad that it works well now :) We indeed had a bit of back and forth with the Docker Hub orgs, but it is in the release notes:
https://github.com/testcontainers/testcontainers-java/releases/tag/1.15.0-rc1

[2020-10-16 16:05] andrus commented on #3352
Thanks for awesome support BTW!

[2020-10-17 10:31] DevilzOwn commented on #2253
Can we please close this issue? Misleading for first timers.

[2020-10-17 10:37] DevilzOwn commented on #2878
Can we close this issue?

[2020-10-17 10:43] DevilzOwn commented on #1399
Is this already done? Shall I make it info and raise the PR?

[2020-10-17 11:58] rnorth commented on #1399
@DevilzOwn I don't think it's been changed. If you'd be able to have a look and raise a small PR if necessary, I'd be grateful! Thanks

[2020-10-17 12:01] rnorth commented on #2253
Good point - sorry this wasn't closed. Fixed in #2293.

[2020-10-17 12:01] #2253 closed

[2020-10-17 20:23] #2512 closed

[2020-10-17 20:23] #2962 closed

[2020-10-17 20:23] #2959 closed

[2020-10-17 20:23] #2961 closed

[2020-10-18 03:13] aaronjwhiteside commented on #2795
Keep alive!

[2020-10-18 03:13] aaronjwhiteside commented on #3004
Keep alive!

[2020-10-18 03:14] aaronjwhiteside commented on #2794
Keep alive!

[2020-10-18 03:14] aaronjwhiteside commented on #2993
Keep alive!

[2020-10-18 04:48] DevilzOwn commented on #1399
https://github.com/testcontainers/testcontainers-java/pull/3353
@rnorth

[2020-10-18 11:18] endertunc commented on #3077
I generally use HostPortWaitStrategy which does not rely on the internals of the image in use.
For example;
`new MongoDBContainer(mongoVersion)
    .waitingFor(Wait.forListeningPort().withStartupTimeout(Duration.ofSeconds(30)));`

With this, you don't have to keep changing your regex every time mongodb decides to change their log message.

I would love to know if there is any practical difference

[2020-10-18 11:37] LancelotTheFirst commented on #3166
Hello!
I obtain the same issue on Ubuntu 20.04.1 LTS, Docker 19.03.8, org.testcontainers:junit-jupiter:1.15.0-rc2. Usage is as recommended above - Spring Boot's built-in support: https://docs.spring.io/spring-boot/docs/2.3.4.RELEASE/reference/htmlsingle/#howto-testcontainers.
Two days ago it works perfectly on 1.14.3, but not today, even after update to 1.15.0-rc2.
<details>
  <summary>Stacktrace<

[2020-10-18 16:31] eliasbalasis opened #3355 ""DNS lookup failure for: host.testcontainers.internal" but only for Generic container"
I have successfully managed to access "host.testcontainers.internal" from within a WebDriver containerm using "Testcontainers.exposeHostPorts(...)"

However, when I try to do the same from a generic container (e.g. custom HTTPD) I am getting "DNS lookup failure for: host.testcontainers.internal"

Could this be something missing from generic containers? or am I doing something wrong?

FYI, this pro

[2020-10-18 17:04] michalovjan commented on #2088
Are there still any blockers on podman side? I see that containers/podman#7934 (duplicate of containers/podman#7235 and containers/podman#7923) got a PR merged.

[2020-10-18 17:43] lvorona commented on #2982
This has been resolved (see comments above).

[2020-10-18 17:43] #2982 closed

[2020-10-19 07:39] psakar commented on #2088
There is one - https://github.com/containers/podman/issues/8058

[2020-10-19 08:33] bsideup commented on #3355
You need to enable it. See https://www.testcontainers.org/features/networking/

[2020-10-19 08:34] bsideup commented on #3355
Also note that the port must be exposed _before_ starting the container

[2020-10-19 10:28] Glosur commented on #3225
I seem to have the same issue trying to run a testcontainerstest with docker compose not installed locally.

Did you manage to find a workaround ? It seems that overriding this part of the lib for this specific use case is not possible

[2020-10-19 16:45] creativelikeadog opened #3372 "Using a postgres image with mounted `/data` fails on LogWaitStrategy"
Testcontainer:
version: 1.14.3

Postgres:
version: 5.6-alpine
output:
[code]

Expected behavior:
* Container started successfully

Exception:
[code]

Issue:
Because the image skep the initialization and the code on [PostgresSQLContainer:56](https://github.com/testcontainers/testcontainers-java/blob/9d4b31d23d21bacf1f54791264c292e15df61d58/modules/postgresql/src/main/java/org/testcontainers/contain

[2020-10-19 20:19] eliasbalasis commented on #3355
Thanks,

I am very well aware of this technique, and as I said I have successfully used it with the WebDriver container.

This time I am using a Generic container running HTTPD and mod_proxy to simulate reverse proxy access to applications runing on test host machine, exposing the test host machine ports using "Testcontainers.exposeHostPorts(...)", just as I did in the past for the WebDriver conta

[2020-10-20 06:32] nachevn commented on #2209
@bsideup yes, indeed it is a good question. It occurs but not every time which makes it (unfortunately) not reproducible. Just for information we are using testcontainers version 1.15.0-rc1

[2020-10-20 10:48] erdemedeiros commented on #3166
I have the same issue on Travis-CI even with version `1.15-rc2`. You can find the reproducer [here](https://github.com/erdemedeiros/test-containers-reproducer) and the failing job [here](https://travis-ci.com/github/erdemedeiros/test-containers-reproducer/builds/191151492).

In the [Travis configuration](https://github.com/erdemedeiros/test-containers-reproducer/blob/main/.travis.yml#L1-L6), I use

[2020-10-20 10:51] bsideup commented on #3166
This issue is about Docker for Mac 2.4.0.0 *only*. The error message ("can not connect to <...>") itself does not mean that you're having the same issue.

Consider creating a new issue if you're having issues with 1.15.0-rc2.

[2020-10-20 13:56] bauna commented on #3158
I manage to reuse a DockerComposeContainer using the [Singleton containers](https://www.testcontainers.org/test_framework_integration/manual_lifecycle_control/#singleton-containers) idiom.

[2020-10-20 16:20] atrifyllis commented on #3158
What you mention is not for reuse between runs, it is for reuse between test classes

[2020-10-20 19:45] marcelomorgado commented on #3092
Hi @vcvitaly @rnorth @bsideup any clue in how can I solve this?
Thanks!

[2020-10-20 21:11] eliasbalasis commented on #3355
My suspicion is finally correct,

any container other than "Generic" understands "Testcontainers.exposeHostPorts(...)" before starting the container and adds the respective entry to "/etc/hosts"
e.g. WebDriver, Nginx

This sounds more like a bug

[2020-10-20 22:26] eliasbalasis commented on #3355
Cancel the above, my suspicion was wrong.

There are however condition under which "Testcontainers.exposeHostPorts(...)" before starting the container is not adding the respective entry to "/etc/hosts"

I will keep investigating...

[2020-10-20 22:47] eliasbalasis commented on #3355
I have found the problem.

I was trying to remap the default ports by using "container.withCreateContainerCmdModifier(modifier)" and "HostConfig.newHostConfig()" instead of "command.getHostConfig();" in "modifier" implementation, practically cancelling all the good work "testcontainers" had done.

There is no bug, just my negligence.