[2022-06-10 07:18] jerrinot commented on #5482
it's also hardcoded in the docs: https://github.com/testcontainers/testcontainers-java/blob/737865fb964f6fd5dd84ff6dbe8ca42ab9efdc53/docs/features/configuration.md?plain=1#L56

[2022-06-10 10:53] SusurHe opened #5483 "Cannot use Clickhouse's grpc for mac Apple silicon"
when i use the docker image of new version clickhouse, i can't use grpc;
I think it's because testcontainers pulled the arm64 docker image for me by default, but clickhouse does not support grpc on arm64 (https://github.com/ClickHouse/ClickHouse/pull/36754);

how can i option platform with "linux/amd64" when i use testcontainers to pull docker image;

**if it can't do it, is it better to have a 'p

[2022-06-10 17:35] grishick commented on #5121
The fix that worked for me on an M1 Mac was:
remove `credsStore:desktop` from `~/.docker/config.json`, run `docker login` in terminal

[2022-06-10 19:04] elenigen commented on #1442
@rnorth Is it fine to reopen it?

[2022-06-10 20:48] eddumelendez commented on #5483
Hi @SusurHe, there is no arm image provided by clickhouse as you can see [here](https://hub.docker.com/r/yandex/clickhouse-server/tags?page=1), so the amd64 image is the one downloaded. The issue as you just point is that clickhouse image is not able to run on arm. There are other similar issues with other container images.

[2022-06-10 20:48] #5483 closed

[2022-06-10 23:24] bsideup commented on #5482
The image is published now 🎉  @jerrinot please give it a try (with the mentioned configuration property)

https://hub.docker.com/layers/232132304/testcontainers/sshd/1.1.0/images/sha256-7879c6c99eeab01f1c6beb2c240d49a70430ef2d52f454765ec9707f547ef6f1?context=repo

[2022-06-12 11:34] jerrinot commented on #5482
@bsideup thanks! I did a quick test an there appears to be a problem:
[code]

Chances are I have something wrong in my test setup. I will investigate it later.

[2022-06-12 17:30] jerrinot commented on #5482
ok, even the `ExposedHostTest` is failing with the new sshd container. Chances are the new Alpine base image has a newer sshd with a stricter configuration. The ssh client in TestContainer is old and not really maintained. The [latest release in Maven Central](https://mvnrepository.com/artifact/org.glassfish.main.external/trilead-ssh2-repackaged) is from 2017

I will investigate it further, but as

[2022-06-12 17:34] bsideup commented on #5482
We are using the Jenkins fork :)

[2022-06-12 18:07] jerrinot commented on #5482
@bsideup I think you are using the Glassfish fork, arent you?
I tried to switch the client impl to JSch: https://github.com/testcontainers/testcontainers-java/commit/5ede16b2e56fda7c12d753dafe8ec79262b22b13

It's almost working. Except the test where it's binding to a port 80. I suspect it's due a newer ssh version not allowing to forward a privileged port (by default?) To be continued.

[2022-06-12 21:39] jerrinot commented on #5482
@bsideup: this works for me: https://github.com/testcontainers/testcontainers-java/pull/5486

[2022-06-13 02:25] SusurHe commented on #5483
i need to use the new version of clickhouse image (clickhouse/clickhouse), it has arm image, but it does not support grpc

[2022-06-13 08:26] kiview commented on #5482
Thanks, @jerrinot. While it might make sense to switch to a better-maintained SSH client library, I am in favor of first getting it working through changing the `sshd` config as done in #5486.

[2022-06-13 11:36] jjohannes opened #5487 "Do not use utility classes from 'org.junit.platform.commons.util'"
`org.junit.platform.commons.util` is an internal package (see [module-info.java](https://github.com/junit-team/junit5/blob/main/junit-platform-commons/src/module/org.junit.platform.commons/module-info.java)). The compiler only knows about this if you compile as Java Module - which testcontainers does not do (yet? - #1523 / #521). That's why the compiler does not complain.

Even though _testcontain

[2022-06-13 14:36] eddumelendez commented on #3258
Closing this issue since third-party plugins in rabbitmq should be downloaded and installed manually.

[2022-06-13 14:36] #3258 closed

[2022-06-14 10:11] maciekc opened #5496 "org.testcontainers.shaded.com.fasterxml.jackson.databind.JsonMappingException"
Java 11
Testcontainers 1.17.2

I get the following exception running Testcontainers using Gitlab CI pipelines
[code]
This error occurs only with Gitlab (with Kubernetes), not on localhost.
Gitlab config
[code]

[2022-06-14 10:24] bsideup commented on #5496
I see that you are using `kubedock`. Please report your issue to them, as it seems to be a bug there (this cannot be reproduced with "normal" Docker).

[2022-06-14 10:24] #5496 closed

[2022-06-14 16:21] Szer commented on #5178
Bumping this for visibility. Lost few hours on head scratching because of "-1" vs "_1"

[2022-06-14 18:04] yuranich opened #5499 "Docker image builder cannot parse --platform=$BUILDPLATFORM argument from Dockerfile"
Hi, could you please take a look at the issue?

`
org.testcontainers.containers.ContainerLaunchException: Container startup failed
Caused by: org.testcontainers.containers.ContainerFetchException: Can't get Docker image: RemoteDockerImage(imageName=<resolving>, imagePullPolicy=DefaultPullPolicy())
Caused by: com.github.dockerjava.api.exception.DockerClientException: Could not build image: failed t

[2022-06-14 22:16] eddumelendez commented on #5499
I would say that in the docker-compose even if it was defined on the file, it was ignored by testcontainers

Regarding to the issue you have, testcontainers acts as another client but doesn't necessarily match the same behavior in every aspect as, for example, docker cli. As far as I can see, `BUILDPLATFORM` and [others](https://github.com/moby/buildkit/blob/175e8415e38228dbb75e6b54efd2c8e9fc5b1cb

[2022-06-14 22:16] #5499 closed

[2022-06-15 03:17] eddumelendez commented on #1442
Hi, just an update on this topic.

Methods using aws sdk v1 have been deprecated `getDefaultCredentialsProvider()` and `getEndpointConfiguration()` and they are going to be removed in the future. Although, this is not solving the current issue, the way to address it is by importing the aws sdk v1 to make the module compile (for aws sdk v2 users). In the future, it is expected to use the following

[2022-06-16 13:35] derlin commented on #1430
***IMPORTANT*: this may break the reusability of containers**

If you want your containers to be reusable, using a random part in the name will make reusability fail. That is, the old containers will keep running, but new containers will be created. Why ? Because testcontainers uses the cmd as part of the comparison to detect if an existing container is already running and can be reused. Since you

[2022-06-17 08:19] baturorkun opened #5503 "[Problem]: Set specific expose port range"
### Module

Kafka

### Testcontainers version

1.16.2

### Using the latest Testcontainers version?

Yes

### Docker version

[code]

### What happened?

I am using Testcontainer on Openshift. I created a POD by Docker DIND and set DOCKER_HOST but testcontainer dynamic exposing ports is a significant problem for us. I must open specific ports on Openshift services and limited. So I have to know th

[2022-06-17 10:56] bsideup commented on #5503
The port assignment is being done in Docker. See this page on how to tune it:
https://docs.docker.com/engine/reference/run/#expose-incoming-ports

[2022-06-17 10:56] #5503 closed

[2022-06-17 12:36] kiview commented on #1430
I would still like to know more about the use case behind identifying the containers per name when using Testcontainers. Could anyone elaborate on this?

[2022-06-17 13:01] BoraxTheClean commented on #4395
On Docker Desktop for Mac (M1) 4.9.0, I was able to work around this issue by mounting the docker socket into the container in this fashion: `-v /var/run/docker.sock.raw:/var/run/docker.sock `

[2022-06-17 14:22] daniel-shuy opened #5504 "[Feature]: Add configuration property to customize Docker registry"
### Module

Core

### Problem

The company I work in (and many other companies) has a private Docker registry that mirrors Docker Hub (using Artifactory). This is used to host private images, as well as to cache public Docker images, to avoid too much traffic going towards Docker Hub.

Therefore to use Testcontainers, we have to customize all the image configurations (https://www.testcontainers.or

[2022-06-18 02:50] bibinss commented on #3834
In my case I was seeing the ```java.lang.UnsatisfiedLinkError: Can't load library:``` even after upgrading jna lib version to 5.7.0.
Further debugging showed that I had another library ```net.snowflake:snowflake-jdbc.3.12.10``` in the path which had the same jna (com.sun.jna...) code in it. So at run time, my JVM was loading the one from snowflake jar causing the failure.
I upgraded to latest ```n

[2022-06-18 21:11] shelajev commented on #5504
Would the approach described in "Automatically modifying Docker Hub image names" [section](https://www.testcontainers.org/features/image_name_substitution/) be an appropriate solution?

[2022-06-19 17:00] derlin commented on #1430
@kiview In my organisation, we use testcontainers in integration tests. Most repositories need at least 4 different images / containers. Let's say I am working on two different repositories (working on tests, so having the reuse flag set to true), and also have a bunch of other containers running. Whenever I need to have a look at the logs of, say, kafka, I need to click on the details of each con

[2022-06-20 04:57] daniel-shuy commented on #5504
@shelajev wasn't aware of that feature, just tried it and it works, thanks!

[2022-06-20 04:57] #5504 closed

[2022-06-20 08:45] galaxy-valery opened #5507 "Ryuk container don't destoy testcontainer with database"
### Module

PostgreSQL

### Testcontainers version

1.17.2

### Using the latest Testcontainers version?

Yes

### Docker version

[code]

### What happened?

**maven as builder**

`Apache Maven 3.8.5 ()
Maven home: /opt/maven
Java version: 17.0.3, vendor: Private Build, runtime: /usr/lib/jvm/java-17-openjdk-amd64
Default locale: en_US, platform encoding: UTF-8
OS name: "linux", version: "5.13.0-5

[2022-06-20 10:35] kiview commented on #5507
This works as expected when using `withReuse(true)` and having reusable mode enabled. Consider disabling reuse if you want containers to be cleaned up after tests.

[2022-06-20 10:35] #5507 closed

[2022-06-20 10:40] kiview commented on #1430
I understand your explanation, but I would say for finding image-specific containers, using `docker ps` with [filters](https://docs.docker.com/engine/reference/commandline/ps/#filtering) should be a straightforward approach and I would recommend it over using the Docker Desktop GUI (and working around its display limitations) any time.

What is the use case for manually inspecting containers and l

[2022-06-20 11:00] galaxy-valery commented on #5507
so the point is to import the scheme according to which all test nodes work once and use the same container with the database. and after the tests are completed, delete it. This is how I understand the meaning of using the withReuse(true) method. Creating a testcontainer for each node is an expensive operation.

[2022-06-20 11:21] sanfelice opened #5510 "[Enhancement]: Run initCommands before adding secrets"
### Module

Vault

### Proposal

Currently I'm trying to enable a new kv engine by using `this.withInitCommand()` method and I'm trying to add secrets to this newly created kv using `this.withSecretInVault()`, but I noticed that in `VaultContainer` class, first the secrets are added and then the init commands are executed. Shouldn't it be the other way round? Because it makes sense for me running

[2022-06-20 14:17] galaxy-valery commented on #5507
[code]

   .withReuse(false);  - really solved the problem, but then I don't understand its use in the value -> true.

[2022-06-20 15:15] kiview commented on #5507
The purpose of `withReuse(true)` is to decouple containers created by Testcontainers from the usual JVM process lifecycle. Per default, Ryuk will remove all remaining Testcontainers containers. However, when `withReuse(true)` is set and reusable mode enabled, containers will survive the end of the JVM process and can be **reused** by the next JVM process, i.e. test run.

[2022-06-20 16:18] javahippie commented on #5151
I am also affected by this in a certain scenario. Is there any way I can help with this issue? (Information about the env, code, etc.?)

[2022-06-20 19:48] kiview commented on #5151
I think we would need to debug why the check that was introduced with https://github.com/testcontainers/testcontainers-java/commit/034daa6e3d4a99c4ce71332ac49bf66957f903db (which did fix certain race condition scenarios, especially on Windows) seems to no apply if network mode is set to `host`.

[2022-06-20 19:59] dplavcic commented on #4847
Hi @[chibenwa](https://github.com/chibenwa), can you still reproduce this exception if invalid `config.json` file is provided?

I have tried to reproduce it locally by executing test provided [here](https://www.testcontainers.org/modules/databases/cassandra/), but I can't (not sure if I'm doing something wrong, or if the "issue" is fixed) 🤔

[code]

[code]

[code]

[code]

[2022-06-22 10:06] ZdrOStiwa opened #5512 "[Bug]: Exec in container doesn't find files when using wildcard asterix."
### Module

Core

### Testcontainers version

1.16.2

### Using the latest Testcontainers version?

No

### Docker version

[code]

### What happened?

container.execInContainer("rm","/data/folder/*")
leads to
"no such file or directory"

"rm /data/folder/*" inside of the container goes through succesfully.  Files are not hidden. Folder is not empty.

container.execInContainer("rm","/data/folder/f

[2022-06-22 10:55] dajudge commented on #5512
I believe the wildcard feature is part of the shell (e.g. `sh` or `bash`) - the command you're executing is literally trying to delete a file called `*` in the `/data/folder/` directory.

In order to have wildcard semantics you'd probably need to execute sth like the following:

[code]

[2022-06-22 11:11] kiview commented on #5512
@dajudge 's comment is right. I will therefore close the issue since the `rm` command itself has no wildcard feature built-in.

[2022-06-22 11:11] #5512 closed

[2022-06-22 13:08] ZdrOStiwa commented on #5512
@dajudge Thank you for the explanation. Your code solves the issue.

[2022-06-22 13:24] loic-seguin commented on #4702
Hi everyone, is there anything ongoing to solve this problem ?

[2022-06-22 15:29] nahguam opened #5513 "[Enhancement]: Better WaitStrategy to ensure the Pulsar cluster is fully initialised"
### Module

Pulsar

### Proposal

The current `PulsarContainer`'s `WaitStrategy` includes waiting for the metrics endpoint to be available. The metrics endpoint is activated before the cluster and default tenants and namespaces are created. On slower systems (perhaps Apple M1 silicon running under Rosetta 2 for x86 arch), if your first step after the container is ready is to start interrogating th

[2022-06-22 16:11] kiview commented on #4702
Fixed by https://github.com/testcontainers/testcontainers-java/pull/5391.

[2022-06-22 16:11] #4702 closed

[2022-06-22 16:15] eddumelendez commented on #5513
Hi @nahguam thanks for opening the enhancement proposal but no need it if it comes with a PR just right after :)

[2022-06-22 17:10] #5482 closed

[2022-06-22 17:36] nahguam commented on #5513
@eddumelendez Ok Thanks for the guidance :)

[2022-06-23 06:06] eddumelendez commented on #5510
@sanfelice thanks for raising the issue. As you can see in the following snippet

https://github.com/testcontainers/testcontainers-java/blob/de1324ed2800eff4da326d0c23d281399d006bc0/modules/vault/src/test/java/org/testcontainers/vault/VaultContainerTest.java#L25-L33

line 33 allows to enable a secret engine and then just start using it by passing 2 commands. Take into account that `addSecrets` use

[2022-06-23 09:00] mjh-c commented on #4281
I got hit by the same problem. To solve this I had to clone the private method getServiceInstanceName(String serviceName) to get the service instance name for a service name.
I have no idea how I can get the service instance name in any other way.

getServicePort() calls getServinceInstanceName in internally and therefore it works with both.

[2022-06-23 10:06] onlydara commented on #2833
@PavelZeger Hi, Pavel, i have the same issue now. Did you solve it, or you can't do it without new annotations from Testcontainers?

[2022-06-23 10:30] kicktipp opened #5517 "[Bug]: Running on gitlab CI does not work as host.docker.internal is not available"
### Module

Core

### Testcontainers version

1.17.2

### Using the latest Testcontainers version?

Yes

### Docker version

[code]

### What happened?

The [docs for gitlab CI](https://www.testcontainers.org/supported_docker_environment/continuous_integration/gitlab_ci/) show a wrong config.toml. On linux the `host.docker.internal` is not reachable.

Test ist with
[code]
The result is:
[code]

I

[2022-06-23 12:21] bsideup commented on #1726
FTR the latest release of Testcontainers (1.17.2) no longer checks this.

[2022-06-23 20:04] UbaidurRehman1 commented on #613
Thanks, it works seamlessly

[2022-06-25 12:45] fabriciorby opened #5518 "[Bug]: Cannot run CosmosDB Container in Direct mode"
### Module

Azure

### Testcontainers version

1.17.2

### Using the latest Testcontainers version?

Yes

### Docker version

[code]

### What happened?

Hello,

I want to run the testcontainer using direct connection instead of gateway connection for Cosmos DB.
https://www.testcontainers.org/modules/azure/

After following this tutorial I was able to run on gateway mode, but when I try to run on

[2022-06-25 13:58] fabriciorby commented on #5518
After 2 days of trying I was able to make it work.

It seems like it's some issue with the SDK or something like that, but here's the dirty fix to make it work with testContainers:

Creating the emulator:
[code]

Creating the client:
[code]

Would it be valuable for the project it I contribute by raising a PR even using this deprecated `e.withPortBindings` method?

[2022-06-25 14:03] fabriciorby commented on #5518
Probably related to this issue on cosmos-emulator repo
https://github.com/Azure/azure-cosmos-db-emulator-docker/issues/50

[2022-06-26 05:47] eddumelendez commented on #5518
Hi @fabriciorby

No need to do all of that. I found that the sdk is looking for port `10251` which is not open on cosmodbemulator and there is no a way to configure it to a random port via env variable, for example. However, you can do something like this.

[code]

I hope this can help. I have provided feedback via email to the cosmodb team about providing a way to override the port via env variab

[2022-06-26 16:50] fabriciorby commented on #5518
Hey @eddumelendez, thanks for your reply!

I've tried the code above and it did not work. I tried running by exposing only the port `8081` and `10251` with my solution and it did not work as well.

Tried again proxying `10251`, `10252`, `10253`, `10254` and it was successful, I think it's needed to expose all 4 ports.

I liked this solution, so I'll keep it. 😁👍🏻

By the way, nice to know about thi

[2022-06-26 16:53] eddumelendez commented on #5518
I think there is a different setup on your side which requires more port. TBH, don't know much about cosmodb and the suggestion is only a workaround due to it will be fixing ports. We will be taking this issue as an enhancement to support direct mode.

[2022-06-27 13:45] axelfontaine opened #5519 "[Bug]: Unable to disable automatic deletion"
### Module

Core

### Testcontainers version

1.17.2

### Using the latest Testcontainers version?

Yes

### Docker version

[code]

### What happened?

I use `ImageFromDockerfile("stable-name", false)` as described at https://www.testcontainers.org/features/creating_images/ in order to enable caching between builds and improve working in offline scenarios.

However caching doesn't appear to be wo

[2022-06-27 21:28] #5519 closed

[2022-06-28 01:16] #5513 closed

[2022-06-28 14:24] dinilimento commented on #4473
I think for JDBC this works by appending ?&TC_REUSABLE=true.
I'm using the following:
`spring:
  datasource:
    flyway:
      url: jdbc:tc:sqlserver:2019-latest://testcontainers/testdb?TC_REUSABLE=true`

[2022-06-29 10:49] holly-cummins commented on #2088
Here's my recipe. I was able to avoid the need to disable ryuk.

Edit `~/.testcontainers.properties` and add the following line

[code]

Then run the following

[code]
If you're podman 4.1 or higher, you don't need the the -v $HOME:$HOME volume mount.

If you're on mac,
[code]

Then (for all oses)

[code]
The rootful part makes ryuk behave ok, based on my testing (see https://github.com/containers

[2022-06-29 12:22] edeandrea commented on #2088
This is awesome @holly-cummins. One question - With podman 4.1.1 on apple silicon mac, did you have to downgrade qemu back to version 6.2.0?

[2022-06-29 12:39] holly-cummins commented on #2088
Ummm. I don't remember doing that, but I am indeed running 6.2.0:

[code]
I think I must have been lucky, and done my installation before v7 was released. Is 7 not so good on your machine?

[2022-06-29 12:42] edeandrea commented on #2088
When I did a `brew update` and it updated qemu to v7 it broke podman on my M1 mac.

https://github.com/Homebrew/homebrew-core/issues/102242

I had to manually back qemu down to 6.2.0_1 using this procedure:

[code]

I found that procedure out on some GitHub issue somewhere - I just can't seem to remember where exactly...

[2022-06-29 12:46] edeandrea commented on #2088
@holly-cummins There's also this - https://github.com/containers/podman/issues/14303

[2022-06-29 13:05] holly-cummins commented on #2088
Oh, sorry, @edeandrea, I've got muddled between the qemu-user-static in the podman machine, and the qemu on my mac machine. My mac has podman 4.1.1 and qemu 7.0.0, but it seems happy. So either the issue is fixed, or some other environmental factor on my machine masks the issue.

[2022-06-30 18:52] cer opened #5524 "[Bug]: docker/compose:1.29.2 image is amd64 and requires QEMU emulator to work on Arm"
### Module

Core

### Testcontainers version

1.16.2

### Using the latest Testcontainers version?

Yes

### Docker version

[code]

### What happened?

[code]

Requires installation of emulators:

[code]

### Relevant log output

_No response_

### Additional Information

_No response_

[2022-07-01 06:12] sparsick commented on #4397
I think your use case is already possible with the https://github.com/fabric8io/docker-maven-plugin. It has a start and stop goal.

[2022-07-01 11:27] kiview commented on #5524
As I see it, there aren't any ARM images available in the upstream, correct?
https://hub.docker.com/r/docker/compose

If this is the case, maybe try to raise an issue in the upstream. If there are images and I simply did not find them, can you point me to them please?

[2022-07-04 16:20] caicarabruno commented on #1552
HI all, i was experienced the same issue, i upgraded the test container to the version 1.17.3 and work.

[2022-07-05 04:46] sm-florian-widmer commented on #4279
Same here, came to the same conclusion for the solution.
Declaring the dependency would make this obvious up front.

[2022-07-05 06:38] bjconlan commented on #5041
Does the java implementation of test containers support docker-compose profiles? (from the api it isn't obvious). I noticed that the node impl supports profiles though.

https://github.com/testcontainers/testcontainers-node/releases/tag/v7.23.0

[2022-07-05 06:47] kiview commented on #5041
Testcontainers' `DockerComposeContainer` implementation currently does not support `--profiles` explicitly. As @jstanik observed, you can run the container with certain options `withOptions("--profiles foo")`, but as it is the case with the `down` command, it might not work as expected.

[2022-07-05 21:06] grdryn commented on #2088
@holly-cummins thanks for the `ryuk.container.privileged=true` tip. testcontainers seems to work fine with that in the native _rootless_ user podman on Fedora (not running in a "podman machine" VM), without needing the `TESTCONTAINERS_RYUK_DISABLED` env var.

Just wanted to add that in case the `podman machine set --rootful` might not be needed. I'm not really familiar with the "podman machine" st

[2022-07-06 11:10] whitingjr commented on #5122
When the RYUK container is initiated by testcontainers I found the bind mounts not to be set up correctly. The container is configured this way

`2022-07-06 11:41:51,331 DEBUG [org.tes.sha.com.git.doc.cor.com.AbstrDockerCmd] (build-40) Cmd: org.testcontainers.shaded.com.github.dockerjava.core.command.CreateContainerCmdImpl@6a3ee919[aliases=<null>,argsEscaped=<null>,attachStderr=<null>,attachStdin=

[2022-07-06 20:27] jbasb opened #5585 "[Bug]:"
### Module

Core

### Testcontainers version

1.17.3

### Using the latest Testcontainers version?

Yes

### Host OS

Linux Mint 20.3

### Host Arch

x86

### Docker version

[code]

### What happened?

I'm getting the following error while trying the JUnit 5 quickstart example (https://www.testcontainers.org/quickstart/junit_5_quickstart/):
`java.lang.IllegalStateException: Could not find a valid

[2022-07-06 20:45] jbasb commented on #5585
Found my answer here: https://stackoverflow.com/a/69565328

I was running my tests through an IDE that had been installed with Flatpak. Hopefully this can help people who encounter the same issue.

[2022-07-06 20:45] #5585 closed

[2022-07-07 07:18] kiview commented on #5585
Thanks a lot for sharing the link to the solution @jbasb 🙌

[2022-07-07 08:24] sanfelice commented on #5510
@eddumelendez That's good but would it be a problem running init commands before adding the secrets?
This is basically what I was trying to achieve
[code]
I was wondering if this would be possible, to use the method already available in the class instead of writing everything in the `.withInitCommand` method.

[2022-07-07 13:19] aulea commented on #4696
I had similar error message that "DevToolsActivePort file doesn't exist". Traced it hours.
From some StackOverFlow thread I read that, when running in headless mode, then it might print more info to stacktrace `chromeOtions.addArguments("--headless")`.

After that i got exception cause indicating that:
`Caused by: java.lang.NoSuchMethodError: com.google.common.collect.ImmutableMap.of(Ljava/lang/Ob

[2022-07-08 08:23] hmatt1 commented on #2045
@loicmathieu which other extensions are you using that require ordering? I opened a PR for this change, but the reviewer is considered not merging it because someone from JUnit recommended that it is not a good practice to require ordering between extensions. They were wondering if there was another solution to whatever problem you're trying to solve with the order of extensions.

[2022-07-08 08:36] loicmathieu commented on #2045
Having testcontainer containers starts before my Quarkus test.

Even if JUnit didn't recommend to order between extensions, we sometimes needs to do it, and as testcontainers purpose is to launch dependencies as containers, it is very frequent that we need to start it before other extensions.

[2022-07-08 15:30] tburch commented on #2045
I also ran into this and wanted to support ordering so that `@Testcontainers` was started before [`@MicronautTest`](https://micronaut-projects.github.io/micronaut-test/latest/guide/).

[2022-07-08 22:33] eddumelendez commented on #5402
Hi @javalub15, sorry for the delay. Do you have any minimal sample to reproduce the issue with the latest version 1.17.3?

[2022-07-09 01:11] eddumelendez commented on #5510
TBH, I would rely more on `withInitCommand(String... commands)` because it only pre-append `vault` and `withSecretInVault` is too attached to an specific command offered by vault

[code]

is it work for you? This way offers more freedom without relying too much on `withSecretInVault` which as you can see can create confusion and I totally think you are right by changing the methods call order but

[2022-07-09 02:09] eddumelendez commented on #5362
@swift0303 any news on this? Please join our [slack](https://slack.testcontainers.org/) channel and continue the conversation right there

[2022-07-09 04:17] eddumelendez commented on #4924
Closing because of https://github.com/testcontainers/testcontainers-java/pull/4925#issuecomment-1179475650

[2022-07-09 04:17] #4924 closed

[2022-07-09 17:10] TheMessik opened #5589 "[Bug]: MSSQL server property encrypt does not contain a valid boolean value."
### Module

MSSQLServer

### Testcontainers version

1.17.2

### Using the latest Testcontainers version?

Yes

### Host OS

EndeavourOS

### Host Arch

x86

### Docker version

[code]

### What happened?

I'm trying to run integration tests for a tool I'm developing with my team. We support a wide range of databases, among others MS SQL. Until now, running integration tests for Postgres and MySQL

[2022-07-10 01:15] eddumelendez commented on #5589
Please update your url `jdbc:tc:sqlserver:latest:///?TC_REUSABLE=true;user=SA;password=A_Str0ng_Required_Password`

[2022-07-11 07:00] sanfelice commented on #5510
Yeah, it works. I agree with you that this way we have more freedom to do things the way we want.

Thanks for your help.

[2022-07-11 07:00] #5510 closed

[2022-07-11 07:09] kiview commented on #5283
Hey @npetzall, thanks for raising this issue. Your observation seems correct. In which scenarios would this lead to issues for you?

[2022-07-11 07:25] kiview commented on #2045
Hey @loicmathieu, thanks for responding. We were looking for a _concrete_ example, rather than `@ExtendsWith({FooExtension.class, BarExtension.class})`, since this is rarely useful for understanding an actual use case (it will only lead to adding more generic capabilities to a framework).

With special regards to the JUnit5 extension, overusing can lead to a widespread usage of container-per-class

[2022-07-11 08:23] npetzall commented on #5283
If I remember correctly I couldn't use the MSSQLServerContainer and had to extend it. Since it failed the liveliness check.

This was on Windows so testcontainers tried to connect to 1433 or something like that but it was reachable on a different port.

[2022-07-11 08:39] npetzall commented on #5283
I do also have a a custom wait strategy

[code]

So it might be related to changes done that affect what is exposed or how the strategies work.

[2022-07-11 09:55] kiview commented on #5283
Thanks, this example makes sense.

[2022-07-11 10:11] npetzall commented on #5283
It's a bit tricky since the JavaDoc only says ports to check if ready, but Wait.forListeningPort seems to assume that it's a published port.

[2022-07-11 13:37] TheMessik commented on #5589
Amazing, thank you very much. Just one more question, how can I create a database with a specific name automatically?

URL ``jdbc:tc:sqlserver:latest:///TestDB`` doesn't create a TestDB database.

[2022-07-11 15:01] eddumelendez commented on #5589
MSSQL image doesn't offer a env variable to configure the database name, so, it is not possible nowadays.

[2022-07-11 15:02] #5589 closed

[2022-07-11 16:18] tburch commented on #2045
It's interesting that `@DynamicPropertySource` doesn't require any order. With Micronaut, I've been implementing `TestPropertyProvider`, which is order-dependent because I need the address/port from the container to set the properties correctly (for now manually starting the test container(s) prior to `@MicronautTest` doing its thing).

[2022-07-11 18:19] mshima opened #5590 "[Bug]: MySql test containers fails when switching from `-debian` to `-oracle` (default now) variant"
### Module

MySQL

### Testcontainers version

1.17.3

### Using the latest Testcontainers version?

Yes

### Host OS

Linux

### Host Arch

x86

### Docker version

[code]

### What happened?

MySql server fails to start or detect it started.

### Relevant log output

[code]

### Additional Information

Run locally with MacOS with M1 processor:
- `-oracle` variant works.
- `-debian` variant fails

[2022-07-12 21:47] QuinnBast opened #5592 "[Feature]: Container Startup Dependency"
### Module

Kafka

### Problem

When running integration tests, we want to start up two containers. One kafka container and another application which then connects to kafka. Locally it seems to work, however, in Gitlab pipelines there is a subtle race condition between the startup times of the two containers. This often results in the second container starting up first and being unable to connect

[2022-07-12 22:07] bsideup commented on #5592
Have you tried `dependsOn` method?

[2022-07-13 00:40] shubhimohta commented on #3834
First maybe look at dependencies and check what version of jna is being picked up. For me even after explicitly mentioning
 just fixed it by forcing it to pick the newer version of jna which works for working with testcontainers on Apple M1.
testImplementation('net.java.dev.jna:jna-platform'){
        version {
            strictly("[5.7,5.10]")
        }
    }
Here is the reference to how to decl

[2022-07-13 05:48] jglapa opened #5593 "[Bug]: NoClassDefFoundError (Could not initialize class com.github.dockerjava.transport.DomainSocket)"
### Module

Core

### Testcontainers version

1.17.3

### Using the latest Testcontainers version?

Yes

### Host OS

MacOS

### Host Arch

ARM

### Docker version

[code]

### What happened?

Fails to start with exception  with exception `NoClassDefFoundError (Could not initialize class com.github.dockerjava.transport.DomainSocket)`
Newest version used.
Java 11.0.15-zulu arm.

### Relevant log ou

[2022-07-13 06:02] jglapa commented on #5593
seems like problem goes away when switching to java11 **amd64** e.g. (11.0.2-openjdk)

[2022-07-13 07:29] shreelakshmijoshi opened #5594 "[Feature]: Test containers for ImmuDB"
### Module

New Module

### Problem

ImmuDB is a relational database in which data is immutable, secure, and auditable. It is used in many enterprise applications. However, for testing we need to connect to an in-memory immudb database which might not be feasible.

### Solution

Creating a test container specifically for Immudb
[Here is the Link to the immubd website](https://docs.immudb.io/master

[2022-07-13 10:27] bsideup commented on #5593
Are you sure that the actual runtime classpath contains an up-to-date version of JNA?

[2022-07-13 14:23] kamilkloch opened #5596 "`LocalDockerCompose` does not support Docker Compose v2"
### Module

Core

### Testcontainers version

1.17.3

### Using the latest Testcontainers version?

Yes

### Host OS

Linux

### Host Arch

x86

### Docker version

[code]

### What happened?

`LocalDockerCompose` does not support Docker Compose v2 (`docker compose` instead of `docker-compose`). The following error occurs:
[code]
See https://github.com/testcontainers/testcontainers-java/blob/de132

[2022-07-13 14:49] QuinnBast commented on #5592
I didn't realize this was a feature! Thank you! I was looking for this in the "waiting for containers" documentation, might be something to consider adding there

[2022-07-13 15:03] bsideup commented on #5592
Indeed! Would you be interested in contributing to the docs? :)

You can do it straight from GitHub! 😊
https://github.com/testcontainers/testcontainers-java/blob/master/docs/features/startup_and_waits.md

[2022-07-13 15:57] greenstevester commented on #4605
Hi there,

Also got the same issue when setting TESTCONTAINERS_HUB_IMAGE_NAME_PREFIX env var with my company docker repo: my-company.net/

It removed the trailing backslash and of course could not resolve the host.

I created an ExampleImageNameSubstitutor per https://www.testcontainers.org/features/image_name_substitution/

`
public class ExampleImageNameSubstitutor extends ImageNameSubstitutor {

[2022-07-14 08:05] dkrtic commented on #5517
From the docker [documentation](https://docs.docker.com/desktop/networking/#i-want-to-connect-from-a-container-to-a-service-on-the-host)

I can't find which docker version is needed for `host-gateway` to work, this was added [sometime last year](https://github.com/docker/for-linux/issues/264#issuecomment-965465879) .
It doesn't work on my Ubuntu 18.04 (Docker version 20.10.17) so I ended up using

[2022-07-14 11:28] jglapa commented on #5593
any suggestion how could I verify that at runtime? Gradle dependency check claims its `5.8.0`

[2022-07-15 08:49] jfisbein opened #5599 "[Bug]: RabbitMQ 3.9+ SSL File environment vars deprecated"
### Module

RabbitMQ

### Testcontainers version

1.17.3

### Using the latest Testcontainers version?

Yes

### Host OS

Linux (Ubuntu 20.04)

### Host Arch

x86_64

### Docker version

[code]

### What happened?

Rabbit MQ 3.9 official image deprecated the following env vars:

- RABBITMQ_DEFAULT_PASS_FILE
- RABBITMQ_DEFAULT_USER_FILE
- RABBITMQ_MANAGEMENT_SSL_CACERTFILE
- RABBITMQ_MANAGEMENT_SSL

[2022-07-15 08:50] mgryszko commented on #4312
I launched  `RabbitMQContainer` (using the provided `RabbitMQContainerJUnitIntegrationTest`) with 3.9 and 3.10 versions and the environment variable `RABBITMQ_DEFAULT_PASS` is fully supported. See the official [RabbitMQ image documentation](https://hub.docker.com/_/rabbitmq), the latest [Ubuntu entrypoint](https://github.com/docker-library/rabbitmq/blob/master/3.10/ubuntu/docker-entrypoint.sh#L13)

[2022-07-15 13:14] jfisbein commented on #5599
I'm working on this with @mgryszko, we would like to contribute to fixing this issue, but all the solutions we see imply modifying or creating a config file inside the container. So we see multiple options:

1. Remove the `withSSL()` methods and add a note/warning explaining that now it should be done through the configuration file and maybe a link to an example.
2. When calling the `withSSL()` me

[2022-07-18 14:21] kiview commented on #5599
I think option 2. sounds like a good one to explore, that's also what you did in #5600, or?

[2022-07-18 19:17] jfisbein commented on #5599
We made option 3. We realized its a safer option, because advanced config file was nor modified by any existing method.
Cc @mgryszko

[2022-07-19 11:15] apokralipsa commented on #5028
One more case where this would come in handy is setting a specific timezone for a Postgres database. While this would be possible by creating the container manually in code, it would be nice to be able to keep the simplicity of jdbc url configuration when setting up a Spring Boot app.

[2022-07-19 13:23] sniffertine commented on #4539
Having the same issue here. Also just verified using org.testcontainers:elasticsearch:1.17.3

[2022-07-20 01:21] XiaosongWen opened #5602 "[Bug]: Error in running test on kube-jenkins"
### Module

PostgreSQL

### Testcontainers version

1.16.3

### Using the latest Testcontainers version?

Yes

### Host OS

linux

### Host Arch

x86

### Docker version

[code]

### What happened?

I am using testcontainers for my unit test for repository, it passes locally but failed in the jenkins, and it only have one line log trace:
[code]
Here are my code
[code]
[code]
[code]
Any suggestion

[2022-07-20 07:53] kiview commented on #5602
Hi @XiaosongWen, please configure logging according to our recommended configuration and share the logs with us:
https://www.testcontainers.org/supported_docker_environment/logging_config/

Also, `1.16.3` is not the latest version of Tescontainers, `1.17.3` is.

Your Jenkins build node has access to the Docker daemon?

[2022-07-20 08:10] dmytro-rusnak opened #5603 "[Bug]: Permission denied inside running Apache Pulsar container"
### Module

Pulsar

### Testcontainers version

1.17.3

### Using the latest Testcontainers version?

Yes

### Host OS

Linux, MacOS

### Host Arch

x86, ARM

### Docker version

[code]

### What happened?

We use Test Containers to run the Apache Pulsar docker container for testing purposes, but after updating to the latest version (Test Containers to 1.17.3 and Apache Pulsar to 2.10.0), we start

[2022-07-20 20:38] smfaizalkhan opened #5604 "[Enhancement]: URL scheme support for NoSQL"
### Module

MongoDB

### Proposal

Hi @rnorth @bsideup

I have been using the JDBC URL scheme to launch test containers

I'm currently working in a project which involves NoSQL mongoDB ,So i would like to know is there support for NoSQL similar to JDBC/RJDBC .If so please share it

Regards,
Faizal

[2022-07-21 16:03] StefanHufschmidt commented on #1495
@testphreak I pushed an [example which I use for my parallel test cases with Testcontainers](https://github.com/StefanHufschmidt/TestcontainersJUnit5ParallelExample). Test pollution is a major challenge when running test suits in parallel. I think this solution is a good compromise between running everything in parallel and just running classes in parallel. Sometimes you require a fresh container

[2022-07-21 19:10] cowwoc commented on #1495
@StefanHufschmidt Thank you for this. Out of curiosity, what is the overhead of each approach? For example, is `FreshContainersPerTestMethod` N times slower than `FreshContainersPerTestClass` where `N` denotes the number of tests in the class? If the overhead is low enough, this would be the ideal approach.

[2022-07-21 22:06] XiaosongWen commented on #5602
Hi Kiview, thank for the reply. I have added the logs configure and updated to version 1.17.3. And from this issue: https://github.com/testcontainers/testcontainers-java/issues/3455 Also setup a ImageNameSubstitutor. I can confirm that from the local log it is using: `comany.com/xxx/testcontainers/ryuk:0.3.3` and `comany.com/xxx/postgres:13.2`.
Here is what I got from jekeins:
[code]
And it someho

[2022-07-22 10:02] kiview commented on #5602
Can you please run Gradle with `-i`, so we see the actual logs of the tests?

[2022-07-22 14:27] rombert commented on #5604
@smfaizalkhan - sorry, I can't answer your question, I am just a simple user and not familiar with this part of the project.

[2022-07-22 14:33] daschl commented on #5604
I'm also not involved with the MongoDB module, but if there are features to be implemented across the NoSQL modules I'm happy to help.

[2022-07-22 19:54] janrieke commented on #5256
We also just stumbled upon this issue.
Has there been some progress on this? Can we do something to help? If there is a snapshot with a fix, we'll be glad to give it a try.

[2022-07-23 18:04] lynch19 commented on #1135
@masinger This seems like an awesome direction. What's the status of this?

NOTE - until there's k8s support, this project is pretty unusable for MOST of the Java developers, since they work with k8s.

[2022-07-23 18:14] lynch19 opened #5607 "[Feature]: Enable Helm Charts usage"
### Module

New Module

### Problem

I want to use TestContainers in a CI environment, that run on K8s. I'm using Jenkins, and I have no Docker runtime abilities - hence Testcontainers is unusable.

### Solution

I'd like to have a module in testcontainers that will be similar to the `testcontainers-docker-compose` module, but for Helm Charts. This will make Testcontainers unusable to me, to an aw

[2022-07-23 20:48] eddumelendez commented on #5604
@smfaizalkhan can you elaborate more, please? What's your use case and how testcontainers can help? why the current methods such as connectionString are not enough?

[2022-07-23 20:52] eddumelendez commented on #5603
@dmytro-rusnak thanks for raising the issue! in 1.17.3, pulsar image was updated to 2.10. I wonder if you need that upgrade too? Otherwise, you can use the previous version you were using in the meantime.

[2022-07-23 20:55] smfaizalkhan commented on #5604
Hi @eddumelendez
Just like how how we have for [RDBC](https://www.testcontainers.org/modules/databases/jdbc/) like
jdbc:tc:mysql:5.7.34:///databasename
i wish we have something on sme lines for NoSQL

[2022-07-24 15:24] dmytro-rusnak commented on #5603
@eddumelendez hi. Thanks for your reply. Previously, we used to test containers 1.17.2 and pulsar 2.10.0 and everything worked fine, but after updating the test containers to the new version 1.17.3, we started to catch the permission denied issue.
In our situation, we have two options:
1. Downgrade the test containers to 1.17.2 and keep using pulsar 2.10.0.
2. Keep using the 1.17.3 test containers

[2022-07-24 16:27] eddumelendez commented on #5603
thanks for sharing!

[2022-07-25 17:34] eddumelendez commented on #5603
[This change](https://github.com/testcontainers/testcontainers-java/blob/master/modules/pulsar/src/main/java/org/testcontainers/containers/PulsarContainer.java#L91) was introduced in the last release. The code below will fix the current issue

[code]

but  now you will be able to override config file given the prefix `PULSAR_PREFIX_<property-name>` which I would suggest as a much better way

[code

[2022-07-25 17:34] #5603 closed

[2022-07-26 06:25] kiview commented on #5607
Thanks for raising the feature request @lynch19. However, Testcontainers by design requires a container runtime with a Docker compatible API and is based on multiple assumptions for the container runtime to share specific characteristics with Docker. We don't see how your feature request fits into the current vision of Testcontainers.

Please note that Testcontainers does not require a Docker-comp

[2022-07-26 06:25] #5607 closed

[2022-07-26 08:58] kiview commented on #5604
There is currently no SPI/driver concept for NoSQL technologies in the Java language, which would make any implementation extremely challenging (and not sure if feasible). Furthermore, to my knowledge, there is also no connection URL standard across NoSQL technologies, similar to JDBC/R2DBC.

And while I can understand that the magic JDBC-Proxy-Driver support in Testcontainers is very useful for s

[2022-07-26 08:58] #5604 closed

[2022-07-26 10:09] kernle32dll opened #5612 "[Bug]: library/mysql is not a valid substitute for mysql"
### Module

MySQL

### Testcontainers version

1.17.3

### Using the latest Testcontainers version?

Yes

### Host OS

Linux

### Host Arch

x86

### Docker version

[code]

### What happened?

We are using `new MySQLContainer<>("mysql:8.0.16")` to create a mysql container locally. All is working fine.

However, in our CI we now introduced a Docker proxy via Nexus. Since we don't want to use the p

[2022-07-26 10:49] kiview commented on #5612
Hey @kernle32dll, thanks for reporting. You are right, `mysql` is an alias for `library/mysql`, with `library/` being a very special case in the context of Docker Hub and Docker CLI. Using `asCompatibleSubstituteFor` was a valid workaround for you, wasn't it?

I am not yet sure if we want to add a special case for `DockerImageName.parse("mysql:8.0.16").equal(DockerImageName.parse("library/mysql:8.

[2022-07-26 13:10] kernle32dll commented on #5612
Yeah.

I think it comes down to a question of usability. One _could_ argue that testcontainers should use images with `library/` prefixed in the first place, but I don't really want to open that discussion here and now :D

[2022-07-26 14:58] kiview commented on #5612
All good, I think you have a point here. We just need to ponder if such a change will have other unintended sideffects and particularly, how well it will play with other Docker-API compatible container engines, that **are not** Docker (thinking of podman here).

[2022-07-26 21:31] lynch19 commented on #5607
@kiview A remote host is indeed a good solution and I will check on this (I guess you mean that I should run Docker on some VM and reference it from the k8s cluster in which the CI enviornment is set on, right?).

But in general, don't you think that this is where the library should be heading? Using Helm instead of Docker will enable usage of Testcontainers in a pure K8s enviornment. Wouldn't it

[2022-07-26 21:36] lynch19 commented on #1135
@kiview What's your opinion regarding the awesome project of @masinger, and what's the main direction in which Testcontainers is heading regarding this issue?

This super important and anticipated issue has been inactive for some months now. Were there been some decisions/progress on the subject?

[2022-07-27 06:18] steve-todorov commented on #1135
@lynch19 this issue has been here for 4 years. If you scroll back into the comments you will clearly see they don't have any plans fixing it. The main argument is that the core team doesn't want to do the necessary abstraction to have different providers (i e. K8s, docker, podman, etc) due to some challenges and incompatibilities :)

It is highly unlikely this will change any time soon. And this i

[2022-07-27 06:33] kiview commented on #5607
That is indeed one possible way to set this up.

This sounds like a weird argument given the reasons I outlined above, with Testcontainers interacting with a container runtime (not an orchestrator runtime) for a specific kind of test (which some might define as integration tests, but not large-scale system tests). You are of course free to explore other alternatives if you feel as if Testcontainer

[2022-07-27 06:39] kiview commented on #1135
@lynch19 The project/fork by @masinger is public and open source, just try it out and see if it fits your need.

While I understand that this can seem to be a very important issue for individuals, we don't see this as important for the Testcontainers community as a whole, given current priorities and project focus. We thank everyone for sharing their feedback and suggestions and there is a possibi

[2022-07-27 06:39] #1135 closed

[2022-07-27 11:07] DRoppelt commented on #5607
I would like to point out that this not not quite as black&white. You can get docker to run in k8s by using a dind-rootless (dind=docker-in-docker) image as the container hosting the necessary daemon for testcontainers`.

https://github.com/testcontainers/testcontainers-java/issues/1135#issuecomment-904526644

If you are using the kubernetes plugin in Jenkins, you can setup following podspec:

- 2

[2022-07-27 13:34] AnandTiwari1997 commented on #3707
@bsideup, keep getting cannot connect to ryuk, connection refused exception that is why want to disable it.

[2022-07-27 13:44] kiview commented on #3707
@AnandTiwari1997 I think the root issue is that you get that exception. There is an existing mechanism for disabling Ryuk (using the ENV variable), but this is often used as a bandaid to workaround other issues with the environment (often networking-related).

As said before, there are no plans to allow disabling Ryuk at the project level.

[2022-07-27 18:37] futurechan commented on #5049
Same issue!

[2022-07-28 08:46] Sanne commented on #5275
@kiview I hope you remember our quick chat about this at Devoxx UK :)

You mentioned this would be harder than it looks and would explore some things; do you have an updated by any chance? I'd really like to see some progress here: experienced developers figure it out, but I have the impression there's many beginners struggling because of this... podman is getting very popular.

[2022-07-28 09:57] FieteO opened #5616 "[Bug]: Unable to create a ConnectionFactory (driver=tc)"
### Module

PostgreSQL

### Testcontainers version

1.17.2

### Using the latest Testcontainers version?

Yes

### Host OS

Linux

### Host Arch

x86

### Docker version

[code]

### What happened?

In a spring boot project, I am trying to use the r2dbc driver together with postgis and testcontainers.
I am using the `application.yml` to configure the database connection (in `test.resources`):
[cod

[2022-07-28 10:26] kiview commented on #5612
In a way, I think this is related to #5275 as well and should be tackled in conjunction.

[2022-07-28 10:31] kiview commented on #5275
I remember our discussion, thanks for the ping @Sanne 😉 .
As I said back then, I am not yet sure about all the implications (especially around our assertions for compatible images in specific container modules), but we will try to find some time to look into this.

I think just touching the image name of the `ryuk` image could be a simple first mitigation, that should not have bigger unintended co

[2022-07-28 10:50] Sanne commented on #5275
Yes I think simply chaging the string that points to ryuk would prevent some pain, and I also don't expect that to be problematic.

Interesting that Docker Desktop doesn't have this problem in Windows - that's good to hear, I guess what I heard was from a confused user. But we definitely have this problem on Linux, especially with podman as it comes with multiple repositories configured by default

[2022-07-28 14:03] shubgene opened #5618 "[Bug]: MongoDBContainer stuck at waiting for connection"
### Module

MongoDB

### Testcontainers version

1.16.3

### Using the latest Testcontainers version?

Yes

### Host OS

linux

### Host Arch

x86_64

### Docker version

[code]

### What happened?

Hi

We are using GitHub runner. and our runners get stuck in the integration test phase.
Runners are self-hosted.

Our test uses both kafka testcontainer and mongo testcontainer. Kafka containers get s

[2022-07-28 20:32] eddumelendez commented on #5618
@shubgene can you reproduce this locally? any specific setup on the self-hosted runner you can share? I tested the image version and works well with the wait strategies

[2022-07-29 01:09] FlyingZC commented on #5126
I have the same problem, is there any way to solve it?

[2022-07-29 06:15] DRoppelt commented on #5607
@lynch19 I am not sure if you got a notification from my previous comment, but since this seems to be an urgent issue for you, I am pinging you this way. With https://github.com/testcontainers/testcontainers-java/issues/5607#issuecomment-1196587457 you can get a pod to a dockerdaemon and therefore get testcontainers to work. Essentially you move a docker daemon into the pod instead of reying on k8

[2022-07-29 08:40] shubgene commented on #5618
@eddumelendez  thanks for your response. This works well locally.  our runner are set up with adopt jdk
runs-on:
      - self-hosted
      - build
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2
        name: Setup JDK 11
        with:
          java-version: '11'
          distribution: 'adopt'
      - name: Component Test
        run: ./mvnw -B -f pom.xml test -P

[2022-07-29 10:02] kiview commented on #5126
Thank you @wong-git, you are right that this would a usability improvement.

In general, since using Docker Compose means Docker Compose will take some responsibilities, those kind of issues might happen and in general we recommend using Testcontainers directly instead of through Docker Compose, to give Testcontainers more control over the environment.

@FlyingZC What is your problem? This issue i

[2022-07-29 15:48] eddumelendez commented on #5618
please, share info about the os, distribution and version. Are those the same you or someone in your team has and it can reproduce the issue?

[2022-07-29 19:33] eddumelendez commented on #5616
you can use the tc driver with mysql, mariadb, postgresql and sqlserver as you can see in the documentation. using `postgis` is not supported.

[2022-07-29 19:33] #5616 closed

[2022-07-29 20:06] FieteO commented on #5616
Just to clarify: It is not supported for the r2dbc driver right? For jdbc it is working just fine

[2022-07-29 20:09] eddumelendez commented on #5616
yes, exactly. [docs for jdbc](https://www.testcontainers.org/modules/databases/jdbc/)

[2022-07-29 20:17] FieteO commented on #5616
Thanks for the clarification. Does that mean that if I wanted to stick with postgis, I would need to try the `GenericContainer` approach as described in the [Quickstart docs](https://www.testcontainers.org/quickstart/junit_5_quickstart/#2-get-testcontainers-to-run-a-redis-container-during-our-tests)?

[2022-07-29 21:53] eddumelendez commented on #5616
if you are using `jdbc:tc:postgis:9.6-2.5:///databasename` then you don't need to use `GenericContainer`. Use it only when want to manage the container lifecycle manually and use the the postgres driver and url. See 5.2 [here](https://postgis.net/docs/manual-1.5/ch05.html#id366626) and you can use the existing `new PostgresContainer(DockerImageName.parse("postgis/postgis").asCompatibleSubstituteFo

[2022-07-30 10:34] gesellix commented on #2960
Is there any shortlist of issues/tasks to be solved to make Testcontainers work on WCOW? I'd like to help and enable native WCOW support. Creating multi-arch/multi-platform images for Ryuk should only be a matter of time (been there for my own projects), but I suspect there might be harder issues to be solved?

[2022-07-30 10:39] gesellix opened #5621 "Windows container (WCOW) support"
### Module

Core

### Proposal

Is there any shortlist of issues/tasks to be solved to make Testcontainers work on WCOW? I'd like to help and enable native WCOW support. Creating multi-arch/multi-platform images for Ryuk should only be a matter of time (been there for my own projects), but I suspect there might be harder issues to be solved?

Some details have already been discussed at #2960 with

[2022-07-30 17:47] FieteO commented on #5616
Hmm, my question was more geared towards somehow making j2dbc work with test containers. From your answer I get it's not really possible at all, right?

[2022-07-30 17:59] eddumelendez commented on #5616
just like the postgres' jdbc driver is used to connect with postgis then postgres' can be used but sure you need to use `PostgresContainer`

[2022-07-30 22:06] zarebski-m opened #5622 "[Enhancement]: ContainerDatabaseDriver ignores additional JDBC properties"
### Module

MySQL

### Proposal

Happens for MySQL, but the issue is more general. JDBC allows specifying additional properties as a key/value pair when connecting to the DB:

https://docs.oracle.com/javase/7/docs/api/java/sql/Driver.html#connect(java.lang.String,%20java.util.Properties)

Those should be used as if they were appended to JDBC URL, e.g.:

[code]

This should have the same effect as

[2022-08-01 17:43] DJ-Glock commented on #4212
Same thing.

[2022-08-01 19:07] eddumelendez commented on #5616
I have left some examples [here](https://github.com/eddumelendez/testcontainers-samples/blob/main/spring-boot-postgresql-flyway/src/test/java/com/example/springbootpostgresqlflyway/PostgisHostLessTest.java) and [here](https://github.com/eddumelendez/testcontainers-samples/blob/main/spring-boot-postgresql-flyway/src/test/java/com/example/springbootpostgresqlflyway/PostgisTest.java)

[2022-08-02 03:00] liqingwang commented on #4954
Hi, I have encountered this problem before. And after research, I finally fix this problem.

First, I have use Jenkins Clouds model. All new task will create a pod on K8s cluster and are destroyed when the task is complete.

And the solution is enable `Host Network` in Jenkins, the way is `configureClouds` -> `Pod Template details...` and it works.

[2022-08-02 08:32] andyspiers commented on #5618
Hi,
I work with @shubgene and can provide information about the runtime environment where this is failing.

We are using self-hosted Github Actions runners provisioned in our own Kubernetes clusters by [actions-runner-controller](https://github.com/actions-runner-controller/actions-runner-controller).

Each runner has its own dedicated pod which runs 2 containers:
- github actions runner (based on

[2022-08-02 09:21] vmassol opened #5667 "Network cleanup not working"
### Module

Core

### Testcontainers version

1.17.3

### Using the latest Testcontainers version?

Yes

### Host OS

Linux

### Host Arch

x86

### Docker version

[code]

### What happened?

We're getting regularly the error `Caused by: com.github.dockerjava.api.exception.NotFoundException: Status 404: {"message":"could not find an available, non-overlapping IPv4 address pool among the defaults

[2022-08-02 10:59] bsideup commented on #5667
@vmassol do you happen to have Ryuk disabled?

[2022-08-02 11:19] vmassol commented on #5667
@bsideup nope, we love Ryuk and we never disable it ;)

[2022-08-02 11:34] vmassol commented on #3558
Note that, seen the pattern, most of the containers from that custom image are removed when the tests stop. It's only under some conditions that they're not removed (jvm crash, low memory, etc?).

Just checked now and I have on one agent:

[code]

(it's all the "`apt-get`" ones)

I wanted to work around this but I don't see how to do it. If I do an explicit remove at the end of the test (in a JUni

[2022-08-02 11:40] vmassol commented on #5667
Also, most of the time the networks are cleaned fine.

[2022-08-02 11:43] rvansa opened #5670 "[Bug]: PostgreSQL startup times out"
### Module

PostgreSQL

### Testcontainers version

1.17.3

### Using the latest Testcontainers version?

Yes

### Host OS

Linux

### Host Arch

x86_64

### Docker version

[code]

### What happened?

I am trying to run our testsuite in a loop to catch a race condition. However I see that in about 1 out of 10 cases the test fails due to timing out when waiting for the PostgreSQL container to star

[2022-08-02 11:58] vmassol commented on #3558
Actually I know how to do it! :) I'll put a "docker prune --filter" in our jenkins pipeline before the build starts. Just need to find the tags to identify these containers.

[2022-08-02 12:19] vmassol commented on #3558
Done in:
- https://github.com/xwiki/xwiki-platform/commit/5b750f342f5459fcb67c472c56fe622d9c11b364
- https://github.com/xwiki/xwiki-jenkins-pipeline/commit/5643e3f1aad27f1b89b9dd77f31c203b573fc9a6

Let's see if it works now...

[2022-08-02 20:51] norrs commented on #5404
@skotsj This ridiculously hack actually works. Thanks for sharing, as this is way better than having Junit4 and vintage engine loaded in Junit5.

[2022-08-02 21:06] dropofwill commented on #4279
Looks like the problematic methods have already been marked as deprecated in #5489

[2022-08-03 10:26] rvansa commented on #5670
Okay, I found that this is probably not due to breaking the output incorrectly but due to `docker logs -f ...` failing as I had `ulimit -n` set to default 1024 and I ran out of file descriptors. In that case `docker logs -f ...` exited with an error but this was not what testcontainers were expecting.
I guess that there's two things to fix: `WaitingConsumer.waitUntil` should check on `OutputFrame.

[2022-08-03 11:16] wolfey commented on #5596
Yes we absolutely need this. Please also support using the docker builtin compose api via `docker compose` instead of `docker-compose`.

[2022-08-03 13:35] kiview commented on #5618
@shubgene Can you please share the code creating and interacting with `MongoDBContainer`? You did not provide this code in your issue.

Also, are you sure the container gets stuck? It should actually timeout.

The default wait strategy in `MongoDBContainer` waits for a log message adhering to this regex: `(?i).*waiting for connections.*` Your container logs `Waiting for connections`, and the regex

[2022-08-03 13:47] kiview commented on #5670
Thanks for raising this issue and doing the investigation @rvansa. Since the log message is an indicator of readiness, we can't end the waiting and assume the container to be ready. But we should look into failing explicitly and communicating the issue to the user instead (`unexpected end of log stream` or something).

However, looking at your logs, we can actually see the expected log lines, why

[2022-08-03 14:33] rvansa commented on #5670
I have found out the problem when this started happening reproducibly every time; I saw the message `error getting journald fd: Too many open files` when I've placed a breakpoint into the predicate. After rebooting it happens only sporadically again.

Strange enough `docker logs <container>` itself always worked even though `docker logs -f <container>` was failing (with the same error I saw in the

[2022-08-03 15:02] shubgene commented on #5618
@kiview  Thanks for responding.

This is how we are creating the MongoDB container :

mongoDBContainer = new MongoDBContainer("mongo:5.0.8");
                mongoDBContainer.start();

Yes the container gets stuck and never time out.

I believe the issue is with docker-rs replica set. We tried running locally mongo with replica set and can replicate the issue although test containers with replica

[2022-08-03 15:15] kiview commented on #5618
Thanks for sharing more info @shubgene.

In your shared logs, I see this error, but it ends with the following line, which sounds fine and I assume it is just an intermediate error during startup (but not sure):
[code]

If you say the tests get stuck, how many minutes does the pipeline get stuck? Do you need to manually terminate the GHA job?

[2022-08-03 16:05] andyspiers commented on #5618
I'm not sure why these log entries were not included in the original log output provided but in the [comment above](#issuecomment-1204068521) they are .... after it says "Waiting for connections", we get infinitely repeating lines with a `NotYetInitialized` error, like this:

[code]

It's at this point where the job gets stuck.

To debug, I shelled into the mongo pod and tried to connect locally:

[2022-08-03 16:14] eddumelendez commented on #5596
see #5608

[2022-08-04 10:43] FlyingZC commented on #5126
I can only circumvent this problem by starting the docker process a few times less per test process.

[2022-08-04 12:40] dmytro-rusnak commented on #5603
Hi @eddumelendez . I know the issue is closed, but the fix you provided didn't work for us.
For example, it fixed the permission denied, but the container still couldn't start with our standalone file and its configurations.

Do I need to create a separate ticket for this or provide additional information in this ticket?

[2022-08-04 13:10] kiview commented on #5603
@dmytro-rusnak For now, you can provide the additional information (setup code, logs) in this issue and we will look into it, thanks.

[2022-08-05 00:18] tioback commented on #4008
For future reference:
While using `1.17.3` I keep getting the "cannot find executable" error mentioned at this issue's description.
So I downgraded to `1.15.3` and it started working 🤷‍♂️

I'm running it on an M1 chip, with Docker Desktop 4.10.1 (82475), Java 11, JUnit 4 and docker image `confluentinc/cp-kafka:7.0.5-1-ubi8.arm64`.

[2022-08-05 02:10] eddumelendez commented on #4008
@tioback can you share a sample project that reproduce the issue, please? I have executed the tests in the project with the arm image for kafka and zookeper and everything went well. I think the issue can be related to the project dependencies

[2022-08-05 09:52] rudreshtrivedi commented on #5182
I tried to setPortBinding instead of HostConfig

container.getPortBindings().add("4444:4444");
container.getPortBindings().add("6900:5900");

[2022-08-05 11:38] andyspiers commented on #5618
We have looked at the code paths in the testcontainers side and can see that it should be waiting for the message "waiting for connections" to appear in the logs - [source](https://github.com/testcontainers/testcontainers-java/blob/4d2b98fca08f13f4b847776aee104e94249f52d8/modules/mongodb/src/main/java/org/testcontainers/containers/MongoDBContainer.java#L50)

However, I have looked closely at netwo

[2022-08-05 15:13] andyspiers commented on #5618
we have some more run output here with DEBUG logging enabled (just the bit where it gets to starting mongo and hanging, not the first 4000 lines when it builds and starts other tests)

[code]

We can clearly see here that the log line "Waiting for connections" has arrived in the java process so I can't understand why it's not detecting that and continuing

[2022-08-05 23:48] eddumelendez commented on #5618
thanks for all the information provided! I have executed tests using mongo 5.0.8 and everything went well.

There is indeed a difference when running `docker run --rm -it mongo:4.0.8 mongod --replSet docker-rs` and `docker run --rm -it mongo:5.0.8 mongod --replSet docker-rs`. But in both cases, I was able to connect to the container and perform `mongo --eval 'rs.initiate();'`. This is what testcon

[2022-08-06 12:08] 40rn05lyv commented on #5037
It's possible to use both `@Container` annotation with a parallel approach. You can implement `org.testcontainers.lifecycle.Startable` interface that would have several containers inside it. Like this:

[code]

And then just use `@Container YourContainersWrapper` in test classes.

[2022-08-06 17:35] osmarcf commented on #1481
I am using docker-compose version 1.29.2, build 5becea4c, and the solution was the same as @nhooey used (removing `container_name` from all containers in the yaml file).

[2022-08-07 21:40] shubgene commented on #5618
hi @eddumelendez

I tried the 3 steps you mentioned :
1) I downgrade the mongo to 4.0.10 and experience a similar behavior as with version 5.0.8 works locally but not on the environment. I just had a simple app and ran the same test as in https://github.com/testcontainers/testcontainers-java/blob/master/modules/mongodb/src/test/java/org/testcontainers/containers/MongoDBContainerTest.java and still

[2022-08-08 12:37] vshinde3574 commented on #4034
@mikebell90  Can you please elaborate the solution? I am facing the same issue for Testcontainers.

[2022-08-08 12:41] silaev commented on #4695
Raised a [PR](https://github.com/testcontainers/testcontainers-java/pull/5595) to add auth to MongoDBContainer. @kiview pls, review

[2022-08-08 12:50] mikebell90 commented on #4034
Jna jar wasn’t new enough

[2022-08-08 12:56] kiview commented on #5621
Hey @gesellix,

that's a pretty awesome suggestion and we'd be happy to work with you on bringing WCOW support to Testcontainers Java. From my past experience, AFAIK the first initial blocker is indeed only the missing Windows Container images of our internal images, such as Ryuk. Back then I could do some basic examples if I disabled Ryuk. So with this in place, we might already come pretty far.

[2022-08-08 14:49] gesellix commented on #5621
That's great, I'll try to prepare WCOW variants. Maybe we can extract a shared meta-workflow to consolidate the image publishing in a follow-up.

[2022-08-09 08:29] laidani commented on #5124
Yes, this solves the issue, thank you @kiview

[2022-08-09 08:39] kiview commented on #5124
Seems fixed with `1.17.2` for all reporting users here, so I will close this 🙂

[2022-08-09 08:39] #5124 closed

[2022-08-09 09:14] ilgrosso opened #5680 "[Bug]: No tests found with JUnit 5.9.0"
### Module

Core

### Testcontainers version

1.17.3

### Using the latest Testcontainers version?

Yes

### Host OS

Any OS

### Host Arch

Any arch

### Docker version

[code]

### What happened?

Any tests annotated with `@TestContainers` not found by Maven Surefire plugin 2.22.0 with JUnit 5.9.0.
All works fine with JUnit 5.8.2.

### Relevant log output

_No response_

### Additional Informati

[2022-08-09 09:20] kiview commented on #5680
Please share a reproducer. You still need to annotate the tests with the actual JUnit5 annotations. Also, it is `@Testcontainers`.

[2022-08-09 09:29] ilgrosso commented on #5680
yup @kiview sorry for typo about `@Testcontainers`

What I was meaning is that I do have some tests annotated by `@Testcontainers` which are running fine when

[code]

If I simply upgrade to `5.9.0` then such tests are not detected.

I'll try to come up shortly with a reproducer.

[2022-08-09 09:34] kiview commented on #5680
Alright, I think this is actually an issue with Surefire and JUnit5 and has nothing to do with Testcontainers. At least this is my assumption. Which version of Surefire are you using? Try to use the latest version, potentially a milestone release, such as `3.0.0-M7`.

[2022-08-09 09:36] kiview commented on #1481
We are working on Docker Compose V2 support in #5608.

[2022-08-09 09:39] kiview commented on #5404
Thanks for sharing the workaround @skotsj. We have plans to remove the JUnit4 dependency in the core. However, we will completely remove any test framework dependency in the core and not replace it with the JUnit Jupiter one.

I'll close this issue as a duplicate of #970.

[2022-08-09 09:39] #5404 closed

[2022-08-09 09:46] ilgrosso commented on #5680
Here you go: https://github.com/ilgrosso/testcontainers5680

As you can read from `pom.xml`, the default versions are

[code]

So, when you run

```mvn clean test```

you obtain

[code]

but when you go with

[code]

then you get

[code]

with

[code]

you receive

[code]

which is basically the same.

[2022-08-09 09:52] ilgrosso commented on #5680
My wild guess is that there is some dependency between Testcontainers 1.17.3 and JUnit 5.8.2 as shown by

[code]

[2022-08-09 10:00] ilgrosso commented on #5680
Additional finding: if adding the following exclude:

[code]

then the test is run even with `-Djunit.version=5.9.0`

[2022-08-09 10:34] kiview commented on #5680
Hey @ilgrosso, thanks for your detailed triaging. You are completely right, this is an issue with `org.testcontainers.junit-jupiter` bringing in the transitive `org.junit.jupiter:junit-jupiter-api:jar:5.8.2` dependency.

So either there might be a better way to build our junit-jupiter extension here (we would need to check no best practices around extensions in the community), or we just update th

[2022-08-10 09:41] andyspiers commented on #5618
This sounds like an interesting lead if _no_ testcontainers drivers which need to wait for specific log lines are working and points to the Java process not correctly parsing, reading or obtaining the logs .... though that is slightly confusing because if it's able to _log_ the required lines, why does it not seem able to _parse_ them?

Some information that I don't think we have included above is

[2022-08-10 09:48] kiview commented on #5618
Indeed, there can sometimes be issues regarding the reading of the logs and at which point they are read. We have seen those in the past and it also depends on how the logs get accessed. However, if the logs would be read in some corrupted way, or we would miss some log lines, we would still see the `WaitStrategy` timeout trigger at one point. Indeed, this would be the expected behavior.

The fact

[2022-08-10 12:13] JohnnyMarnell commented on #3834
This thread saved me 🙏 , in our case I needed to exclude JNA jars from very old elasticsearch version, e.g.:
[code]

Ended up adding maven enforcer rule like:
[code]

[2022-08-10 13:47] shubgene commented on #5618
Hi All ,

I upgraded all the test container dependencies to the latest and it seems to fixed the issue.

<dependency>
   <groupId>org.testcontainers</groupId>
   <artifactId>mongodb</artifactId>
   <version>1.17.3</version>
</dependency>
<dependency>
   <groupId>org.testcontainers</groupId>
   <artifactId>testcontainers</artifactId>
   <version>1.17.3</version>
</dependency>
<dependency>
   <group

[2022-08-10 13:47] #5618 closed

[2022-08-10 13:52] kiview commented on #5618
This is great news @shubgene, sorry for not pointing this out early. Please let us know if the issue is ultimately resolved or re-appears 🙂

[2022-08-10 23:25] andyspiers commented on #5618
We did pick up the need to update to the latest version in the earlier helpful comments but even though @shubgene was specifying the latest version of testcontainers + mongo and kafka drivers, some other dependencies were somehow pulling in some older versions of some components. After these were explicitly pinned, the issue went away and we're back to using a 100% default config (with ryuk enable

[2022-08-11 11:27] REslim30 commented on #4546
It seems like this already completed in https://github.com/testcontainers/testcontainers-java/pull/5597. It's now at the bottom of https://github.com/testcontainers/testcontainers-java/blob/master/docs/features/startup_and_waits.md. I think this issue should be closed.

[2022-08-11 12:02] kiview commented on #4546
You are right @REslim30, thank you so much for letting us know 🙂

 Fixed by #5597.

[2022-08-11 12:02] #4546 closed

[2022-08-11 13:21] asbachb opened #5682 "[Bug]: maven source artifact does not contain sources from shaded artifacts"
### Module

Core

### Testcontainers version

1.17.3

### Using the latest Testcontainers version?

Yes

### Host OS

not related

### Host Arch

not related

### Docker version

[code]

### What happened?

The testcontainer maven source artifacts (e.g. https://repo1.maven.org/maven2/org/testcontainers/testcontainers/1.17.3/testcontainers-1.17.3-sources.jar) does not contain sources for shaded art

[2022-08-11 14:09] kiview commented on #5682
TBH, I am not sure if there is something we can do about it.

[2022-08-11 14:11] asbachb commented on #5682
Seems to be unsupported by gradle shade plugin: https://github.com/johnrengelman/shadow/issues/41

[2022-08-11 14:25] bsideup commented on #5682
Hi @asbachb, shaded classes are "internal" and not supposed to be used by anyone. We also have a check that ensures that we never leak them to the public API. So it is "by design" in some sense.

[2022-08-11 14:36] asbachb commented on #5682
@bsideup sources are needed for debugging not for development. So from my understanding it does not matter if it's "internal" or not.

What's the point of publishing the sources if I cannot debug the "internals"?

[2022-08-12 08:27] bharath-tw commented on #2801
A simpler way would be to directly set the networkAliases via `setNetworkAliases(List.of("kafka"))`

[2022-08-12 10:06] dmytro-rusnak commented on #5603
Hi @kiview . Thanks for replying me. I created a separate [project](https://github.com/dmytro-rusnak/pulsar-container-issue) as an example, but with configurations and dependencies like a real project (due to NDA, I can't share specific codes).
Also, I have shared the [stack trace and logs from the docker container](https://gist.github.com/dmytro-rusnak/7274007bc6161f38998b6bd4ba09b3d8).
Let me kn

[2022-08-12 13:01] jjvrensburg commented on #4275
This is still an issue in testcontainers 1.17.3.
I created the following class as a workaround:
[code]

[2022-08-12 13:33] kiview commented on #4275
Thanks for sharing the workaround @jjvrensburg.
Would you like to contribute a PR to fix the underlying issue?

[2022-08-12 15:11] npepinpe commented on #5393
We also discovered it by surprise when we would have containers failing to start because our DinD sibling in CI would run out of memory (as the memory would be mostly taken up by the Elastic container). I think it would make sense as a default value since it may affect other tests, especially if you run them in parallel.

For anyone looking for a quick workaround, we always run our Elastic contain

[2022-08-12 15:18] kiview commented on #5393
Thank you for sharing the workaround directly @npepinpe 👍
We have the open PR in #5398, but it requires some additional smaller changes before being merged.

[2022-08-12 20:47] drennerpfc6 opened #5683 "[Enhancement]: Conditionally register @TestContainers"
### Module

Core

### Proposal

The TestcontainersExtension class is currently not public. Because of this, there is no way to conditionally apply the extension.

Consider this example

[code]

[2022-08-12 21:09] eddumelendez commented on #5683
follow https://github.com/testcontainers/testcontainers-java/issues/2045

[2022-08-12 21:09] #5683 closed

[2022-08-12 21:14] drennerpfc6 commented on #2045
@kiview I have an example that is not ordering related. I need to be able to enable/disable the extension based on a condition in our CI pipeline. Because the class is not public, I can't do it. See the end of this JUnit thread for their examples: https://github.com/junit-team/junit5/issues/1242

[code]

[2022-08-15 08:42] kiview commented on #2045
@drennerpfc6 Can you please elaborate on why using `@Testcontainers(disabledWithoutDocker = true)` is not sufficient for your use case?

[2022-08-15 10:38] adilev26 opened #5687 "[Feature]: add port forwarding support to DockerComposeContainer"
### Module

Core

### Problem

cannot make a container inside the docker compose network to communicate with the docker host machine via a specific port.

### Solution

use the same port forwarding mechanism that GenericContainer has in order to expose a host port to the docker compose network.

### Benefit

containers inside docker compose to communicate back with a test that verifies some e2e sc

[2022-08-15 10:46] kiview commented on #5687
Hey @adilev26, you are right that this does not work. Since in the case of `DockerComposeContainer`, parts of the functionality that is normally executed by Testcontainers gets delegated to Docker Compose, integrating this feature _might_ be a bit more complicated.

In general, I'd suggest using a pure Testcontainers-based approach for this use case instead.

[2022-08-15 10:52] adilev26 commented on #5687
hi  @kiview, I agree about the complexity, if the compose environment is quite simple then it would be a good idea to use Testcontainers-based approach but when we have more complex ones such as redis/pulsar clusters with mapped ports it's less feasible.
I wonder if this could be done as a post compose execution to link the SSHD container to the compose network rather how it is done with GenericCo

[2022-08-15 13:36] kiview commented on #5687
I would like to see a setup, where this is not possible or hard 🙂
TBH, I think Testcontainers provides a very powerful and flexible way to define everything you can define with Docker Compose, and instead of using YAML, you can use a statically typed Java-based DSL, that has full debugging and IDE auto-completion capabilities. In addition, Testcontainers allows to model real [startup dependencies]

[2022-08-15 13:52] drennerpfc6 commented on #2045
@kiview because I don't want the test disabled.

[2022-08-15 14:00] kiview commented on #2045
How do you provide the integration test dependencies in the other case? And what is the condition of the CI pipeline? Sorry, but we have to understand the actual use case context in order to make informed decisions on this.

[2022-08-15 14:06] drennerpfc6 commented on #2045
@kiview we simply run against real environments for regressions and the hope is to also run the same set of tests against testcontainers more frequently throughout the day. If I had to just manage the container lifecycle myself then I'll just do that but it's annoying.

Many other test frameworks expose their extension class so my hope was that it would be something you were open to changing.

[2022-08-15 14:10] kiview commented on #2045
I am not fundamentally open against exposing them, just want to understand the use case and ideally avoid making falling into bad practices easier.

In the case of your example, I'd assume if you run against the real environment, you will run against the same infrastructure processes for the entirety of the test suite execution, correct? To correctly model this behavior, you should indeed not use

[2022-08-15 14:22] namgaxilem commented on #3079
Still getting this issue, the insert and select still successful but still get warning and throw SQLException in Spring RestController:

[code]

[2022-08-15 14:26] drennerpfc6 commented on #2045
@kiview that's what I'm working through right now. If it works then I guess I'll write my own extension to mange this since I do not want to duplicate code across 100+ applications.

[2022-08-15 14:33] kiview commented on #2045
What do you want to manage? Bind the container to the test-suite lifecycle instead of the test-class lifecycle? I am not completely up-to-date on any progress on the JUnit5 side of things around this topic, but issues like this suggest to me, that exactly this topic is still WIP: https://github.com/junit-team/junit5/issues/2816

Wouldn't you need to duplicate the conditional extension registry cod

[2022-08-15 14:35] bsofiato opened #5728 "[Enhancement]: Honoring MSSQL aditional properties on connection url"
### Module

MSSQLServer

### Proposal

Unlike the other database modules, the MSSQL module does not honor additional properties passed on the connection URL.

The culprit seems to be the 'parseUrl' method on the ConnectionUrl class. It expects the query parameters to be prefixed by the '?' character. However, in the MSSQL case, those parameters are preceded by the ';' character instead.

This is p

[2022-08-15 14:37] drennerpfc6 commented on #2045
@kiview the only thing I want is to be able to disable testcontainers and **not** disable the actual tests based on some condition. Duplicating an if () statement is not a problem, I didn't want to duplicate the reset of it.

[2022-08-15 14:45] eddumelendez commented on #5728
@bsofiato thanks for raising the issue!

From [the docs](https://docs.microsoft.com/en-us/sql/connect/jdbc/building-the-connection-url?view=sql-server-ver16)

Your PR is welcome, just would like to take into account managing backward compatibility.

[2022-08-15 14:50] bsofiato commented on #5728
@eddumelendez Great, I should submit a working PR for that in a couple of days

[2022-08-16 15:07] #2045 closed

[2022-08-16 15:08] kiview commented on #2045
Thanks for everyone providing valuable feedback and context on their use cases. We decided to make the extension `public`, to give more freedom to our users, on how to use and integrate Testcontainers.

The change is merged in #5285.

[2022-08-17 00:53] bsofiato opened #5737 "[Enhancement]: Allow customization of the database container by supplying a customization function"
### Module

Core

### Proposal

We can customize the DB created by the Testcontainer's JDBC integration using a function passed on the database connection URL.

What if we could customize the container using a similar scheme?

I propose we introduce a URL parameter named **TC_CONTAINERCUSTOMIZER** (maybe we can come up with a smaller name). It takes the fully qualified name of the function we want

[2022-08-17 07:36] akozhuharov commented on #5618
Just a note for any future visitors of this issue. We were getting stuck with waiting for Mongo with the same setup:

- GH Actions controller + self hosted runner
- JDK 11
- Latest version of testcontainers - 1.17.3
- Mongo image 5.0.8
- MongoDB container was starting and the message about receiving connections was present.
The biggest problem was that the tests wouldn't fail every time - some of

[2022-08-17 15:10] membersound commented on #2312
I can confirm the following setting in a `gitlab-ci.yml` disables testcontainers checks:

[code]

[2022-08-20 02:52] REslim30 commented on #5151
Looking into this now. What I've found so far is:

`GenericContainer.start` waits for all the exposed ports to be available in the output of `docker inspect` as part of this snippet of code:

[code]

The issue is, however, that published (exposed) ports are discarded on network mode `host`. E.g.

[code]

In the above example the code expects `docker inspect` to return:
[code]
But in reality, `dock

[2022-08-22 11:14] findepi opened #5760 "[Enhancement]: Retry getting Ryuk image"
### Module

Core

### Proposal

It seems that Unreliables is used wherever we want operations to be retried (like container startup).

Please add retries in `ResourceReaper.start` or in `DockerClientFactory.checkAndPullImage`.

[2022-08-22 12:04] nineinchnick commented on #5760
The default number of attempts is 1: https://github.com/testcontainers/testcontainers-java/blob/master/core/src/main/java/org/testcontainers/containers/GenericContainer.java#L173 and the Ryuk container doesn't change this.
Does it mean it'll retry one time or not at all?

[2022-08-22 12:06] nineinchnick commented on #5760
After looking at https://github.com/rnorth/duct-tape/blob/master/src/main/java/org/rnorth/ducttape/unreliables/Unreliables.java#L72 I guess it won't retry.

[2022-08-22 12:34] kiview commented on #5151
@REslim30 If I remember correctly, parts of this code were refactored in order to remove certain race conditions on Docker Desktop (particularly Docker Desktop on Windows). Your findings make sense, this is likely the issue.

[2022-08-22 12:37] kiview commented on #5760
@nineinchnick `startupAttempts` has different semantics. The retry mechanism for image pulls is implemented in https://github.com/testcontainers/testcontainers-java/blob/master/core/src/main/java/org/testcontainers/images/RemoteDockerImage.java#L32.

[2022-08-23 10:17] findepi commented on #5760
Thanks @bsideup and @kiview for all the clarifications. It seems in the latest version it works as it should.
We've upgraded to 1.17.3 and will monitor our CI flakiness reports to see whether there is still some room for further improvement.
Thanks.

[2022-08-23 10:17] #5760 closed

[2022-08-24 01:10] eddumelendez commented on #5737
Hi @bsofiato, thanks for raising this issue. We would like to understand the use cases for this first. Then we can discuss if we should proceed with a PR or not.

[2022-08-24 08:31] easterwood opened #5765 "[Bug]: DOCKER_HOST tcp://localhost:2375 is not listening"
### Module

Core

### Testcontainers version

1.17.2

### Using the latest Testcontainers version?

Yes

### Host OS

Windows with WSL2 Ubuntu

### Host Arch

x86-64

### Docker version

[code]

### What happened?

I have a Maven project which uses testcontainers to set up several Docker containers (for my integration tests) in a WSL2 Ubuntu instance. The tests are executed via maven `mvn test`. T

[2022-08-24 08:44] easterwood commented on #5765
Cloudfilghtio also run into this problem https://github.com/cloudflightio/dockerinwsl/issues/46

[2022-08-24 09:12] kiview commented on #5737
As a general note, I feel advanced use cases that require detailed configuration of the container are much better suited to using the existing OOP Testcontainers API, rather than improving the complexity of the JDBC integration (which is already a more specific use case).

[2022-08-24 09:15] kiview commented on #5765
Hi @easterwood, thanks for the report and the investigation. Did you already try out this workaround, of using IPv6?
https://github.com/cloudflightio/dockerinwsl/issues/35#issuecomment-1192496554

And just to be clear, are you using Docker Desktop, or a Docker daemon installed within WSL2?

[2022-08-24 10:05] easterwood commented on #5765
Hi @kiview

That worked.

----------------

Docker daemon in WSL2

[2022-08-24 12:59] kiview commented on #5765
Thanks for trying it out @easterwood. Since I have no experience about using the Docker daemon within WSL2 without Docker Desktop, looking at this comment https://github.com/cloudflightio/dockerinwsl/issues/35#issuecomment-1209388565, I'd assume this is fixed upstream in the `dockerinwsl` distribution and Testcontainers users that want to use such a Docker setup need to apply this workaround until

[2022-08-25 07:34] nikolashermann opened #5768 "[Bug]:"
### Module

MongoDB

### Testcontainers version

1.17.3

### Using the latest Testcontainers version?

Yes

### Host OS

linux

### Host Arch

amd64

### Docker version

[code]

### What happened?

The official mongodb 6.0 docker image was released yesterday: https://hub.docker.com/_/mongo
The image can not be used with testcontainers, as there is mongo-executable within the PATH anymore:
[code]
T

[2022-08-25 09:11] sureshgadupu opened #5769 "[Bug]: Logwaiting strategy not working in Windows with Podman"
### Module

RabbitMQ

### Testcontainers version

1.17.2

### Using the latest Testcontainers version?

Yes

### Host OS

Windows

### Host Arch

x86

### Docker version

[code]

### What happened?

I am trying to use Podman (version 4.2)  instead of Docker to run the tests with Testcontainers.
I am trying to start the RabbitMQ containers with following code
[code]
Testcontainer is recognizing the

[2022-08-25 10:11] kiview commented on #5769
Thanks for raising this issue @sureshgadupu and providing the debug output that helps look into this. Looking at this response from the `/containers/{id}/logs` Docker API endpoint (which podman-service tries to provide, and which Testcontainers accesses using [docker-java](https://github.com/docker-java/docker-java/blob/a135d21fb308014adfe3ad184557354689f528b1/docker-java-core/src/main/java/com/gi

[2022-08-25 10:11] #5769 closed

[2022-08-25 11:02] REslim30 commented on #5151
I've been testing locally on the code base and there's a simple fix we could do. We could add to `getMappedPort` an additional condition:

[code]
Which simply returns the original port if the container is in host mode. Though this feels a bit wrong. `host` mode doesn't really have a concept of mapped ports - the ports are simply on the host. It seems like we'd be stretching this method beyond it's

[2022-08-25 12:09] REslim30 commented on #5098
It sees like the latest docs do not suggest usage of `getTestHostIpAddress()` and instead suggest usage of the host exposing mechanism: https://www.testcontainers.org/modules/webdriver_containers/
![Screenshot from 2022-08-25 21-39-10](https://user-images.githubusercontent.com/43259657/186660479-de461e65-986e-43e7-a8b7-371088641f19.png)
I think this issue can be closed.

[2022-08-25 12:14] REslim30 commented on #5403
Hi @csa777 do you have a code snippet of what you mean? I'm having a trouble visualizing your setup.

[2022-08-25 12:53] kiview commented on #5151
Thanks for the investigation @REslim30, this is super helpful to proceed with this.

Both your points are valid and solution 1 seems very pragmatic. And we can improve on this by documenting this behavior in the Javadoc. The blast radius of solution 2 feels too high for me, to be really feasible.

Before talking more about the potential solutions, I would like to circle back to understand the use

[2022-08-25 12:58] sureshgadupu commented on #5769
Thanks for providing the explanation @kiview .
I will check with Podman community

[2022-08-25 14:42] easterwood commented on #5765
I had setup the Docker daemon within WSL2 with my bare hands ;) but I think it works the same like `dockerinwsl`. The workaround seems to be good enough for now. One have to do some configuring anyway.

[2022-08-25 15:02] Shmayro commented on #606
A possible solution to restart a container :
https://stackoverflow.com/a/73489794/6485371

[2022-08-25 15:35] eddumelendez commented on #5768
Thanks for raising the issue! This is not an issue in the image. See the [releases notes
](https://www.mongodb.com/docs/manual/release-notes/6.0-compatibility/#legacy-mongo-shell-removed) about MongoDB 6

It is not offered as you can see in the image below.

<img width="246" alt="Screen Shot 2022-08-25 at 9 25 45" src="https://user-images.githubusercontent.com/1810547/186706904-10c8be49-2333-4814-

[2022-08-25 16:17] kiview commented on #5765
Interesting that your setup has the same behavior regarding IPv6 as the `dockerinwsl` package, I wonder why it is like that? 🤔
Either way, happy that this configuration works 🙌

[2022-08-25 16:17] #5765 closed

[2022-08-26 06:44] REslim30 commented on #5278
Hi @dboreham, it looks like it's currently in the works: https://github.com/testcontainers/testcontainers-java/issues/5596

[2022-08-26 07:10] kiview commented on #5596
I am closing this as a duplicate of #5278.

[2022-08-26 07:10] #5596 closed

[2022-08-26 07:11] bernermic commented on #5768
related with [https://github.com/docker-library/mongo/issues/558](https://github.com/docker-library/mongo/issues/558)

[2022-08-26 07:12] kiview commented on #5278
The WIP PR is #5608. We are still considering different approaches to implementing the support since Compose V2 contains breaking changes.

[2022-08-26 07:12] kiview commented on #5393
Fixed by #5684.

[2022-08-26 07:12] #5393 closed

[2022-08-26 09:02] rgugliel-da commented on #5151
We need that as part of the quite specific pipeline.
We use Testcontainer to run an Oracle DB for testing on CI (Oracle enterprise). The reason we use Testcontainer and not directly the Oracle container is because of [technicalities of our CI platform](https://discuss.circleci.com/t/interacting-with-secondary-images/37315/3). This nesting of containers creates issue with queries issue to the DB ex

[2022-08-26 09:16] kiview commented on #5151
@rgugliel-da Thanks for sharing the context. So this is for solving an issue when using a containerized CI and you using Docker-Socket-Mounting to start sibling containers?

I think I don't yet understand how the network setup affects querying the database in this case. Did you consider putting the sibling container on the same Docker network as the containerized test JVM and don't use dynamic por

[2022-08-26 12:46] bsofiato commented on #5737
Sure, @eddumelendez. In one project, we used the WNameless Oracle image with OracleAQ.  To make it run correctly, we had to disable Oracle's "asynch.io" feature, which is done by setting an environment variable of the docker image.

@kiview, I feel bootstrapping database containers thru JDBC url is way simpler than providing a custom database. Especially when using SpringBoot as all the container'

[2022-08-26 13:06] kiview commented on #5737
@bsofiato Are you aware of the [`DynamicPropertySource`](https://docs.spring.io/spring-framework/docs/current/javadoc-api/org/springframework/test/context/DynamicPropertySource.html) configuration approach in Spring-Boot for setting the respective properties using the container object? It is the recommended way by Spring-Boot and the mechanism was specifically introduced to allow for an easier int

[2022-08-26 15:22] eddumelendez commented on #5737
I totally agree with @kiview here. Testcontainers JDBC integration is a convenient way to use however in case there are most complex cases the recommended way is to use the container class for customization.

[2022-08-26 16:04] BarkingBad opened #5773 "[Bug]: DockerComposeContainer.getContainerByServiceName not working as expectd"
### Module

Core

### Testcontainers version

1.17.3

### Using the latest Testcontainers version?

Yes

### Host OS

MacOS 12.4 (21F79)

### Host Arch

ARM (M1)

### Docker version

[code]

### What happened?

I wanted to use function `getContainerByServiceName` to obtain `ContainerState` for further processing. The function mentioned earlier accepts the parameter called `serviceName`. The very s

[2022-08-27 02:19] REslim30 commented on #5773
I can take a look at this one

[2022-08-29 08:25] dgm90 opened #5781 "[Bug]: Cannot run mariadb container on Apple Silicon (M1)"
### Module

MariaDB

### Testcontainers version

1.17.3

### Using the latest Testcontainers version?

Yes

### Host OS

MacOS

### Host Arch

ARM

### Docker version

[code]

### What happened?

In my unit tests I use `testacontainers/mariadb`, that doesn't support ARM architecture.
I've checked the base image and it [uses the tag `10.3.6`](https://github.com/testcontainers/testcontainers-java/bl

[2022-08-29 17:21] swanysimon commented on #2472
@kiview pulling the conversation back to the original issue

https://github.com/testcontainers/testcontainers-java/pull/2741#issuecomment-1225513472

I don't really disagree with your comment on the PR, and it lines up with the general messaging from this project, but that's not necessarily why people are using this library. For a lot of us, we're transitioning manual workflows into automated test

[2022-08-30 03:27] dhoard opened #5784 "[Bug] GenericContainer doesn’t properly split commands"
### Module

Core

### Testcontainers version

1.17.3

### Using the latest Testcontainers version?

Yes

### Host OS

ALL

### Host Arch

ALL

### Docker version

[code]

### What happened?

GenericContainer `setCommand` uses Java String `split` to build the array of command parts. If the command contains quoted arguments/quoted arguments with escaped quotes, the container fails.

Example command:

[2022-08-30 09:56] piotrminkina opened #5785 "[Bug]: Compile errors with class annoteted with @CompileStatic"
### Module

Core

### Testcontainers version

1.17.3

### Using the latest Testcontainers version?

Yes

### Host OS

Linux

### Host Arch

x86_64

### Docker version

[code]

### What happened?

I'm not sure if this is a problem on the testcontainers-java side or a specificity of the Groovy language. If this is not your problem, I apologise for the wasted time.

Anyway, I've noticed a problem whe

[2022-08-31 00:27] eddumelendez commented on #5781
Hi @dgm90, we are deprecating the use of `new MariaDBContainer()` due to the attachments to a specific image version. Instead, we recommend the use of `new MariaDBContainer("mariadb:10.3.8")`.

[2022-08-31 00:27] #5781 closed

[2022-08-31 00:39] eddumelendez commented on #5594
https://hub.docker.com/r/codenotary/immudb

[2022-08-31 00:39] eddumelendez commented on #5594
[docker image](https://hub.docker.com/r/codenotary/immudb)
[github repository](https://github.com/codenotary/immudb)

[2022-08-31 00:40] eddumelendez commented on #5594
[docker image](https://hub.docker.com/r/codenotary/immudb)
[github repository](https://github.com/codenotary/immudb)

@kiview wdyt?

[2022-08-31 09:51] kiview commented on #5594
@shreelakshmijoshi

ImmuDB looks like a nice technology, but I would like to understand what the problems are of using it with `GenericContainer`?Connections seem to be done with a specific client rather than with a JDBC driver, so no need to integrate with the Testcontainers JDBC driver feature.

If it works straight-forward with `GenericContainer`, maybe contributing an [https://www.testcontaine

[2022-08-31 16:05] eddumelendez commented on #4283
CosmoDB support was added #4303 and release it at [1.16.1](https://github.com/testcontainers/testcontainers-java/releases/tag/1.16.1)

[2022-08-31 16:05] #4283 closed

[2022-08-31 16:20] eddumelendez commented on #4860
We already merged https://github.com/testcontainers/testcontainers-java/pull/4683 and it will be available in the next release and there is also `com.hmhco:testcontainers-consul`

[2022-08-31 16:20] #4860 closed

[2022-08-31 16:39] eddumelendez commented on #2968
#4053 merged and it's available since 1.16.0

[2022-08-31 16:39] #2968 closed

[2022-08-31 20:38] #5773 closed

[2022-09-01 06:40] BogdanAdrian11 commented on #4792
@SusurHe can you tell us what you did to fix it? I'm having the same issue on the same MacBook configuration.

[2022-09-02 04:23] s-jepsen commented on #5622
Any progress on this?

[2022-09-02 04:28] s-jepsen commented on #1537
Any progress on this?

[2022-09-02 07:21] REslim30 commented on #5182
@cheatmenot Thanks for the issue. I've been able to reproduce it on my end. Will investigate tomorrow.

[2022-09-02 09:10] R4V3NN0 opened #5818 "[Bug]: MongoDbContainer uses unknown command while spinup"
### Module

MongoDB

### Testcontainers version

1.17.3

### Using the latest Testcontainers version?

Yes

### Host OS

Windows

### Host Arch

64 Bit

### Docker version

[code]

### What happened?

While testing, the MongoDbContainer cant be spinned up, while our normal deployment with docker compose works fine.

It seems like Testcontainers is using an unknown command while starting the docker

[2022-09-02 09:35] emmanuel099 commented on #5818
Support for MongoDB 6 has recently been added to Testcontainers, see https://github.com/testcontainers/testcontainers-java/pull/5771 (not released yet).

[2022-09-02 11:53] R4V3NN0 commented on #5818
Oh okay. Thanks for the help. I think this bug ticket is now unnecessary so Im going to close it

[2022-09-02 11:53] #5818 closed

[2022-09-02 13:46] laglangyue opened #5819 "[Bug]: java.lang.IllegalStateException: Could not connect to Ryuk at localhost:49158"
### Module

Core

### Testcontainers version

1.16.3

### Using the latest Testcontainers version?

Yes

### Host OS

ubuntu 22

### Host Arch

Ubuntu SMP Fri Aug 19 08:01:16 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux

### Docker version

[code]

### What happened?

java.lang.IllegalStateException: Could not connect to Ryuk at localhost:49154

	at org.testcontainers.utility.RyukResourceReaper.maybeSt

[2022-09-02 13:47] laglangyue commented on #5819
![image](https://user-images.githubusercontent.com/35491928/188159968-50ca38e3-bc88-4d3d-8a70-8a1c4af8d0fc.png)

[2022-09-02 13:48] laglangyue commented on #5819
above screenshot,the container is running，I don't know what happened

[2022-09-03 01:54] eddumelendez commented on #1775
Closing it. In order to know more, please read the comment left [here](https://github.com/testcontainers/testcontainers-java/pull/1833#issuecomment-1190543550)

[2022-09-03 01:54] #1775 closed

[2022-09-03 02:02] eddumelendez commented on #1603
Nowadays, testcontainers support [image name substitution](https://www.testcontainers.org/features/image_name_substitution/) which solves issues like this.

@wavetylor feel free to reopen if I missed something.

[2022-09-03 02:02] #1603 closed

[2022-09-03 02:05] eddumelendez commented on #2408
It was fixed in 1.17.3.

[2022-09-03 02:05] #2408 closed

[2022-09-03 02:19] eddumelendez commented on #4475
Oracle R2DBC driver requires Java 11 and Testcontainers uses Java 8.

[2022-09-03 02:21] eddumelendez commented on #4575
Nowadays, we are using lombok 1.18.24. That should fix your issue @welly87 ! Feel free to reopen if still having issues with latest versions of testcontainers.

[2022-09-03 02:21] #4575 closed

[2022-09-03 02:32] eddumelendez commented on #5819
@laglangyue Can you try updating to testcontainers 1.17.3, please?

[2022-09-03 04:56] REslim30 commented on #5182
Still looking into the root cause of this issue. But I've found that using the previous host config doesn't throw the exception:

[code]

@cheatmenot does this or what @rudreshtrivedi suggested work as a workaround?

[2022-09-03 05:28] laglangyue commented on #5819
It't error for network of docker.

[2022-09-03 05:28] #5819 closed

[2022-09-03 06:22] REslim30 commented on #5182
As for the technical details, `GenericContainer` generates it's own `HostConfig` and applies certain settings (See `GenericContainer$applyConfiguration`). When you create a new host config in `GenericContainer$withCreateContainerCmdModifier`, you overwrite the one generated by `GenericContainer`. This can cause undefined behavior - thus it's recommended to modify the existing host config instead o

[2022-09-04 08:29] sureshgadupu commented on #5769
I was able to resolve the issue after watching the youtube [video ](https://www.youtube.com/watch?v=iOxILJIYsuY).

After setting events-backend to k8s-file in /usr/share/containers/container.conf file in virtual machine my tests are running fine.

If you are using Podman version 4.2, no need to change cgroup-manager option

[2022-09-05 07:55] miPlodder commented on #4792
@SusurHe I'm facing the same issue on Windows machine running docker via Rancher Desktop. Moreover, I see this issue is interim. Are you aware of the cause/fix?

[2022-09-05 09:53] hariohmprasath opened #5823 "[Feature]: Support for AWS Dynamodb"
### Module

New Module

### Problem

Dynamodb is one of the popular key-value store used to build scalable enterprise applications. Currently AWS supports a light weight version of Dynamodb that can run inside a container, as a developer I would love to test my code using the local version (with no additional cost) then deploy the code to containers running in cloud.

If you team approves this sup

[2022-09-05 10:04] hariohmprasath commented on #5784
Hi @dhoard,
Container.java also provides another version of `setCommand` method that allows sending in an array directly

Method signature:
[code]

Example usage:
[code]

Will this work?

[2022-09-05 13:32] dhoard commented on #5784
@hariohmprasath sure, that method is a workaround if the parts are already split.

In my scenario, I am reading a complex/quoted command line from a file. Ideally, I should be able to pass the whole command line to `setCommand(String command)` as is.

[2022-09-05 14:14] eddumelendez commented on #5823
Hi @hariohmprasath ! Thanks, but unfortunately, similar to #4663 #5681 we are not considering publishing a specific dynamodb module because Testcontainers already provides a [LocalStack](https://www.testcontainers.org/modules/localstack/) which offers DynamoDB.

[2022-09-05 14:14] #5823 closed

[2022-09-05 18:02] firstpostt opened #5824 "[Bug]: Postgres custom enum types are not working with TestContainer driver"
### Module

PostgreSQL

### Testcontainers version

1.17.3

### Using the latest Testcontainers version?

Yes

### Host OS

MAC

### Host Arch

MAC

### Docker version

[code]

### What happened?

Hi,
In the integration test, I am trying to save an entry in a table of the TestContainers Postgres database using SpringData repository.

But I get the error:
`org.postgresql.util.PSQLException: ERROR:

[2022-09-05 18:15] #5824 closed

[2022-09-06 20:40] vishnu-ramana commented on #3834
I'm facing this issue in my M1 Mac Pro.
Spring version : 2.6.8

I tried the above solutions but I still couldn't get this to work.
I've added `testImplementation "org.testcontainers:spock:1.16.3"` to my build.gradle file and I'm sure no other old versions are being used (confirmed by running `gradle dependencies` command and searching for jna.) But still keep getting the below error:

[code]

[2022-09-07 07:33] hariohmprasath opened #5828 "[Feature]: Support creating containers on-the-fly using CloudNative buildpacks"
### Module

Core

### Problem

Currently, as a developer I can create temporary containers on the fly from a docker file using `ImageFromDockerfile` class. But what if I don’t have a `Dockerfile` and I just want to point to a codebase and generate a container image out of it on the fly and use the same container to run some integration tests? Currently, it’s not possible. Here are some scenarios w

[2022-09-07 07:38] hariohmprasath commented on #5823
Got it, I should have checked the support for LocalStack before submitting this. Thanks for letting me know.

[2022-09-08 08:14] REslim30 commented on #5182
I think this is a bug from docker-java. I've submitted an issue for it above. Not sure if we can do anything on Testcontainer's side until there's a fix for it.

[2022-09-08 11:26] REslim30 commented on #5622
[code]
I've been able to reproduce this on my end. It looks like `ContainerDatabaseDriver` ignores the `info` argument completely. Thanks for the issue @zarebski-m. Let me look into this.

[2022-09-08 12:07] alxxyz commented on #3969
@tomazfernandes can you please share your implementation?

[2022-09-08 13:37] VMarisevs opened #5830 "[Bug]: PulsarContainer startup timeout"
### Module

Pulsar

### Testcontainers version

1.17.3

### Using the latest Testcontainers version?

Yes

### Host OS

Mac

### Host Arch

Apple M1 Pro

### Docker version

[code]

### What happened?

I have an integration test that should start pulsar and read a few messages from it.
It runs fine in jenkins on remote, but locally I cannot start the test as it fails with the timeout specified. It

[2022-09-08 13:43] VMarisevs commented on #5830
PR that should solve the problem
https://github.com/testcontainers/testcontainers-java/pull/5674/files

[2022-09-08 16:03] eddumelendez commented on #3969
Other databases provide `withDatabaseName` to set an env var which is offered by the official image. In MSSQL, there is no such env var, see all env var available [here](https://docs.microsoft.com/en-us/sql/linux/sql-server-linux-configure-environment-variables?view=sql-server-2017). I've found this cmd `/opt/mssql-tools/bin/sqlcmd -S localhost -U sa -P Yukon900 -d master -i setup.sql` where setup

[2022-09-08 17:02] tomazfernandes commented on #3969
Hi @alxxyz and @eddumelendez, thanks for looking into this.

I came up with a simple workaround by subclassing `MSSQLServerContainer.java` and overriding a few methods.

It's been a while - not sure how the codebase looks these days. But basically I added a hook in the `waitUntilContainerStarted` method that creates the table after the connection has been stablished if a `databaseName` was provide

[2022-09-08 17:14] tomazfernandes commented on #3969
From the top of my head, perhaps adding a hook such as `executeAfterSuccessfulConnection` or similar in the parent class, to be optionally implemented by subclasses such as `MSSQLServerContainer`.

[2022-09-08 17:22] eddumelendez commented on #3969
`JdbcDatabaseContainer` already uses the `containerIsStarted` to run the scripts. I think we can take the advantage of it and run the sql command to create the database.

[code]

[2022-09-08 17:29] tomazfernandes commented on #3969
Sure! Though I remember there was some lifecycle gotcha in what I was trying to achieve - not sure what exactly.

I think the use case would be creating the container, a `myDB` database, and running `ALTER DATABASE myDB SET READ_COMMITTED_SNAPSHOT ON` before the application starts, with everything from `TC` and the app pointing to this new DB.

[2022-09-08 17:46] tomazfernandes commented on #3969
I remember we used flyway for schema migration with Spring Data JPA, and it tried to connect to `myDB` before we had a chance to do anything.

Not sure if there's anything similar in `TC`'s startup that it'd try to connect to the DB early.

Other than that no worries, just trying to remember what I went through back then

[2022-09-09 09:28] jxerome commented on #4279
I got this issue too !

[2022-09-09 22:59] eddumelendez commented on #5182
thanks for the discovery @REslim30 ! from testcontainers' point of view, it is right what you said `HostConfig` is already created by `GenericContainer`. So, doing something like it was initially proposed will override some configuration. It is also mentioned in the [docs](https://www.testcontainers.org/features/advanced_options/#customizing-the-container)

[2022-09-10 04:31] eddumelendez commented on #5828
@hariohmprasath thanks for the idea! I think you may be interested in #5623. Although it is not related to buildpacks it covers the same need. I think it would be great to have something similar to what the spring boot team which AFAIK doesn't use pack cli but has its own implementation. Unfortunately, it's not something we can reuse 😢

would like to hear from @kiview and @bsideup on this one

[2022-09-10 05:51] hariohmprasath commented on #5828
Hi @eddumelendez, Thanks for your response and pointing me to the PR.

Here are my two cents:
Based on my experience `jLib` only supports building java docker images, but users working with `testcontainers` would like to launch on-the-fly containers based on any language runtime for a variety of usecases. So falling back on existing buildpack/builder implementations like `paketo` would help us pro

[2022-09-12 06:20] alexsuter opened #5833 "[Bug]: Timeout exception when getting webdriver of BrowserWebDriverContainer"
### Module

Selenium

### Testcontainers version

1.17.3

### Using the latest Testcontainers version?

Yes

### Host OS

Linux

### Host Arch

x86

### Docker version

[code]

### What happened?

In 8 of 10 cases I get a TimeoutException when calling `org.testcontainers.containers.BrowserWebDriverContainer.getWebDriver()` but only with Selenium 4. This does not happen with Selenium 3. There is a

[2022-09-12 07:54] AB-xdev commented on #5833
Same problem here. It works mostly fine for Selenium 4.2.2 but with selenium 4.4.0 >60% of our tests suffer from above problem.

It looks like sometimes the part of Selenium inside Docker needs more than 10s to respond to the initial request:

<details>
<summary>Log</summary>

[code]

</details>

[2022-09-12 08:46] REslim30 commented on #5833
Thank you @alexsuter for the issue and @AB-xdev for the additional info. I've been able to reproduce this on my end (out of 10, I got 6 `TimeoutExceptions`). Let me look into this.

[2022-09-12 12:13] laglangyue opened #5834 "[Bug]: db2 container does't work"
### Module

DB2

### Testcontainers version

1.17.3

### Using the latest Testcontainers version?

Yes

### Host OS

ubuntu22.04

### Host Arch

x86_64 x86_64 x86_64 GNU/Linux

### Docker version

[code]

### What happened?

the db2 container not work,the process has been blocked，

docker didn't has the DB2 container.

![image](https://user-images.githubusercontent.com/35491928/189650137-959174ac-

[2022-09-12 12:13] laglangyue commented on #5834
![image](https://user-images.githubusercontent.com/35491928/189650480-639d5b46-8a31-412f-bb8b-d63647186559.png)

[2022-09-12 13:04] kiview commented on #5834
Hi @laglangyue, thanks for raising an issue. I tried out our internal tests using the `db2:11.5.7.0a` image (that would correspond to `latest` in the current state) and they work fine.

I believe there should be additional log output since I can see any actual `ERROR` logs by Testcontainers. Also, please try specifying the tag explicitly instead of using `latest`, and please share the code for cre

[2022-09-12 13:34] kiview commented on #4791
For future reference, I found this related upstream issue at Rancher:
https://github.com/rancher-sandbox/rancher-desktop/issues/2609

[2022-09-12 15:11] spirostz opened #5835 "[Bug]: There is no way to test Transactions with CouchbaseContainer"
### Module

Couchbase

### Testcontainers version

1.17.3

### Using the latest Testcontainers version?

Yes

### Host OS

Windows

### Host Arch

x86

### Docker version

[code]

### What happened?

There is no way to test Transactions with CouchbaseContainer.

   Fails with "DurabilityImpossibleException:
    With the current cluster configuration, the requested durability guarantees are impossi

[2022-09-12 15:39] programmatix commented on #5835
The core issue here is that a bucket by default gets created with replicas=1, which is a sensible default for production clusters.

But on single-node clusters (which a CouchbaseContainer effectively is), it's not a valid setting.  Most operations work regardless, but durable KV ops do not - reporting the DurabilityImpossibleException error seen.  And transactions uses durable KV ops under the hoo

[2022-09-12 19:28] diegolovison opened #5837 "[Enhancement]: Support different docker context"
### Module

Core

### Proposal

[code]

When I execute my test
[code]

[2022-09-13 07:39] hariohmprasath opened #5838 "[Enhancement]: Enable CloudMap support in localstack module"
### Module

LocalStack

### Proposal

Enable `CloudMap` service support in `localstack` module. Based on @maciejwalkowiak conversation with `localstack` team `AWS CloudMap` is supported for pro-users, so if we can enable `CloudMap` service support in `localstack` module then customers can use this framework to run integration tests.

 In fact I can use this support first now to create integration

[2022-09-13 09:37] daschl commented on #5835
I agree - working on a PR to make it configurable and default to 0.

[2022-09-13 12:06] REslim30 commented on #5833
Ok I've submitted a fix for this issue.

In the meantime, the workaround would be to use a library like [awaitily](http://www.awaitility.org/) (or roll your own timeout mechanism) in order to instantiate the `RemoteWebDriver` yourself:

[code]

Which will let your specify your own timeout.

[2022-09-13 12:17] REslim30 commented on #5182
Potentially, we could add in a note there saying to opt for modifying nested objects like `authConfig`, `healthCheck`, `hostConfig`, `networkingConfig` `volumes`, instead of creating new ones as test containers might have configured its own object.

[2022-09-13 12:51] alexsuter commented on #5833
Yes. Seems to work! Thank you!

[2022-09-13 13:18] AlHoz commented on #2472
I completely agree with @swanysimon. I need this feature only for re-using the compose file used in prod. Without it, I have to maintain two files and keep them synced. How about the middle ground: testcontainers can parse a compose file with container names, but ignore the configuration option when run docker (names are not assigned to containers)?

[2022-09-13 14:56] #5838 closed

[2022-09-13 16:22] SgtSilvio opened #5843 "[Bug]: LogMessageWaitStrategy erroneously assumes each log frame contains a complete log line"
### Module

Core

### Testcontainers version

1.17.3

### Using the latest Testcontainers version?

Yes

### Host OS

Linux CentOS

### Host Arch

x86_64

### Docker version

[code]

### What happened?

`LogMessageWaitStrategy` uses a `LogContainerCmd` to follow logs.
The regex is applied to every `OutputFrame` that is processed by `FrameConsumerResultCallback`.
`FrameConsumerResultCallback` consu

[2022-09-13 18:25] diegolovison commented on #5837
Require https://github.com/docker-java/docker-java/issues/1946

[2022-09-14 04:24] denis-zhdanov opened #5844 "[Bug]: Kafka containers randomly fails to start"
### Module

Kafka

### Testcontainers version

1.17.3

### Using the latest Testcontainers version?

Yes

### Host OS

OS X

### Host Arch

intel silicon

### Docker version

[code]

### What happened?

`KafkaContainer` started with the same *testcontainers* and *confluentinc/cp-kafka* versions as mentioned in [testcontainers documentation](https://www.testcontainers.org/modules/kafka/; *testconta

[2022-09-14 05:53] Mohammad-Shehzaad opened #5845 "[Bug]: Oracle-XE database creation fails"
### Module

Oracle-XE

### Testcontainers version

1.17.2

### Using the latest Testcontainers version?

Yes

### Host OS

Windows

### Host Arch

x86

### Docker version

[code]

### What happened?

Oracle-XE container startup fails at database creation step, with the following error:
`CONTAINER: Creating pluggable database.
     CREATE PLUGGABLE DATABASE paiement-service-test-db       ADMIN USER

[2022-09-14 06:12] Mohammad-Shehzaad commented on #5845
Not a bug. An illegal Oracle-XE database name was being used.

[2022-09-14 06:12] #5845 closed

[2022-09-14 06:29] hariohmprasath commented on #5838
Awesome and Thanks @eddumelendez, i wasn't aware of this. Appreciate your response.

[2022-09-14 08:30] abstractart opened #5846 "[Bug]: Cassandra 3 container start is failed"
### Module

Cassandra

### Testcontainers version

1.17.3

### Using the latest Testcontainers version?

Yes

### Host OS

MacOS

### Host Arch

x86_64

### Docker version

[code]

### What happened?

Cassandra container failed to start

### Relevant log output

[code]

### Additional Information

[code]

[2022-09-14 09:45] eddumelendez commented on #5846
@abstractart using colima, do yo follow [this doc](https://www.testcontainers.org/supported_docker_environment/#using-colima)? Also, you can do `CassandraContainer<Nothing>("cassandra:3.11.2")`. Finally, `CassandraContainer` already has all the config needed to start the containers. I don't think `waitingFor(DockerHealthcheckWaitStrategy())` is needed.

[2022-09-14 09:47] eddumelendez commented on #5844
@denis-zhdanov are you aware of the the kafka arm images? You can fin them [here](https://hub.docker.com/r/confluentinc/cp-kafka/tags?page=1&name=arm). Kafka image is a well known image which doesn't work properly on arm and that's why a image version for arm has been released few weeks ago.

[2022-09-14 09:47] #5844 closed

[2022-09-14 10:06] denis-zhdanov commented on #5844
no, didn't know about them

Thanks for sharing!

Let me give it a try

[2022-09-14 12:59] kiview commented on #5151
Hey @rgugliel-da, any chance to follow up on my previous question? Or alternatively @javahippie?

[2022-09-14 13:15] rgugliel-da commented on #5151
Hi @kiview ,
I am very sorry for the delay in my response!

That's correct.

No, I did not. I went for the current approach because I thought I could use similar setup both locally and on CI.

[2022-09-14 13:19] #5835 closed

[2022-09-14 20:45] JohnnyMarnell commented on #4008
@bsideup @eddumelendez I've run into this again (last time was an old elasticsearch jar), this time the only JNA dep I see from `mvn dependency:tree` is from `myProject => testcontainers:jar:1.17.3:compile => docker-java-transport-zerodep:jar:3.2.13:compile => jna:jar:4.5.2:compile`. Confused why/how it's getting a low version...
[code]

[2022-09-14 20:47] JohnnyMarnell commented on #3834
happening again for me, [this time](https://github.com/testcontainers/testcontainers-java/issues/4008#issuecomment-1247284375) no other JNA though

[2022-09-15 08:39] abstractart commented on #5846
Specify startup timeout = 3 minutes helps to solve problem

[2022-09-15 08:39] #5846 closed

[2022-09-15 12:41] REslim30 commented on #5784
Hey @dhoard. Thanks for reporting this. This is a valid use case and it's no surprise that users would expect that `setCommand(String command)` to split a command properly as a normal command. Handling quotes `"` and `'` can be done at a fairly low cost. But there are complications around escaped quotes.

From an [SO post](https://stackoverflow.com/questions/3259143/split-a-string-containing-comma

[2022-09-15 14:22] dhoard commented on #5784
@REslim30 Thanks for the insight. I can see where non-POSIX commands could be a probably.

I currently have a workaround in place, so it's not blocking me.

[2022-09-15 14:46] rgugliel-da commented on #5151
Situation A.
From the build container, I run my JVM (sbt) and from there I start a testcontainer running Oracle

[2022-09-16 11:36] kiview commented on #5151
Thank you, then it seems we indeed need to support the network mode. I still don't understand why the Oracle container requires it in this setup, but since it worked in old Testcontainers versions we introduced a regression for this feature and I believe we should try to restore the fuctionality.

[2022-09-17 00:49] REslim30 commented on #5151
Sure, give me one sec.

[2022-09-17 02:13] REslim30 commented on #5151
@rgugliel-da, @javahippie @pretep22, can I confirm what environments you're on?

[Docker docs](https://docs.docker.com/network/host/)

I'm considering whether or not to throw an exception (or at least a warning) on non-linux environments when trying to use host mode.

[2022-09-17 06:52] REslim30 opened #5853 "[Enhancement]: Throw exception if user tries to set network mode "host" on non-linux systems"
### Module

Core

### Proposal

Discussion spawned off of https://github.com/testcontainers/testcontainers-java/issues/5151

As per the [docker docs](https://docs.docker.com/network/host/):

I think we should throw an exception if a user tries to set network mode "host" if they aren't on linux. E.g.

[code]

Our users will experience a lot of weirdness otherwise.
- The container will not be be rea

[2022-09-17 06:53] REslim30 commented on #5151
Ok I've submitted a PR for this.

As for:

I've added a separate issue for this. I think there's value in it. https://github.com/testcontainers/testcontainers-java/issues/5853

[2022-09-18 06:28] #5834 closed

[2022-09-18 14:43] SgtSilvio commented on #5843
Related: #643

[2022-09-18 14:43] SgtSilvio commented on #455
This problem is very likely caused by #5843

[2022-09-18 14:50] SgtSilvio commented on #4110
This problem is very likely caused by #5843

[2022-09-18 14:58] SgtSilvio commented on #4110
Imho the `FrameConsumerResultCallback` should guarantee that it passes a single and complete line to the consumer in all cases independent of stream type and fragmentation. Then, there is no need for the lines to contain any newline characters, and every consumer can add them if required.

[2022-09-19 03:41] null-sys commented on #5853
Hey @REslim30 I am interested in this issue, Can you assign this to me? It seems pretty simple as you explained it clearly.
Do we need to change documentation as well?

[2022-09-19 04:40] REslim30 commented on #5853
@null-sys Thanks, I'll take you up on that offer! No need to assign yourself haha (I don't have permissions to assign). Just submit a PR and you should be good to go.  As for documentation I think updating the javadoc should be sufficient. I can give you a bit of guidance through the process.

But before that, I wanted to discuss with @kiview or @eddumelendez whether this issue is a good idea or n

[2022-09-19 05:15] rgugliel-da commented on #5151
I use Ubuntu.

[2022-09-19 06:28] hariohmprasath commented on #1537
Hi @kiview,
We have a similar requirement and based on my understand this would be a simple fix to `ContainerDatabaseDriver.java`. Here is the summary of the proposed changes:

1. Reuse MySQL `buildConnectionStringCacheKey()` method to create the connection URL, based on URL + JDBC properties:

[code]

2. Update the following line of code in `ContainerDatabaseDriver.connect(String url, final Prope

[2022-09-20 13:40] sneakythr0ws opened #5855 "[Bug]: Unable to create a ConnectionFactory for 'ConnectionFactoryOptions{options={driver=tc"
### Module

PostgreSQL

### Testcontainers version

1.17.3

### Using the latest Testcontainers version?

Yes

### Host OS

Linux

### Host Arch

x86

### Docker version

[code]

### What happened?

`Unable to create a ConnectionFactory for 'ConnectionFactoryOptions{options={driver=tc, TC_IMAGE_TAG=9.6.8, protocol=postgresql, database=databasename}}'. Available drivers: [ postgresql, pool ]`

depe

[2022-09-20 23:00] REslim30 commented on #5784
On the [dockerfile docs](https://docs.docker.com/engine/reference/builder/#run), there seems to be mention of windows containers:

Will investigate further...

[2022-09-21 06:19] hariohmprasath commented on #5855
Hi @sneakythr0ws,
Looks like you might be missing this dependency in your gradle file which could be causing this issue:
`testImplementation "org.testcontainers:r2dbc:1.17.3"`

Can you add this and give it a try?

If you want to use testcontainers in your main spring boot application rather than test class then you may need to change the scope of this dependency to `runtime`

[2022-09-21 07:41] hariohmprasath opened #5856 "[Feature]: Module to support execution for spark programs using testcontainers"
### Module

New Module

### Problem

We don't have a simple way to run integration tests for spark programs. In my case, I either mock them to test the business logic, which defeats the purpose or end up using a large docker-compose file by manually updating the ports, environment variables, memory, and the number of work nodes depending upon my use case. If my co-worker wants to run the same prog

[2022-09-21 16:06] adamjshook opened #5857 "[Bug]: Can not connect to Ryuk at 172.17.0.1:61798: Connection refused"
### Module

Core

### Testcontainers version

1.17.3

### Using the latest Testcontainers version?

Yes

### Host OS

Mac OS X

### Host Arch

x86_64

### Docker version

[code]

### What happened?

Testcontainers is unable to connect to Ryuk after it starts. I would expect it to be able to connect and launch the additional containers.

Note I am using running tests using Testcontainers inside a D

[2022-09-21 17:46] denis-zhdanov opened #5858 "[Bug]: KafkaContainer doesn't start in docker-in-docker environment"
### Module

Kafka

### Testcontainers version

1.17.3

### Using the latest Testcontainers version?

Yes

### Host OS

Linux

### Host Arch

x86_64

### Docker version

[code]

### What happened?

`KafkaContainer` doesn't start in docker-in-docker environment. The same test works perfectly in local environment. Used kafka image `confluentinc/cp-kafka:6.2.1`.

### Relevant log output

[code]

### A

[2022-09-22 01:31] hariohmprasath commented on #5857
Hi @adamjshook,
Just curious, seems like you are using image name substitution feature to use `internal/ryuk:latest` image instead of `testcontainers/ryuk:0.3.3`, can you try directly using `testcontainers/ryuk:0.3.3` and see whether you are seeing this error?

[2022-09-22 09:30] hariohmprasath commented on #5594
@kiview and @eddumelendez,
We dont need any special configuration for running `immudb`, since I was using this for my test run I contributed the same to the example module in this PR:
https://github.com/testcontainers/testcontainers-java/pull/5860

Please review it and let me know your thoughts.

[2022-09-22 10:55] REslim30 commented on #5784
I believe Windows containers on windows (WCOW) isn't currently supported on Test containers from this issue. That work is currently being done to support it as per https://github.com/testcontainers/testcontainers-java/issues/5621.

[2022-09-22 11:32] alxxyz commented on #3969
So, currently i created a custom class
[code]
Can this be integrated in the module?

[2022-09-22 13:16] dhoard commented on #5784
I feel that a better approach than `withPosixCommand` and `withWindowsCommand` would be something like the following...

[code]

[code]

Example usages:

[code]

[code]

This would also allow a developer to provide a custom command processor to split commands, replace values in a command, validate command format, build dynamic commands, etc.

[2022-09-22 15:50] AndyLau223 commented on #3834
Thanks for all the active comments. This issue happens on my machine(Mac M1), and the solution of adding `testImplementation 'net.java.dev.jna:jna-platform:5.8.0'` into build.gradle file works fine for me, now the tests are running smoothly.

[2022-09-23 07:19] vasusethia1 opened #5861 "[Bug]: Redis Connection refused"
### Module

Core

### Testcontainers version

1.17.3

### Using the latest Testcontainers version?

Yes

### Host OS

Linux

### Host Arch

x86

### Docker version

[code]

### What happened?

Hi All, I am trying to run my integration tests for the redis but I am getting connection refused while querying the container. Following is the way I am doing

 public static final DockerImageName REDIS_IMA

[2022-09-23 12:10] bsideup commented on #5861
Not a bug. See https://www.testcontainers.org/features/networking/#exposing-container-ports-to-the-host

[2022-09-23 12:10] #5861 closed

[2022-09-24 05:41] REslim30 commented on #5784
@dhoard I like that suggestion. I think that provides good flexibility and is open to extension.

But I think at this stage we should extend the current `withCommand(String)` method, and assume that most of our users will be using linux containers (since windows containers is not supported currently). And in future, if windows containers become a thing or a certain linux distro splits commands dif

[2022-09-24 06:46] REslim30 commented on #5784
It actually might be a shell thing. From `man bash`

[code]

[2022-09-24 09:33] #5855 closed, assigned to nobody

[2022-09-24 13:17] xuan-nguyen-swe opened #5865 "[Bug]: read I/O error java.nio.channels.ClosedChannelException"
### Module

PostgreSQL

### Testcontainers version

1.17.3

### Using the latest Testcontainers version?

Yes

### Host OS

Windows 10 21H2 (19044.2006)

### Host Arch

64bit

### Docker version

[code]

### What happened?

Everything works except the error message when starting PostgreSQLContainer.

[code]

### Relevant log output

[code]

### Additional Information

Kotlin / Spring Boot

[code]

[2022-09-24 13:21] bsideup commented on #5865
The error is logged at `DEBUG` level. `DEBUG` logging is meant to be used to understand better why things aren't working, but, since you said that everything is working for you, I highly recommend configuring the logging in your project:
https://www.testcontainers.org/supported_docker_environment/logging_config/

[2022-09-24 13:21] #5865 closed

[2022-09-24 21:12] hariohmprasath commented on #5857
Hi @adamjshook,
Thanks for sharing the details, looks like `ryuk` container didn't start properly which would have resulted in a socket connection failure:

Here a sample code that would create the `ryuk` container and connect to it using `Socket` object, you can run this code in a test case and it would be easy to debug the failure from here:

[code]

[2022-09-25 06:34] hariohmprasath commented on #5858
Hi @denis-zhdanov,
If you dont mind will you be able to share the code that is used to create docker inside docker and run kafka cluster in it?

[2022-09-26 04:01] denis-zhdanov commented on #5858
hi @hariohmprasath,

Sure, it's very straightforward :)

[code]

[2022-09-26 04:42] hariohmprasath commented on #5858
Hi @denis-zhdanov,
Thanks again for the sample. I don't see any error in the cluster startup looks like it might be interrupted because of the startupRetryAttempts limit set on the `GenericContainer`, you can try increasing this value on the container (like below) before issuing `container.start()`

[code]

[2022-09-26 06:25] Manuel-Moya commented on #4801
Any progress on this? The Ubuntu 18.04 is being deprecated https://github.blog/changelog/2022-08-09-github-actions-the-ubuntu-18-04-actions-runner-image-is-being-deprecated-and-will-be-removed-by-12-1-22/

[2022-09-26 09:33] afganhalbana commented on #5049
in my case it's due to the elastic search version that i use has jna as transitive dependency that not supported the m1, so all i need to exclude it in my build.gradle.

[2022-09-26 10:51] athlordJojo commented on #3225
Are there any news about this Issue ?

[2022-09-26 10:57] kiview commented on #3225
If using `DockerComposeContainer` configured with `withLocal(true)`, using a remote Docker daemon works fine. But this requires the Docker Compose executable to be available locally.

Would this help you @athlordJojo?

[2022-09-26 11:12] kiview commented on #5487
Closed in #5729.

[2022-09-26 11:12] #5487 closed

[2022-09-26 11:50] #5622 closed

[2022-09-26 12:59] eddumelendez commented on #4801
@Manuel-Moya this is not an issue in testcontainers. we have raised an issue https://github.com/Azure/azure-cosmos-db-emulator-docker/issues/56 but have not heard back

[2022-09-26 14:08] adamjshook commented on #5857
I ran the provided code (with some additional logging) and in both cases the Ryuk container starts and the client attempts to connect at `172.17.0.1` but it fails on version 1.17.3.

Logs from the test case:

I ran the provided code (with some additional logging) and in both cases the Ryuk container starts and the client attempts to connect at `172.17.0.1` but it fails on 1.17.3.

Logs from the te

[2022-09-26 14:28] kiview commented on #5857
I think you are running into this upstream issue: https://github.com/testcontainers/testcontainers-java/issues/4395
Please try out the workaround specified [here](https://github.com/testcontainers/testcontainers-java/issues/4395#issuecomment-1158848664) and let us know if it helps.

@hariohmprasath Thanks a lot for your supportt in triaging this issue 🙇

[2022-09-27 12:11] REslim30 commented on #4110
I've been able to reproduce this issue. If you set `PostgreSQLContainer` TTY to true, then it fails to start as it relies on logs for it's startup strategy:

[code]

Though, idk much about TTYs. What's the usecase for them?

[2022-09-27 13:32] athlordJojo commented on #3225
hey @kiview !

First of all, thank you for your answer!

Does this mean, that I need to include the binaries of docker compose inside my repository ?

it would be nice to have a working example.

Thank you

[2022-09-28 08:41] kiview commented on #3225
@athlordJojo You don't need to include binaries in your repository, your environment needs to have the Docker Compose executable available (e.g. by installing Docker Compose). In which environment are you experiencing issues?

[2022-09-28 08:48] athlordJojo commented on #3225
it is currently gitlab hosted by the company for which I work, which is a completely different team. So only thing I can provide is an dockerimage which executes the tests. Would this be sufficient ?

[2022-09-28 08:49] athlordJojo commented on #3225
or more detailed: would it be sufficient, if add the binary to the dockerimage which runs my tests ?

[2022-09-28 09:18] kiview commented on #3225
Indeed, this should be the way to go.

[2022-09-28 09:25] athlordJojo commented on #3225
ah ok, thanks. I will give it try!

[2022-09-28 13:23] mcornaton opened #5868 "[Bug]: Docker-Compose, LogConsumer & service restart"
### Module

Core

### Testcontainers version

1.17.3

### Using the latest Testcontainers version?

Yes

### Host OS

Linux

### Host Arch

x86

### Docker version

[code]

### What happened?

I use TestContainers to start Docker Compose and follow logs of services to files. When a service crashes and automatically restarts - which happens a lot on start-up as our test stack is not yet stable -, l

[2022-09-28 13:48] kiview commented on #5868
Thanks for the issue report. So your set of services is in general resilient and will eventually reach the correct running state, correct?

I would recommend configuring a set of [WaitStrategies](https://www.testcontainers.org/features/startup_and_waits/#other-wait-strategies) that allow the `DockerComposeContainer` to reach the stable state before attaching the `LogConsumer`. I am quite confident

[2022-09-28 13:54] mcornaton commented on #5868
Thanks for the quick reply! That would be a solution for my personal case.
However, I think this case could be extended. As an example, what if people want to test the behavior of a service when it is restarted? They should get all the logs which I think is hard to do as of now.

[2022-09-28 13:58] joeltine commented on #5833
Unfortunately, the workaround doesn't work for me. I get:

[code]

This is happening on this line:

[code]

Presumably, it's the `getSeleniumAddress` call that's failing. My example looks exactly like yours. Using Junit w/ @TestContainers annotation at the top of my test.

[2022-09-28 14:29] adamjshook commented on #5857
I tried the workaround of mounting `/var/run/docker.sock.raw:/var/run/docker.sock` instead of `/var/run/docker.sock:/var/run/docker.sock` and I got the same `Connection refused` result.

[2022-09-28 15:47] kiview commented on #5833
@joeltine This happens because your container is not started when you call `getSeleniumAddress()`. Please share a reproducer on GitHub.

[2022-09-28 15:51] kiview commented on #5857
@adamjshook Unfortunately I don't know what else we can do here, it probably requires more detailed debugging of the Docker environment. Did you verify that `/var/run/docker.sock.raw` exists and that you can interact with it?

Can you please share your finding, that the workaround does not work for you in #4395? I will close this issue as a duplicate.

[2022-09-28 15:51] #5857 closed

[2022-09-28 16:35] tiefenauer opened #5869 "[Bug]: Localstack container does not start on Jenkins"
### Module

LocalStack

### Testcontainers version

1.17.3

### Using the latest Testcontainers version?

Yes

### Host OS

Linux

### Host Arch

X86

### Docker version

[code]

### What happened?

I am using Testcontainers' [Localstack Module](https://www.testcontainers.org/modules/localstack/) for advanced integration testing with Spring Boot, replacing the AmazonS3 client with the one from Loc

[2022-09-29 06:15] trajano commented on #2857
It's a bit janky but I used the workaround specified by @morth https://github.com/trajano/spring-cloud-demo/blob/rework/gateway/src/test/java/net/trajano/swarm/gateway/ContainerTests.java#L45 perhaps people can use it as an example

[2022-09-29 07:39] kiview commented on #5869
Thanks for the detailed issue report @tiefenauer.

I don't think it is directly related to the Docker Desktop popup you shared, since this is something specific to Docker Desktop on Windows and I would assume your Jenkins is not running on Windows (you shared above that this is a Linux host). How is Docker installed and available on Jenkins?

Our `LocalStackContainer` mounts the Docker socket, I c

[2022-09-29 08:47] edjanmichiles-toast commented on #5830
I'm facing the same issue after upgraded to the latest version (1.17.3)

[2022-09-29 08:54] kiview commented on #5830
Fixed by #5674, will be part of the next release.

[2022-09-29 08:54] #5830 closed

[2022-09-29 13:45] tiefenauer commented on #5869
We use Jenkins in a docker-in-docker (DIND) setup, so the agent running the build is a docker container itself. Unfortunately I don't have access to the Jenkins instance itself, so I cannot try out the docker command you provided.

[2022-09-29 13:49] kiview commented on #5869
I assume your setup will fail for the line I've linked above. The `LocalStackContainer` won't be available to mount the Docker socket. There is currently no easy way to disable this mount, besides copying the `LocalStackContainer` class into your own code and patching out the line. You can give it a try.

I need to check in with @eddumelendez why mounting the Docker socket is necessary, maybe we c

[2022-09-29 14:12] tiefenauer commented on #5869
I just copied `LocalStackContainer.java` to my codebase and commented out line 97 (from above comment).
Still the same result:
[code]

[2022-09-29 17:01] eddumelendez commented on #5869
@tiefenauer I found a [thread](https://localstack-community.slack.com/archives/CLRFWBFC3/p1626913427026400) related to localstack and dind setup in the localstack's slack. If there is a way to reproduce the issue will be helpful for localstack team and for us.

[2022-09-30 17:14] #5594 closed

[2022-09-30 22:33] cjmartinez217 commented on #5037
I would like to pick up this issue and start working on it!

[2022-10-01 16:37] cjmartinez217 commented on #5037
Hey I am a first time contributor and would love to take a crack at this!

[2022-10-01 17:00] cjmartinez217 commented on #5037
If there is any insight on how to approach developing this feature rather than just a work around that would be much appreciated

[2022-10-03 23:26] eddumelendez commented on #408
@sooty1892 @richiejrsilva there have been improvements since the date the issue was reported. Can you let us know if the issue still happens?

Although, nowadays, we highly recommend use [flyway](https://flywaydb.org/) or [liquibase](https://www.liquibase.org/) for such operations

[2022-10-03 23:33] eddumelendez commented on #5837
@diegolovison I think you are using Colima, right? Check the [docs](https://www.testcontainers.org/supported_docker_environment/#using-colima) on how to set the env vars.

[2022-10-04 07:06] REslim30 commented on #5283
This issue should be closed now. It's in the 1.17.4 release

[2022-10-04 07:22] REslim30 commented on #5785
@piotrminkina Idk much about Groovy but this seems to compile for me:

[code]

Does this work as a workaround for now?

[2022-10-04 07:27] REslim30 commented on #5785
Also, what were your plans with `host` network mode? I'm interested to know your use case. We're currently discussing whether or not to support `host` network mode.

[2022-10-04 07:27] marcindabrowski opened #5950 "[Bug]: updating to slf4j 2.0.x is a breaking change"
### Module

Core

### Testcontainers version

1.17.4

### Using the latest Testcontainers version?

Yes

### Host OS

macOS

### Host Arch

x86

### Docker version

[code]

### What happened?

Slf4j 2.0 is not compatible with spring boot.
It was upgraded in [#​5848](https://togithub.com/testcontainers/testcontainers-java/issues/5848)
Upgrading any dependency to the next major version in the next m

[2022-10-04 09:13] richiejrsilva commented on #408
@eddumelendez the issue does not happen anymore. thanks

[2022-10-04 09:32] tiefenauer commented on #5869
@eddumelendez : Unfortunately, I can't open the link to the slack thread since I'm not a member of this community (can I become one?). Unfortunately, I don't have insight into our company's Jenkins setup. It is a master node spinning up worker DIND agents as needed using Kubernetes.
Also investigating the log output did not give me any hints other than Localstack timing out. I'm posting it here fo

[2022-10-04 09:54] kiview commented on #5869
@tiefenauer Check [here](https://localstack.cloud/contact/) for joining the LocalStack Slack.

[2022-10-04 10:47] AB-xdev commented on #5833
The same bug also persists in Selenium 4.5.0.

I created an issue at https://github.com/SeleniumHQ/selenium/issues/11082 so that the underlying problem gets fixed.

[2022-10-04 11:28] kiview commented on #1802
Closed by #1874.

[2022-10-04 11:28] #1802 closed

[2022-10-04 11:38] kiview commented on #5950
Thank you for raising this issue, We look into reverting and publishing a hotfix release for it. What has it to do with WireMock though?

[2022-10-04 12:13] marcindabrowski commented on #5950
@kiview Maybe it has nothing to do with WireMock, but as I wrote upgrading to the minor version of the dependent library when you are releasing only the patch version is not a good practice.
For now, I could downgrade your dependency, but when you start to use the new API it will not be possible.
And, as I wrote slf4j itself it is not compatible with the previous version when you are using `logbac

[2022-10-04 12:15] kiview commented on #5950
Thanks, I understand it. I was specifically wondering about this message from you:

[2022-10-04 12:28] marcindabrowski commented on #5950
I'm confused, do you want more info about it?
The WireMock released the next patch version of `1.17.x` family, and this release included an upgrade of slf4j from `1.x.x` to `2.x.x` without checking the impact. Even if there is no impact on this, you should have a policy that prohibits such upgrades.
It should be possible only when you are moving from `1.17.x` to `1.18.x` or any other higher versio

[2022-10-04 12:30] marcindabrowski commented on #5950
So if dependabot is creating PR for you, you should look into it and check what has changed, and decide if is it acceptable in the scope of the next release, and maybe reschedule it to the next one.

[2022-10-04 12:40] piotrminkina commented on #5785
@REslim30 Thanks for reply.

Currently I'm using something like:

[code]

or something like:

[code]

Regarding the following comment:

I am using testcontainers-java to test my Artifactory instance. This instance is run by the [docker-compose](https://github.com/avast/gradle-docker-compose-plugin) plugin for Gradle. All traffic to Artifactory goes through a reverse proxy server (in my case Nginx)

[2022-10-04 12:53] tiefenauer commented on #5869
Turns out it was an issue with the company proxy after all. For some reason, LocalStack needs to download dependencies at runtime:

From https://docs.localstack.cloud/localstack/configuration/:

Since our Jenkins is behind a corporate proxy, I had to set the following environment variables: `SKIP_SSL_CERT_DOWNLOAD`, `OUTBOUND_HTTP_PROXY`, `OUTBOUND_HTTPS_PROXY`. On top of that I had to hardcode th

[2022-10-04 13:07] kiview commented on #5098
@REslim30 You are right, thanks for letting us know.

[2022-10-04 13:07] #5098 closed

[2022-10-04 13:10] kiview commented on #5869
Thanks for letting us know @tiefenauer and glad you could resolve it 👍

[2022-10-04 13:10] #5869 closed

[2022-10-04 13:47] tiefenauer commented on #5869
Thanks for your help. The issue is closed but it would still be interesting why it works with `1.1.0`, but not when using the `latest` tag...

[2022-10-04 14:10] kiview commented on #5869
`latest` does not give you any control over which image is used. So `latest` might refer to an older version in this case, that was pulled the first time you used `latest`.

[2022-10-04 14:43] kiview commented on #5950
Closed by #5951.

@marcindabrowski No problem, thanks for creating the issue.

[2022-10-04 14:43] #5950 closed

[2022-10-04 16:25] kiview commented on #5590
Hi @mshima, I just tested on x86 and `mysql:8.0.30-debian` as well as `mysql:8.0.30-oracle` work fine.

I further asked a colleague to verify on an M1 Mac, and both variants worked as well (with the `-debian` one being slower because of the emulation).

Can you please provide a minimal reproducer, based on https://github.com/testcontainers/testcontainers-java-repro? It might be related to how the

[2022-10-04 17:17] nilsmahlstaedt commented on #5680
IntelliJ IDEA 2022.2.2 (Community Edition) has no problems to find the `check` test when tasked to run all test in the ` ReproducerTest` Testclass.

Class name > Test Marker left of Text Pane > Run 'ReproducerTest'

[2022-10-04 20:29] REslim30 commented on #5785
Thanks for the detailed response @piotrminkina . We'll keep your use case in mind

[2022-10-04 21:24] eddumelendez opened #5975 "[Enhancement]: Upgrade mockserver-client-java and fix MockServerContainerRuleTest"
### Module

MockServer

### Proposal

# Context:

`MockServerContainerRuleTest` fails when upgrading to `5.14.0`. It is recommended to use the same server and client version. Currently, `MockServerContainerTest` uses `MockServerClient.class.getPackage().getImplementationVersion()` to get the version and use it as a tag in the docker image. This approach is different from `MockServerContainerRuleTe

[2022-10-04 21:31] edysli commented on #4913
Hi! I'd like to work on this. :) Is `docs/supported_docker_environment/logging_config.md` the right file to modify?

[2022-10-04 23:33] sivaprasadreddy commented on #5975
Hi @eddumelendez
With 'org.mock-server:mockserver-client-java:5.14.0' dependency the `MockServerClient.class.getPackage().getImplementationVersion()` returns `5.14.0` but there is no `jamesdbloom/mockserver` docker image published with `5.14.0` tag yet (https://hub.docker.com/r/jamesdbloom/mockserver/tags).

[2022-10-04 23:42] eddumelendez commented on #5975
@sivaprasadreddy thanks! I've updated the description in order to use `mockserver/mockserver`

[2022-10-04 23:51] sivaprasadreddy commented on #5975
@eddumelendez Created a PR https://github.com/testcontainers/testcontainers-java/pull/5977

[2022-10-05 00:17] #5975 closed

[2022-10-05 01:20] nefilim opened #5978 "[Bug]: PostgreSQLContainer fails to startup intermittently under GitHub Actions (not receiving STDOUT)"
### Module

PostgreSQL

### Testcontainers version

1.17.3

### Using the latest Testcontainers version?

No

### Host OS

Linux

### Host Arch

x86

### Docker version

[code]

### What happened?

The Postgres container fails to startup intermittently (almost consistently) when running in Github Actions using a self hosted runner.

The logs of the failed container doesn't show all the expected lo

[2022-10-05 01:28] eddumelendez commented on #5978
Hi @nefilim, can you share your code, please? We are testing very often Postgres with versions lower and greater than 11. The only scenario I can think of is the one when the Postgres container already contains data.

[2022-10-05 01:58] nefilim commented on #5978
hi @eddumelendez sure, not much to it I'm afraid:

[code]

[2022-10-05 02:08] eddumelendez commented on #5978
I would suggest to use `testcontainers-java` directly

[2022-10-05 03:20] eddumelendez commented on #5464
We should follow https://github.com/hivemq/hivemq4-docker-images/issues/38 and wait for an arm image due to is already known that it will not work well on that architecture.

[2022-10-05 03:21] #5464 closed

[2022-10-05 03:26] eddumelendez commented on #5402
Closing because there is no reply. Feel free to reopen it.

[2022-10-05 03:26] #5402 closed

[2022-10-05 03:27] #5283 closed

[2022-10-05 03:34] eddumelendez commented on #4801
Closing because of cosmosdb image is the one failing in ubuntu 20.04 and 22.04.

[2022-10-05 03:34] #4801 closed

[2022-10-05 06:46] AB-xdev commented on #5833
I think I found the problem or at least a workaround:
https://github.com/SeleniumHQ/selenium/issues/10984#issuecomment-1268011440

Using ``.withEnv("SE_OPTS", "--session-retry-interval 1")`` (in Selenium 4.4+) fixed the timeouts for me

[2022-10-05 08:48] kiview commented on #5833
@AB-xdev Thanks for sharing the workaround and your debugging findings with us, might be helpful for others as well.

[2022-10-05 14:27] nefilim commented on #5978
Some more information, this also seems to happen with the localstack container but no logs are available:

[code]

It only happens with GitHub Actions (DIND?) - always works fine locally

[2022-10-05 14:32] eddumelendez commented on #5978
are you using dind with localstack? I think you can ask localstack about it. See https://github.com/testcontainers/testcontainers-java/issues/5869#issuecomment-1262556049

[2022-10-05 14:35] nefilim commented on #5978
thanks @eddumelendez - interesting thread, though I'm doubtful that is what's happening here, localstack usually succeeds in starting up, once in a while it fails too - if the outbound access was a problem it should consistently fail no?

[2022-10-05 14:37] eddumelendez commented on #5978
I see you are using testcontainers-scala and to be honest not sure about the implementation. I would highly recommend to use testcontainers-java directly :)

[2022-10-05 23:54] #4913 closed

[2022-10-06 13:27] pariaSadatHosseiny commented on #1689
I had the same problem, we just migrated from ECS to EKS and then tests were failing because testcontainers was trying to access the docker hub rather than our private registry, so by using `**TESTCONTAINERS_HUB_IMAGE_NAME_PREFIX**` as an environment variable it is using our private registry again.

[2022-10-06 16:16] anthony-o opened #5981 "[Bug]: Testcontainers ignores Docker proxies settings"
### Module

Core

### Testcontainers version

1.17.5

### Using the latest Testcontainers version?

Yes

### Host OS

Linux

### Host Arch

x86_64

### Docker version

[code]

### What happened?

It seems that Testcontainers doesn't load `HTTPS_PROXY` and `HTTP_PROXY` environment variables inside the container build process whereas Docker successfully include those variables when it builds images

[2022-10-06 19:52] edysli commented on #5680
Would switching the dependency declaration `api 'org.junit.jupiter:junit-jupiter-api:5.9.1'` to `implementation` help? Gradle's Java Library plugin explains the [subtle difference between `api` and `implementation`](https://docs.gradle.org/current/userguide/java_library_plugin.html#sec:java_library_separation).

[2022-10-06 19:59] eddumelendez commented on #5680
@edysli yes. However, the concern is doing that change could break existing projects due to the absence of junit-jupiter in the classpath.

[2022-10-06 21:20] nefilim commented on #5978
It's not really reasonable to "check if this issue occur when using testcontainers-java" directly for a large project. From the stack traces shows it appears that testcontainers-scala is just a simple wrapper over the java library, I would be surprised if it's a problem with the scala wrapper.

The problem does appear to be limited to concurrent GHA runs.

[2022-10-06 23:07] colossatr0n commented on #1395
I ran into a similar problem as well. I was using `MountableFile.forClasspathResource("resources")`. I had accidentally specified in the pom that this directory was located in `${basedir}/src/test/java` when it was actually located in `${basedir}/src/test/kotlin`.

[code]

[2022-10-07 00:13] eddumelendez commented on #4682
My suggestion is to add a link to the oracle database docs or docker image docs so it can be linked.

[2022-10-07 00:13] #4682 closed

[2022-10-07 10:28] pkeugine commented on #5366
Hi, @kiview
Is this issue currently in progress?
If not, @ecsimsw and I would like to work on it.

[2022-10-07 11:13] kiview commented on #5978
I understand, in this case, please create an issue with https://github.com/testcontainers/testcontainers-scala. While `testcontainers-scala` is a wrapper of sorts, it has completely independent additional implementations around the actual containers abstractions, e.g. see: https://github.com/testcontainers/testcontainers-scala/blob/master/modules/postgres/src/main/scala/com/dimafeng/testcontainers

[2022-10-07 11:16] kiview commented on #5366
Sure, have a look at it @pkeugine and @ecsimsw @ecsimsw. As outlined in the comments, you might need to have a look at https://github.com/testcontainers/testcontainers-java/issues/4781 as part of it.

[2022-10-07 20:30] eddumelendez commented on #5366
pointing to kraft mode (kafka without zookeeper) [documentation](https://github.com/apache/kafka/blob/trunk/config/kraft/README.md) as a reference. @pkeugine @ecsimsw let us know if you want to discuss something. You can reach out via [slack](https://slack.testcontainers.org/) too

[2022-10-09 12:17] roulpriyambada09 commented on #1537
Hi,
I'm willing to work on this issue.

[2022-10-09 14:52] roulpriya commented on #5026
Hi,

I'm willing to work on this issue.  I tried to reproduce this issue by setting `DOCKER_HOST=` but the test cases were passing. I was running the tests on MacBook pro m1 with macOS=12.6 and docker desktop= v4.12.0 with Docker version 20.10.17, build 100c701

[2022-10-10 01:39] edysli commented on #5680
@eddumelendez it will indeed break projects relying on this transitive dependency. However, they shouldn't do this and instead declare a dependency on `org.junit.jupiter:junit-jupiter` -- just like @ilgrosso did -- since they are using it directly. For me, this is OK to break, but I'll leave this up to the maintainers, of course. :blush:

[2022-10-10 12:31] kiview commented on #5680
`junit-pioneer`, which I consider a reference implementation of JUnit5 extensions, is using `implementation` as well:
https://github.com/junit-pioneer/junit-pioneer/blob/main/build.gradle.kts#L59

[2022-10-10 12:44] kiview commented on #5026
Hey @roulpriya, great that you want to look into it.

This issue occurs, if `docker.host` is set in the `~/.testcontainers.properties` file (e.g. to a valid value), but `DOCKER_HOST` is also set and is empty.

It will show such an error:
[code]

The culprit is like this code right here, since it check only for a key, but not for empty value:
https://github.com/testcontainers/testcontainers-java/bl

[2022-10-10 15:06] mario45211 commented on #2088
Is there known issue with pulling image by testcontainers ? I keep getting below errors when image is not in local repo and testcontainers tries to pull it from remote:
[code]

[2022-10-10 17:36] #5026 closed

[2022-10-10 18:07] eddumelendez commented on #5590
thanks for the additional information @mshima ! But, I think that's related to jhipster then. Can you report it in its repository, please?

[2022-10-10 18:14] mshima commented on #5590
@eddumelendez I am already taking care on jhipster side. So I will close now.
Let me know if you think there are something that needs to be investigated about the config failure,, should be easy to test specific configuration at jhipster side.

Thanks.

[2022-10-10 18:14] #5590 closed

[2022-10-11 07:05] liang-shen opened #5984 "[Bug]: DockerComposeContainer won't use local docker auth file when withLocalCompose(false)"
### Module

Core

### Testcontainers version

1.17.3

### Using the latest Testcontainers version?

Yes

### Host OS

MacOS

### Host Arch

x86

### Docker version

[code]

### What happened?

I need use my private docker repo. When run the service in the docker compose file,
[code]
the image pull will fail with error
[code]

### Relevant log output

_No response_

### Additional Information

_No

[2022-10-11 07:27] easterwood commented on #4958
@saurabh4studies Which version of testcontainers did you used in this case?

[2022-10-11 08:38] kiview commented on #5984
Hey @liang-shen, can you try out if pulling the image works when you are using `GenericContainer` directly?

We should have explicit support for authenticated image pulling (see https://github.com/testcontainers/testcontainers-java/blob/fc3d60099165c9f73689ee3269370c5347492513/core/src/main/java/org/testcontainers/containers/DockerComposeContainer.java#L195), even in the case of using containerize

[2022-10-11 09:36] anthony-o commented on #5981
I found the following workaround in the meanwhile: add the proxy variables in the build args in [`OpenldapTestContainerIntegrationTestExtension.java`](https://github.com/anthony-o/testcontainers-proxy-issue/blob/343f4706a2289386af6e498b1150f1a85ee2efdf/src/test/java/com/github/anthony_o/testcontainers_proxy_issue/OpenldapTestContainerIntegrationTestExtension.java#L29)
[code]
According to https://d

[2022-10-11 16:57] #2185 closed

[2022-10-11 23:27] yogurtearl opened #5986 "[Bug]: Postgres waiting strategy is ineffective."
### Module

PostgreSQL

### Testcontainers version

1.17.5

### Using the latest Testcontainers version?

Yes

### Host OS

macOS

### Host Arch

ARM

### Docker version

[code]

### What happened?

When using `PostgreSQLContainer` it doesn't wait long enough and I get the error mentioned below.

Putting a small sleep at the beginner of my test method reliably fixes it.

Also, this reliably fixes

[2022-10-12 02:16] eddumelendez commented on #5986
Testcontainers requires a Docker-API compatible container runtime. During development, Testcontainers is actively tested against recent versions of Docker on Linux, as well as against Docker Desktop on Mac and Windows.
These Docker environments are automatically detected and used by Testcontainers without any additional configuration being necessary.

It is possible to configure Testcontainers to

[2022-10-12 02:16] #5986 closed

[2022-10-12 15:04] ailjushkin commented on #5364
Hey guys, If I understood correctly, this feature is not unstable already and can be marked as official behaviour.

So I'd remove unstable API in code and added extended javadoc for this, and a paragraph in the docs, that in this way we are trying to make the settings of the re-use of containers explicit to users from the outside.

[2022-10-12 20:03] yogurtearl commented on #5986
@eddumelendez

The problem is not that it doesn't work with Rancher Desktop... it "just works" with Rancher Desktop
but the waiting strategy for postgres is ineffective.

If you use `Docker desktop` and it takes longer for some reason (system load on CI) it will also fail...
When my CI is under high load port availability might also take 3 seconds and cause a failure.

ONLY waiting for this log me

[2022-10-12 21:04] eddumelendez commented on #5986
There is no need to modify default values. You can customize it `new PostgreSQLContainer<>("postgres:14").withStartupTimeout(Duration.ofMinutes(2))`.

[2022-10-12 22:08] edysli commented on #4781
I've tried to reproduce this issue by updating the container images used in `KafkaContainerTest` to the latest ones from Confluent (7.2.2), but the tests in this class still pass... :/ See #5989. I also tried with 6.2.2 and 7.0.1, still no errors.
Is this the wrong of approaching this problem?

[2022-10-13 03:37] eddumelendez commented on #4781
Thanks for looking at this @edysli ! Looks like can not be replicated.

just saw the configuration used in `reactor-kafka` and try to replicate the issue with the tags mentioned but couldn't replicate it. See [this](https://github.com/eddumelendez/testcontainers-kafka-gha-test/blob/main/src/test/java/org/example/KafkaContainerTest.java#L34-L42) and all test passed in [GHA](https://github.com/eddum

[2022-10-13 15:26] Maciag312 commented on #700
It seems upgrading test containers version to 1.16.0 solved the issue.

[2022-10-13 16:26] eddumelendez commented on #886
@trajano you can do something like this

[code]

and then call `new CustomImageFromDockerfile().withDockerfile(Paths.get("src/test/resources/Dockerfile-multistage"))`

[2022-10-15 11:19] hungbang commented on #2127
Any update on this topic? I am facing same problem when using `reuse` feature

[2022-10-16 19:39] selberget commented on #3066
Is anyone currently working on this? I can give this a try otherwise.

As mentioned above, I noticed that you'd to include `rs.initiate()` as part of the initialization scripts (and wait until the instance is master) to be able to execute write commands in the scripts, otherwise it fails with:

[code]

Could a possible solution to this be to add an additional init script that includes the `rs.init

[2022-10-17 09:40] simonbasle commented on #4781
this appears to work again in our tests with both `6.2.2` and `6.2.7` versions of the image, so I think this can be closed 👍

[2022-10-17 13:58] eddumelendez commented on #4781
Thanks Simon! I will close it.

[2022-10-17 13:58] #4781 closed

[2022-10-17 14:33] fedinskiy commented on #5612
I would like to point out, that this issue is not specific for mysql, but for any(most?) fully-qualified names.
I checked Localstack and Nginx and got errors ` Failed to verify that image 'docker.io/localstack/localstack' is a compatible substitute for 'localstack/localstack'.` and  `Failed to verify that image 'docker.io/library/nginx' is a compatible substitute for 'nginx'` for both cases respec

[2022-10-18 02:34] liang-shen commented on #5984
sorry for late reply. yes, you are right, the issue isn't because of the pulling. it is because my compose file is using new sync (extend), the current approach, parsing yaml file, won't be able to capture the image file name
my findings,

1. yaml file MUST have version field ( should adjust the ParsedDockerComposeFile::parseAndValidate() to allow the latest sync )
2. if could, should just use "do

[2022-10-18 10:20] kiview commented on #3066
@selberget No one is currently working on this. TBH, I did not fully get your proposal. Why deal with a custom init script and not just adapt the `WaitStrategy` to robustly cover this scenario?

[2022-10-18 10:21] kiview commented on #2127
Work on this is currently not planned, while `reuse` is an experimental feature. I'd suggest using other production-grade mechanisms (e.g. Flyway, Liquibase) to set up your database schema/data instead.

[2022-10-18 10:25] kiview commented on #5984
Sorry, I did not fully understand if this is an issue with your specific Docker-Compose file here (it seems like it) or Testcontainers. I'll close this issue for now, since the initially mentioned issue is invalid (not using the existing authentication), but feel free to open a new specific issue.

[2022-10-18 10:25] #5984 closed

[2022-10-18 10:26] kiview commented on #5612
@fedinskiy did the documentation solution as mentioned by the Podman team work for you? https://github.com/containers/podman/issues/15306#issuecomment-1282109732

[2022-10-18 22:01] selberget commented on #3066
Sorry @kiview, I will try to explain myself more clearly.

If I don't include `rs.initiate()` and wait for master command in the init script, this fails after the first `.*waiting for connections.*` log message.

[code]

I'm not really sure on how I can use `WaitStrategy` to handle this scenario, i.e. making `ìnitReplicaSet()` method be executed prior to the init script and before the container re

[2022-10-19 07:53] fedinskiy commented on #5612
I uncommented `compat_api_enforce_docker_hub = true` in `/usr/share/containers/containers.conf` and it eased a problem a bit.
There is another problem(`test-containers` is falling during image pull), but I presume it's worth a separate issue :)

At the same time, I still think, that test-containers should consider `docker.io/localstack/localstack`  to be a compatible substitute for `localstack/loc

[2022-10-19 07:57] kiview commented on #5612
I am not opposed to it in general, but I feel that instead of sprinkling the code with making `docker.io` prefixed image names, we need more of an architectural solution to the codebase as a whole, especially since it also relates to https://github.com/testcontainers/testcontainers-java/issues/5275.

As you can see in this issue, besides the `docker.io` default registry topic, there is also the im

[2022-10-19 13:17] fedinskiy opened #5998 "[Bug]: Test containers fails to pull image with podman"
### Module

Core

### Testcontainers version

1.17.5

### Using the latest Testcontainers version?

Yes

### Host OS

Linux, Fedora 36, 5.19.14-200.fc36.x86_64

### Host Arch

x86

### Docker version

[code]

### What happened?

I have a code, which tries to start and stop container. If image, which I use, is not yet pulled by podman, then it fails with NPE, otherwise it succeeds.

How reproduce:

[2022-10-19 13:24] kiview commented on #5998
The workaround mentioned in https://github.com/testcontainers/testcontainers-java/issues/5612#issuecomment-1283581776 is valid for this issue, correct?

[2022-10-19 13:29] kiview commented on #4440
Closing in favor of #5998, which is more up-to-date and contains more context.

[2022-10-19 13:29] #4440 closed

[2022-10-19 13:33] kiview commented on #5998
@fedinskiy thanks for the clarification. In this case, I think the podman behavior with regards to https://github.com/testcontainers/testcontainers-java/issues/5275 is in play here. However, I am surprised by it since I would assume that what you mention as step 1. should also help.

Did you consider also raising the issue with the podman project? Because I believe, ideally podman would implement

[2022-10-19 13:42] fedinskiy commented on #5998
@kiview, yes, but could you describe, what are expected and actual responses of podman/Docker API in that case, or point me to the relevant class? NullPointerException in `checkForDockerSwarmResponse` is a not really helpful message, I am afraid.

[2022-10-19 13:44] kiview commented on #5998
Good point, this is actually an issue in https://github.com/docker-java/docker-java in this case and not in Testcontainers. Since I am not a podman user or expert and we as Testcontainers are consumers of `docker-java` (although we also help in maintaining it), I can currently only add, that Testcontainers expects a Docker-API compatible container runtime. You can find a more elaborate discussion

[2022-10-19 13:48] paubor commented on #5868
That is exactly the use case we are looking for. Grab a service from docker-compose and restart it, or even better: stop it, do some checks, start it again.

[2022-10-19 15:51] fedinskiy commented on #5998
@kiview from my point of view it is not really clear, where is an issue there.
Debugging shows, that PullImageResultCallback(from `docker-java`) receives `ResponseItem`  object with unexpected `null` inside `status` field and that the same object has `error` field with the  following text: `initializing source docker://postgres:9.6.12: unable to retrieve auth token: invalid username/password: unau

[2022-10-19 16:06] fedinskiy commented on #5998
After closer inspection, I found out, that if we use fully-qualified image names, then the error doesn't reproduce.
Example:
[code]
Hope, that help.

[2022-10-19 16:08] kiview commented on #5998
Thanks, that's what is also mentioned in the linked issues, correct? Different behavior regarding `docker.io` and `library/`.

I would suggest bringing this issue to podman, since the Docker compatibility mode clearly behaves differently than the actual Docker.

Thanks a lot for your investigation into this.

[2022-10-20 02:10] eddumelendez commented on #1005
@topalavlad `DynamicPropertySource` was introduced in spring-framework 5.2.5 and suits very well for testcontainers and set the right properties coming from the container.

@MenadKADDOUR how can we help nowadays? or can we close the issue?

[2022-10-20 02:14] eddumelendez commented on #861
the `oracle-xe` module was redesign some time ago. There should not be issue run it on macos.

[2022-10-20 02:27] eddumelendez commented on #2177
Closing due to it is already implemented via #2520

[2022-10-20 02:27] #2177 closed

[2022-10-20 02:32] eddumelendez commented on #2876
Closing this issue due to it was implemented via #2980

[2022-10-20 02:32] #2876 closed

[2022-10-20 04:10] eddumelendez commented on #1801
An example about how to use it can be found [here](https://github.com/testcontainers/testcontainers-java/blob/main/modules/cassandra/src/test/java/org/testcontainers/containers/CassandraContainerTest.java#L76-L85)

[2022-10-20 04:14] eddumelendez commented on #3178
`LocalStackContainer` will only return the base url `http://<host>:<port>`, path should be added if it required by the service in use.

[2022-10-20 04:14] #3178 closed

[2022-10-20 04:18] eddumelendez commented on #3461
See https://github.com/testcontainers/testcontainers-java/pull/5993 😃

[2022-10-20 04:30] #4764 closed

[2022-10-20 11:55] SButterfly opened #6000 "[Enhancement]: Compilation will fail if junit4 is excluded from compile classpath"
### Module

Core

### Proposal

In my project, we exclude all junit4 libraries and left only junit5-jupiter libraries.
However, the project can't compile due to missing java class `org.junit.rules.TestRule`

[code]

Ideally, I want that test containers wouldn't depend on any specific test library.

[2022-10-20 12:19] lukaspestalozzi commented on #4664
Our organisation wants to remove support of "docker in docker" during the CI-CD pipeline, mostly for security reasons.

Are there plans or workarounds to run testcontainer tests without access to docker?

[2022-10-20 12:28] bsideup commented on #4664
@lukaspestalozzi see https://www.testcontainers.cloud

[2022-10-20 12:42] thomasdac opened #6001 "[Enhancement]: Publish the official Ryuk image also on AWS Public ECR"
### Module

Core

### Proposal

**Describe the enhancement request**
Publish the official Ryuk image also on AWS Public ECR.

**What you are trying to do**
My company uses AWS as its cloud environment. Our applications use TestContainers for tests. Docker Hub has a limit of 100 images downloaded per IP for anonymous users every 6 hours, and we have some limitations for using TestContainers with cr

[2022-10-20 12:58] bsideup commented on #6001
1. Ryuk (and other images in our org) is excluded from the limits as a Sponsored OSS org: https://hub.docker.com/u/testcontainers
2. you can use ECR as a mirror: https://docs.docker.com/registry/recipes/mirror/
3. Last but not least, see this page for more options: https://www.testcontainers.org/features/image_name_substitution/

[2022-10-20 12:58] #6001 closed

[2022-10-20 14:43] fedinskiy commented on #5998
@kiview as I wrote before, first it would be nice to know, which one of three projects misbehaves there.

As far as I understand, testcontainers do a (HTTP?) requests to socket and receive(in this case), some unexpected response. Could you describe the request(s) and response(s) which are used during run of generic docker image?

[2022-10-20 15:44] kiview commented on #5998
Since Testcontainers and docker-java work fine with Docker Desktop and Docker in general, Occam's razor would suggest Podman misbehaving there. This is in line with our findings from the experiments with Podman we did run in 2021: https://www.atomicjar.com/2021/10/docker-on-windows-and-macos/

We are happy to engage with the Podman community into helping them reach full Docker API compatibility, b

[2022-10-20 15:44] #5998 closed

[2022-10-20 15:56] martin-tarjanyi opened #6044 "[Bug]: Cold not find Docker environment on macOS 12.6 with Docker For Mac"
### Module

Core

### Testcontainers version

1.17.5

### Using the latest Testcontainers version?

Yes

### Host OS

macOS 12.6

### Host Arch

Apple M1 Pro

### Docker version

[code]

### What happened?

I'm setting up a new Apple Macbook for development. I've installed the latest version of Docker for Mac. After that I've tried to run a maven build of a Java application using testcontainers. T

[2022-10-21 00:17] moradaniel commented on #5406
Hi @edeandrea Have you found a solution for this issue? I am facing the same issue.

[2022-10-21 00:18] edeandrea commented on #5406
Unfortunately no I haven't.

[2022-10-21 08:56] kiview commented on #5406
@edeandrea Your code will use the same object instance, hence this behavior is expected (but I understand it is not the desired behavior for your use case).

Can you please share what is the desired outcome? Do you want to share containers across tests or not?

[2022-10-21 09:10] kiview commented on #6000
Thanks for raising the PR @SButterfly. This is a duplicate of https://github.com/testcontainers/testcontainers-java/issues/970. We are aware of this issue and it is part of our roadmap.

[2022-10-21 09:10] #6000 closed

[2022-10-21 10:59] kiview commented on #1514
@eddumelendez WDYT about bringing your example into the Testcontainers examples (and have the link in our docs)? For me, this would then qualify as closing this issue.

[2022-10-21 11:00] #861 closed

[2022-10-21 11:01] kiview commented on #1005
Closing, since all modern frameworks nowadays provide excellent support for using dynamic ports.

[2022-10-21 11:01] #1005 closed

[2022-10-21 12:25] edeandrea commented on #5406
@kiview That is what I am attempting to do - reuse the setup across tests. The problem is when one test class stops and the next starts, it can't seem to find the container. It seems the previous container is getting town down and a new one started, yet the application still _thinks_ that the initial one is still there.

[2022-10-21 12:27] kiview commented on #5406
Gotcha, in this case, please directly use the [Singleton Container Pattern](https://www.testcontainers.org/test_framework_integration/manual_lifecycle_control/#singleton-containers) with manual lifecycle control (omit the `@Testcontainers` annotation). Should be exactly what you need 👍

[2022-10-21 12:30] edeandrea commented on #5406
Its not that simple, because the `spring.cloud.stream.kafka.binder.brokers` property needs to be injected into the environment in order for the test to correctly bind to the broker.

[2022-10-21 12:35] edeandrea commented on #5406
I guess I'm not tied to having a single container instance shared amongst tests. But even with the setup I have described above (which restarts the containers between test classes), it doesn't seem to work. The 2nd test class that starts up is still looking for the container used by the first test class

[2022-10-21 12:47] edeandrea commented on #5406
If I remove the base class and move things up (i.e. copy/paste) into the actual test classes, then things work as expected. Having stuff in the base class seems to break it.

[2022-10-21 12:48] edeandrea commented on #5406
I even tried doing something like this:

[code]

But even that was "wonky" (worked on my machine but often fails when running CI on GitHub actions).

[2022-10-21 13:25] edeandrea commented on #5406
That may be a winner!

[2022-10-21 13:33] edeandrea commented on #5406
So "it works on my machine" but not in CI...

https://github.com/quarkus-for-spring-developers/examples/actions/runs/3297785457/jobs/5439046866

[2022-10-21 13:49] kiview commented on #5406
I see the code timing out. Is this happening in your tests, or in Testcontainers code? Might it be that your test is making wrong assumptions about timings that are not correct on CI anymore and you have a race condition in your test code? Can you share a minimal reproducer?

[2022-10-21 13:53] edeandrea commented on #5406
The full application is at https://github.com/quarkus-for-spring-developers/examples/tree/main/chapter-5/chapter-5-spring-kafka-streams

There are 2 tests that use Kafka, both as a server send event stream. It sets a timeout at 4 minutes. Maybe I need to increase it? I think I tried at 10 minutes before and even then it still timed out. Its like the producer is producing to a different instance of

[2022-10-21 13:58] eddumelendez commented on #1801
We are closing it due to the example provided already shows it works. @ghost feel free to reopen if needed.

[2022-10-21 13:58] #1801 closed

[2022-10-21 14:15] edeandrea commented on #5406
I also just committed a change which brings everything up into each individual test class and doesn't use the base class anymore. CI still fails, but runs on my machine :/

[2022-10-21 14:25] kiview commented on #5406
Can you try if it works stable when using `KafkaContainer`? Since we take some steps to ensure stable usage, maybe there are some issues with how you try to replicate it using Docker Compose. Kafka is notoriously challenging to run in a container with dynamic ports, so would help to counter-check the tests and production code with `KafkaContainer`.

[2022-10-21 14:26] edeandrea commented on #5406
I can try it to try to prove this out, but its not something I want to do, since with `KafkaContainer` I'm forced to use Confluent images (which I don't want to do).

[2022-10-21 14:45] kiview commented on #5406
Good to know, thanks for checking.

Can you elaborate on why you would be forced to use a Confluent image with `KafkaContainer`? This should not be the case.

[2022-10-21 15:04] eddumelendez commented on #5406
@edeandrea you can use [Image Name Substitution](https://www.testcontainers.org/features/image_name_substitution/)

[code]

[2022-10-21 15:15] edeandrea commented on #5406
I can try that, but I _really_ want to use docker compose. I'm trying to show how I can use docker compose, write a compose file once, and use it in both my tests and when I run my app.

[2022-10-21 15:28] kiview commented on #5406
I don't see a reason why it should not work with a non-confluent Kafka image, that follows a similar structure as the Confluent Kafka image. And since we are Testcontainers maintainers, it's fine to at least try it out if we recommend it, the docs just mention the default image that will be used (and against which we test and integrate).

In Spring-Boot, but can use Testcontainers in a very conven

[2022-10-21 15:42] edeandrea commented on #5406
I tried this

[code]

but it doesn't work

[code]

[2022-10-21 15:55] #5406 closed

[2022-10-21 15:56] edeandrea commented on #5406
Thank you as always @kiview for the help!

[2022-10-21 15:59] edeandrea commented on #5406
The strimzi image can be run in kraft mode without zookeeper. Is there a way to tell that to `KafkaContainer`?

[2022-10-21 16:03] eddumelendez commented on #5406
We have an open issue to make zookeeper optional and run the KafkaContainer in Kraft mode. See https://github.com/testcontainers/testcontainers-java/issues/5366

[2022-10-21 16:06] kiview commented on #5366
Further update, #4781 is not in effect anymore, so this issue has been unblocked.

[2022-10-21 20:57] pkeugine commented on #5366
thanks for the update @kiview,
@ecsimsw and I read the comments as well.
We'll focus on this issue from now on.

[2022-10-21 23:58] #4373 closed

[2022-10-23 14:21] veita opened #6057 "[Enhancement]: Missing configuration property ryuk.disabled"
### Module

Core

### Proposal

It seems that currently there is no way to disable Ryuk via `testcontainers.properties` or `.testcontainers.properties`.

This is because the property counterpart (`ryuk.disabled`) of the environment variable `TESTCONTAINERS_RYUK_DISABLED` is not supported.

See https://www.testcontainers.org/features/configuration/

[2022-10-23 17:41] eddumelendez commented on #6057
Hi @veita this is currently on purpose. We are aware of disabling Ryuk is some CI environments. However, we haven't experienced this need in local environments. Please, take into account that Testcontainers works with Docker-API compatible runtime. For that reason, we only support it via environment variables to be explicit about disabling it in the CI definition.

[2022-10-23 17:41] #6057 closed

[2022-10-23 19:54] veita commented on #6057
Unfortunately Ryuk does not work with Podman (https://github.com/testcontainers/moby-ryuk/issues/23).

This makes it kind of cumbersome to use testcontainers with Podman in a clean way.

[2022-10-24 13:47] kiview commented on #6057
As @eddumelendez mentioned, Testcontainers works with Docker-API compatible container runtimes (see [Docker Requirements](https://www.testcontainers.org/supported_docker_environment/#overview) in our docs). It might help to raise an issue with the podman community regarding Docker API compatibility.

[2022-10-24 15:59] veita commented on #6057
Podman provides a Docker compatible API. For rootless containers it could be enabled with
[code]

After playing around with testcontainers and Podman I'm actually not that sure that Ryuk really does not work in this combination (as https://github.com/testcontainers/moby-ryuk/issues/23 suggests).

With `DOCKER_HOST`/`docker.host` set to `unix:///run/user/${UID}/podman/podman.sock` I did not see any

[2022-10-24 23:55] eddumelendez commented on #1995
[This](https://github.com/testcontainers/sshd-docker) is the repository to build `testcontainers/sshd`

[2022-10-24 23:55] #1995 closed

[2022-10-25 00:10] eddumelendez commented on #3552
this is due to how the link is shared... if it finishes with `/` then everything ok otherwise it fails. Not a testcontainers issue but one for mkdocs.

Using https://www.testcontainers.org/test_framework_integration/junit_5/ it works as expected.

[2022-10-25 00:10] #3552 closed

[2022-10-25 11:17] REslim30 commented on #5833
I believe that this issue is now fixed in selenium 4.5.1

https://github.com/SeleniumHQ/selenium/issues/10984

Could someone give 4.5.1/4.5.2 a try and see if this is still an issue?

[2022-10-25 11:49] REslim30 commented on #4286
@yaseco

Testcontainers doesn't network mode `host` currently.

There's still some discussion going around surrounding that. See https://github.com/testcontainers/testcontainers-java/issues/5151. The main concern atm, is that it's a platform dependent change (network mode "host" only works on linux).

Though I'd like to learn more about your use-case with network mode "host"? What are you planning

[2022-10-25 14:53] cgoeller opened #6062 "[Bug]: hub.image.name.prefix does not work with HTTPS-only registries"
### Module

Core

### Testcontainers version

1.17.5

### Using the latest Testcontainers version?

Yes

### Host OS

Linux

### Host Arch

x86

### Docker version

[code]

### What happened?

I am using a private docker registry (Nexus 3 with a TLS connector, http is disabled)
When configuring "hub.image.name.prefix=myregistry.domain:5000/" in the user properties file, Testcontainers seems to use

[2022-10-26 21:33] eddumelendez commented on #4308
Closing due to it was fixed last year.

[2022-10-26 21:33] #4308 closed

[2022-10-27 00:54] cowtowncoder opened #6066 "[Feature]: Inverse of "GenericContainer.waitingFor()" to catch failing startup, avoid long wait"
### Module

_No response_

### Problem

I have a container that takes quite a while to start up successfully (with somewhat unpredictable time, requiring longish time out for positive signal),  but can fail quickly; in both cases there are log lines that are reliable indicators.

But there is no way to check for negative indicators (in my case, log line stating `Unable to start server. Exiting...`

[2022-10-27 05:09] eddumelendez commented on #6066
@cowtowncoder if I understood correctly I think `IndefiniteWaitOneShotStartupCheckStrategy` is what you are looking for. See [docs](https://www.testcontainers.org/features/startup_and_waits/#indefinite-one-shot-startup-strategy-example)

[2022-10-27 10:55] isaquexavier commented on #5593
Hi everyone, any update here?
Thanks!

[2022-10-27 12:18] perlun opened #6069 "[Feature]: When all container startup attempts have failed, wait strategies should be automatically cancelled"
### Module

Core

### Testcontainers version

1.17.5

### Using the latest Testcontainers version?

Yes

### Host OS

Linux

### Host Arch

amd64

### Docker version

[code]

### What happened?

The problem we are seeing is that when the container startup has failed the configured number of times (1 in our case), the container startup isn't immediately aborted; wait strategies are (unnecessarily)

[2022-10-27 13:22] kiview commented on #6069
Thanks for the detailed reporting and investigation @perlun. Generally, you are right, if a container process did already exit, there is no good reason to further wait for the WaitStrategies to fail. Our logic already follow this sequence:

1. Wait for `StartupCheckStrategy`
2. Wait for `WaitStrategy`

So in your case, 1 did succeed, but then the container exited during 2? To change the behavior,

[2022-10-27 15:01] reta commented on #4782
Now official repo and releases: https://github.com/opensearch-project/opensearch-testcontainers/

[2022-10-27 17:12] cowtowncoder commented on #6066
@eddumelendez Thanks. I am not sure I understand how that would work -- I would want startup to fail on specific match, not run indefinitely? I'd specifically want to find out startup failed, to shorten runtime of known failing cases.

[2022-10-27 19:46] javawithrocky opened #6072 "[Bug]: TestContainers not starting in Bitbucket pipeline"
### Module

Core

### Testcontainers version

1.17.5

### Using the latest Testcontainers version?

Yes

### Host OS

Linux

### Host Arch

x86

### Docker version

[code]

### What happened?

Postgres test container does not start in BitBucket pipeline.

bitbucket.pipelines.yml

[code]

### Relevant log output

[code]

### Additional Information

_No response_

[2022-10-27 20:16] eddumelendez commented on #6072
According to our docs, ryuk should be disabled in Bitbucket. See https://www.testcontainers.org/supported_docker_environment/continuous_integration/bitbucket_pipelines/

[2022-10-28 12:21] veita opened #6073 "[Enhancement]: Provide a method to run container with the --init option"
### Module

Core

### Proposal

Currently there seems to be no way to pass the `--init` option to container runs through `GenericContainer`.

Passing `--init` can considerably reduce the overall runtime of a container run/stop lifecycle. So having such an option might be beneficial for testcontainers, too.

[2022-10-28 14:27] czerwinskimarek commented on #5833
@REslim30
Unfortunately, It's still an issue. I tested it on selenium 4.5.3 and test-containers 1.17.5 and got the same exception:
[code]

[2022-10-28 14:28] czerwinm commented on #5833
@REslim30
It's still an issue. I tested it with selenium 4.5.3 and test-containers 1.17.5 and got the same exception:
[code]

[2022-10-28 15:46] FlorianKempenich opened #6076 "[Bug]: Error when using Docker 4.13.0 - Missing symlink it seems"
### Module

MySQL

### Testcontainers version

1.15.3

### Using the latest Testcontainers version?

No

### Host OS

Mac OS

### Host Arch

x86

### Docker version

[code]

### What happened?

When trying to run a test with testcontainer, there's an error: `Could not find a valid Docker environment`

After spending a long time trying to debug the issue we found out that it's because Docker doesn'

[2022-10-28 16:10] eddumelendez commented on #6076
Hi @FlorianKempenich! We updated our docs properly, you can see it [here](https://www.testcontainers.org/supported_docker_environment/). We also had a [discussion](https://github.com/testcontainers/testcontainers-java/discussions/6045?converting=1#discussioncomment-3983224) and was properly answered. Also, looks like the change is going to be back to Docker Desktop, see [comment](https://github.co

[2022-10-28 16:10] #6076 closed

[2022-10-28 17:10] FlorianKempenich commented on #6076
Great! Thanks for the update 👍

[2022-10-28 20:53] nefilim opened #6078 "[Bug]: Container is Dead (Ryuk)"
### Module

Core

### Testcontainers version

1.17.5

### Using the latest Testcontainers version?

Yes

### Host OS

Linux

### Host Arch

x86

### Docker version

[code]

### What happened?

This is happening intermittently on GitHub Actions, more likely when multiple runs are happening concurrently:

[code]

### Relevant log output

_No response_

### Additional Information

_No response_

[2022-10-31 06:10] SusurHe commented on #4792
Update to the latest version, or set liunx/x86 docker image;

[2022-10-31 14:06] ArnauG opened #6081 "[Bug]: Test container is not compatible with docker compose version 2"
### Module

Core

### Testcontainers version

1.17.5

### Using the latest Testcontainers version?

Yes

### Host OS

MAC

### Host Arch

x86

### Docker version

[code]

### What happened?

Docker compose v2, compose the containers name with dash instead of underscore (ex seygypsegnd1-postgres-1 instead of seygypsegnd1_postgres_1). Due to this testcontainers is not capable to find the containers.

[2022-10-31 15:23] abenabderrahmane commented on #5043
Thanks @siim-romanov . Setting env variable ```TESTCONTAINERS_DOCKER_SOCKET_OVERRIDE``` did the trick for me.

[2022-10-31 17:10] eddumelendez commented on #5178
Closing because there is already an issue related to support for compose v2 https://github.com/testcontainers/testcontainers-java/issues/4565

There is also a [PR](https://github.com/testcontainers/testcontainers-java/pull/5608) you can follow.

[2022-10-31 17:10] #5178 closed

[2022-10-31 17:10] eddumelendez commented on #6081
Closing because there is already an issue related to support for compose v2 https://github.com/testcontainers/testcontainers-java/issues/4565

There is also a [PR](https://github.com/testcontainers/testcontainers-java/pull/5608) you can follow.

[2022-10-31 17:10] #6081 closed

[2022-11-01 00:12] eddumelendez commented on #5362
Closing this because of lack of activity. @swift0303 feel free to reopen it with more info or join slack channel.

[2022-11-01 00:12] #5362 closed

[2022-11-01 07:51] perlun commented on #6069
Thanks for the answer @kiview. You have a valid point here: 1 probably succeeded and then the container died while waiting for `WaitStrategy` implementations to succeed. I don't have a (simple) reproducer but I'm fairly confident that this is exactly what happened. :+1: So a feature request it is.

If you or anyone else have an idea on how to workaround this (by manual `WaitStrategy` code or somet

[2022-11-01 09:58] npepinpe commented on #3238
Would be great to see this resolved. Is anything special missing from the PR? I was willing to contribute one as well, but seeing as how there's one opened already, I'd rather see it merged :+1:

[2022-11-01 15:05] eddumelendez commented on #5181
@sriram0721 any update regarding to the last comment?

[2022-11-01 15:24] eddumelendez commented on #4684
Hi @RubenCordeiro, this is not a limitation given you can use `LocalStackContainer localstack = new LocalStackContainer(LOCALSTACK_IMAGE).withServices(LocalStackContainer.EnabledService.named("es"))`

[2022-11-01 18:36] pbasista commented on #5034
Yes, that is likely to occur when bind-mounting a volume (e.g. a file) that is owned by non-root users. The reason is that the owner user IDs and owner group IDs of such files within the Docker container remain the same as in the host OS. They might, however, represent different users and different groups.

Files owned by root are unaffected by this because its user ID is typically 0 everywhere.

[2022-11-01 19:00] akefirad opened #6084 "[Bug]: MockServerContainer Doesn't Get Reused"
### Module

MockServer

### Testcontainers version

1.17.5

### Using the latest Testcontainers version?

Yes

### Host OS

macOS

### Host Arch

x86

### Docker version

[code]

### What happened?

I've got two test-containers set up in my tests, LocalStack and MockServer. Both of them are configured `withReuse(true)` but for some reason MockServer container stops after tests are executed. I also

[2022-11-01 19:13] #6084 closed, assigned to nobody

[2022-11-01 19:15] #4052 closed

[2022-11-01 19:24] eddumelendez commented on #3123
As mentioned by @wpanas the env var should be enough.

For example:

[code]

[2022-11-01 19:24] #3123 closed

[2022-11-01 19:32] eddumelendez commented on #1487
Documentation is updated and shows code about how to use `DockerComposeContainer` with `withLocalCompose(true)`.

[2022-11-01 19:32] #1487 closed

[2022-11-01 22:22] #4275 closed

[2022-11-02 16:16] kiview commented on #6078
If you run multiple tests in parallel, it might be the case that you are running out of resources. Can you share more details on your actual setup and maybe even a reproducer?

[2022-11-03 00:47] tomazfernandes opened #6115 "[Enhancement]: Add Hazelcast Example"
### Module

Core

### Proposal

As discussed with @eddumelendez, I'll submit a simple Hazelcast example.

Thanks!

[2022-11-03 06:14] REslim30 commented on #4203
I'm currently look into this issue.

Can reproduce the error. Getting OOM errors for files 100mb locally.

Just from what I've gathered, it seems like it's possible to stream to container, I think under the hood it uses:

https://docs.docker.com/engine/api/v1.41/#tag/Container/operation/PutContainerArchive

I think the problem is that we create the Tar archive in memory - and so the whole file get

[2022-11-03 13:58] nefilim commented on #6078
Maybe running out of resources is a concern but seems to be unlikely. Just this morning it happened with a single run, no other runs within hours.

We have a dedicated `m5.4xlarge` EC2 instance (16 core, 64GB of memory) allocated to this specific organization as GHA runner. Here's the typical resource utilization running locally:

<img width="1357" alt="Screenshot 2022-11-02 at 10 28 08" src="http